[2014-12-16 06:58] #779 closed, assigned to nobody

[2014-12-16 13:46] creynders opened #786 "Useless `if` in base template"
[code]

At https://github.com/keystonejs/keystone/blob/master/templates/layout/base.jade#L33

I'm not entirely sure what was supposed to happen differently when a list contains more than one item, so I don't know how to fix it. Except removing the conditional altogether obviously.

[2014-12-17 03:51] snowkeeper opened #787 "Admin UI fails to load when auth=false since #760"
PR #760 implemented a ReferenceError when a list is not registered.

I had relied on the previous implementation and while fixing my code I found that if `auth: false`  the Admin routes fail to load with a 500 error.

In lib/core/render.js the `locals` object sets `User: keystone.list(keystone.get('user model'))`, which produces the 500.

I would prefer to not throw the ReferenceError, but one of

[2014-12-17 10:21] jjhesk opened #789 "API integration for better use"
I suggest to integrate
https://github.com/shlomiassaf/resty-stone

for the extra support for the API.

[2014-12-17 13:14] TejasCMehta opened #790 "Is there any config option in keystone for assets minification."
We want to minify `JS` and `CSS` files to minify and concate in production environment. How keystone handles this or any option to do that ?

[2014-12-17 16:57] piermariacosina opened #791 "Small bug in Tinymce clicking the textarea don't show the caret text cursor"
It is just an annoying thing when clicking a text area in the admin UI the cursor don't appear so it looks like that the text area it is no active but if you type text appear, maybe a tinymce integration bug?

I've tried to search but seems no one spotted this so no issue on github
tested in chrome

[2014-12-17 19:10] clickslide opened #793 "POST /contact fails with handlebars templates enabled."
Hello,

I have Keystone installed using Handlebars for its templates. When I attempt to send an email via Mandrill, I get the following error:

[code]
Is there something I'm missing? It seems that the mandrill implementation only works with Jade templates... Perhaps I'm mistaken.

[2014-12-18 12:26] #787 closed, assigned to nobody

[2014-12-18 13:28] #790 closed, assigned to nobody

[2014-12-18 23:02] nicdutil opened #797 "Limit password attempts"
I think we should limit the number of password attempts on the signin page.
Currently, the signin mechanism does not comply with PCI Data Security standards, which
requires to limit the number of attempts to a maximum of 6 tries.

We could probably implement some kind of incremental locking period mechanism
to avoid being locked for 30 minutes after failed attempts.

Also, I think this enhancement

[2014-12-19 00:13] #763 closed, assigned to nobody

[2014-12-19 01:59] #744 closed, assigned to nobody

[2014-12-19 02:00] sebmck opened #802 "Multiple language support"
Consolidates #744, #39

[2014-12-19 02:00] #39 closed, assigned to nobody

[2014-12-19 02:07] #453 closed, assigned to nobody

[2014-12-19 02:16] sebmck opened #803 "Permissions"
Consolidates #269, #334 Keywords: ACL, Access Control List, rbac, role based access control

[2014-12-19 02:16] #269 closed, assigned to nobody

[2014-12-19 02:16] #334 closed, assigned to nobody

[2014-12-19 02:20] #199 closed, assigned to nobody

[2014-12-19 02:33] #75 closed, assigned to nobody

[2014-12-19 13:35] jbfolkerts opened #807 "Invalid options in Enquiry email"
This seems to have been addressed in #736, but for some reason I still get "invalid options" error when attempting to send email from a freshly-minted site using generator-keystone 0.2.10 and keystone 0.2.36 and the jade template engine.

Resulting console output:
{ from: 'Email.send',
  key: 'invalid options',
  message: 'options object is required' }

Is it just me, or does something else need t

[2014-12-19 18:35] trentmillar opened #808 "Create new from details screen - Cannot convert object to primitive value"
Using keystone 0.2.36.

I have a model,

[code]

I have no issues view or creating new Order Items through the AdminUI unless I select the *+ New Order Item* from within the details screen. When I try to create a new item from here I get the following keystone error dump,

[code]

[2014-12-20 01:04] #778 closed, assigned to nobody

[2014-12-20 08:15] JedWatson opened #812 "First Community Meeting"
As suggested by @metasansana, with the upcoming release of Express 4 and React, it's a good time to have our first development community meeting to discuss our status and plans.

The topics covered will include our upcoming release plan, and how to enable certain development streams (e.g. expanding our test coverage) going forward.

I think the meeting may go best over either Skype or Google Hango

[2014-12-21 03:03] jjhesk opened #813 "Making setting panels at ease"
I would like to request to a build in setting panel that developer can easily create easy access and modification by a all-in-one setting panel.
1. static business logics
2. transaction settings
3. user preference (color, directions, location, permission, privacy, notification alerts, incoming, outgoing messages)
4. image preference
5. user role and permission settings that will able to inter-link

[2014-12-21 03:10] #777 closed, assigned to nobody

[2014-12-21 06:20] #776 closed, assigned to nobody

[2014-12-21 15:33] #789 closed, assigned to nobody

[2014-12-21 16:27] #813 closed, assigned to nobody

[2014-12-22 06:51] #786 closed, assigned to nobody

[2014-12-22 18:10] #812 closed, assigned to nobody

[2014-12-22 21:54] hdngr opened #815 "Expand documentation for API middleware..."
I'd love to add the [API middleware](https://github.com/keystonejs/keystone/blob/master/lib/middleware/initAPI.js) to the Docs and begin contributing to Keystone.  Where is a good place for this to fit in?  Would love a little direction and I'll submit a pull request.

[2014-12-23 02:41] #815 closed, assigned to nobody

[2014-12-23 05:03] #532 closed, assigned to nobody

[2014-12-23 05:16] morenoh149 opened #816 "Show upload progress in AdminUI for S3 uploads"
After investigating the bug in https://github.com/keystonejs/keystone/issues/532 is was determined that uploads were failing but the adminUI reported no errors. I suggest we do something more intelligent with the response object. Display a progress bar of the upload and display an error if the file wasn't stored to S3 properly. @JedWatson let me know if you think this is a good idea. See https://g

[2014-12-23 14:03] Industrial opened #817 "Executable flags on all the files ... why?"
I'm not sure I want to check all these files into git with +x on them. Can I get the file structure generated without it?

[2014-12-24 13:05] #807 closed, assigned to nobody

[2014-12-24 17:33] #817 closed, assigned to nobody

[2014-12-25 09:50] jjhesk opened #823 "Access-Control-Allow-Origin"
located at ./lib/middleware/initAPI
I found that there were lack of openness of the api from other servers to assess in order to become a public api.
Should I add this at the method
  res.apiResponse

[code]

[2014-12-26 15:07] webteckie opened #825 "v0.3.0: Error when viewing a relationship item of a list"
The following seems to happen when clicking the "view <list>" on a field that has a relationship selected--but so far only for a particular source list with multiple "many:false" relationship fields.  So far have not seen it on source list that only have a single "view <list>" entry...not sure if there's anything to that.  I did not see any apparent errors in the Admin UI itself other than the 500

[2014-12-26 15:11] webteckie opened #826 "v0.3.0: Types.Code UI box does not show border"
The code UI box no longer shows a border (it used to before):

![image](https://cloud.githubusercontent.com/assets/5872515/5558107/85a5792e-8ce7-11e4-8349-a47669eb0707.png)

[2014-12-26 15:38] jjhesk opened #827 "keystone server accepting a PHP cURL"
The issue is that when I try make a request from the REST client in DHC on chrome browser it works and the console log down the POST request path with the code 200 immediately. However when I try to make a server side api from php with the same request it will return an error and tell me the "failed to connect" the same path with port 3000. I investigated the cause of the error and I couldn't find

[2014-12-27 01:42] metasansana opened #828 "Potential issue with testing Keystone apps."
I'm leaving this here for further investigation. I've been hitting a wall with an app I am working and I suspect this might be the issue.

The gist is this: When I run my test individually they pass but together they throw the `cannot overwrite
model once compiled error`. There are a number of suggestions to get around this on the thread but
for me mongoose is buried beneath my app and keystone so

[2014-12-27 03:31] #823 closed, assigned to nobody

[2014-12-27 03:59] #827 closed, assigned to nobody

[2014-12-27 10:37] JedWatson opened #831 "Easier way to use Keystone without the web server"
[As discussed in the forum here](https://groups.google.com/forum/#!topic/keystonejs/w54l52aYVoo)

Keystone is currently geared to start a web server, but there are cases where you want everything initialised but not the web server (e.g. for maintenance tasks / cli scripts / etc).

It would be good to have a clearer way to do this with Keystone itself, and a note in the docs about how to do it.

Cu

[2014-12-27 10:52] JedWatson opened #832 "Add support for all Cloudinary options to the CloudinaryImage(s) field types"
We should allow all options that the Cloudinary API supports from the CloudinaryImage(s) field type options, e.g. `folder`, `use_filename`, etc.

Full list here: http://cloudinary.com/documentation/node_image_upload

[2014-12-27 11:16] #775 closed, assigned to nobody

[2014-12-27 13:50] #825 closed, assigned to nobody

[2014-12-27 13:54] JedWatson opened #833 "v0.3.0: Implement the sticky toolbar in React"
We used to have a (custom) jQuery plugin that made the toolbar stick at the bottom of the screen when the item details view scrolled.

It needs to be re-implemented in React.

[2014-12-27 13:58] JedWatson opened #834 "v0.3.0: Implement language support for the Code field"
Previously, there was a `lang` option on the `Code` field type.

Internally, the language was mapped to a mime type which was provided to CodeMirror for syntax hilighting (and some other features for certain languages like jshinting)

It needs to be implemented in the React field type, I also propose we rename the option to `language`.

[2014-12-27 14:19] #826 closed, assigned to nobody

[2014-12-27 14:45] JedWatson opened #835 "v0.3.0: Allow configuration options to be passed to CodeMirror"
As @webteckie asked in #834, you should be able to pass any options you like to the CodeMirror instance for the Code field.

The field should apply defaults but allow anything to be changed.

[2014-12-27 17:20] webteckie opened #836 "v0.3.0: Server won't start"
@JedWatson getting the following with latest 0.3.0--am I missing something?

"C:\Program Files (x86)\JetBrains\WebStorm 9.0\bin\runnerw.exe" C:\avp\nodejs\node.exe server.js

c:\avp\node_modules\express\lib\router\index.js:290
    throw new Error(msg);
          ^
Error: .get() requires callback functions but got a [object Undefined]
    at c:\avp\node_modules\express\lib\router\index.js:290:11

[2014-12-27 17:48] sabarasaba opened #837 "Storing a password using updateHandler"
Hello, I got a model with a password field and I'm trying to save data using the updateHandler but it always fails. The documentation for Type.Password says:
[code]

But I couldnt get it to work. Could anyone provide an example of how would that work ?

[2014-12-28 00:12] kmalakoff opened #838 "Consider BackboneORM for database"
I just listened to NodeUp and noticed you were not aware of [BackboneORM](http://vidigami.github.io/backbone-orm/) for cross-database, client/server databases.

We support browser over HTTP, SQL variants (via knex), mongo, and in memory.

[2014-12-29 00:41] #836 closed, assigned to nobody

[2014-12-29 05:50] jjhesk opened #840 "Common Middleware and Import Route Controllers"
I think it would be more easy to implement api base by having done in this fashion when i edit the index.js in route folder:

[code]

Any thoughts?

[2014-12-30 02:41] jjhesk opened #841 "field type boolean does not update"
on version 0.2.39, there is a bug from the model setting:

[code]

It doesn't update once the check box is unchecked but it was updated if the check box is checked.

[2014-12-30 08:20] #728 closed, assigned to nobody

[2014-12-30 08:23] #721 closed, assigned to nobody

[2014-12-30 08:25] #716 closed, assigned to nobody

[2014-12-30 08:29] #706 closed, assigned to nobody

[2014-12-30 08:31] #698 closed, assigned to nobody

[2014-12-30 08:40] #671 closed, assigned to nobody

[2014-12-30 08:41] #650 closed, assigned to nobody

[2014-12-30 08:46] #36 closed, assigned to JedWatson

[2014-12-30 08:51] #16 closed, assigned to JedWatson

[2014-12-30 09:00] #60 closed, assigned to nobody

[2014-12-30 09:22] #312 closed, assigned to nobody

[2014-12-30 09:23] #311 closed, assigned to nobody

[2014-12-30 09:48] #124 closed, assigned to nobody

[2014-12-30 10:12] #373 closed, assigned to nobody

[2014-12-30 10:16] JedWatson opened #842 "Add color picker to color field"
This isn't a blocker but I'm logging it because I thought it was done.

The React color field had a number of issues (color preview not showing up, no picker, etc) - I've cleaned it up and it works properly now but I've disabled the picker control for now.

@sebmck want to have a look and see why it's not working? (other than the fact that I commented it out)

I thought you had it all up and runni

[2014-12-30 19:36] #711 closed, assigned to nobody

[2014-12-30 20:02] #488 closed, assigned to nobody

[2014-12-30 20:06] #480 closed, assigned to nobody

[2014-12-30 20:15] #436 closed, assigned to nobody

[2014-12-31 02:52] #655 closed, assigned to nobody

[2014-12-31 03:29] #13 closed, assigned to JedWatson

[2014-12-31 04:23] #841 closed, assigned to nobody

[2014-12-31 04:27] JedWatson opened #843 "Issues with default Boolean values in createItems"
We suspect there may be an issue where `updateItems` is not respecting default Boolean values correctly, because `undefined` values are treated as a submitted `false` value by the field's `updateItem` method - see #841

The behaviour needs to be tested and, if it's an issue, we need to find a workaround that preserves our ability to respect `undefined` false values (as would be submitted by an HTM

[2014-12-31 06:30] #828 closed, assigned to nobody

[2014-12-31 12:00] jamlen opened #844 "Relationship mapping in update scripts"
After many months away from Keystone, I'm back and redoing one of my earlier sites where Keystone was only used for part of the site. (and I wanted to play with the new shiny bits!)

However, I'm having issues with the create scripts. So I was reading #334 and decided that I liked what @LegitTalon was suggesting and thought I'd give it a go.

__My issue is in the update scripts how can I setup a U

[2014-12-31 15:25] metasansana opened #845 "Keystone needs a clean shutdown interface."
Following up from #828. I'm now running into :
`Keystone failed to start: address already in use
Please check you are not already running a server on the specified port.`

This is logged when the start module detects `uncaughtException` with an error code of `EADDRINUSE`. The thing is, I'm calling `keystone.httpServer.close()`  after each test. So I should not
get this right?

I wrote some mocha t

[2015-01-01 02:51] metasansana commented on #845
Thanks @snowkeeper

[2015-01-01 06:46] jjhesk commented on #843
@webteckie @JedWatson Good job. Keep up with the great work!

[2015-01-01 08:36] JedWatson commented on #843
@webteckie from what I understand, the `doc` from the first reference and the one that's passed as the second argument to the save callback are exactly the same object. It's provided as an argument to the callback in case that is in a different scope and doesn't have access to the object that `save` was called on.

The code I was worried about is this block here:

[code]

All fields have their `up

[2015-01-01 08:36] #843 closed

[2015-01-01 16:43] webteckie commented on #843
@JedWatson just for completeness sake and so there's no confusion the second argument you see passed to the save callback is something I added here in this issue and it's not in the code...in case that's what you were referring to:-)

[2015-01-02 06:56] kirkkohler commented on #548
I've been researching a few of the Node CMS options out there.  I thought I could just grab a bootstrap theme and easily drop on top of a CMS like Keystone.  But from this thread, it sounds more complex than that.  Am I misunderstanding?  Any thoughts would be appreciated.

[2015-01-02 07:15] morenoh149 commented on #548
@kirkkohler if you grab bootstrap from a cdn its simple. If you want to rebuild bootstrap with only the elements you want you'll have to do a lot more legwork.

[2015-01-02 08:04] JedWatson commented on #843
@webteckie I meant that mongoose passes the second argument for that reason, in your example above you add an argument to the function to receive it, whereas Keystone's implementation ignores it.

So all clear :)

[2015-01-02 08:08] kirkkohler commented on #548
@morenoh149 thanks, I was more interested in grabbing a theme such as one of these https://wrapbootstrap.com/themes/page.1/sort.sales/order.desc
As @grabbou suggested, dropping in 3rd party themes that are compatible with bootstrap.

I'll try tomorrow to download keystone and integrate a boostrap theme.  Maybe it is easier than I interpreted once I drop bootstrap in via a <link> reference.

[2015-01-02 08:08] JedWatson commented on #548
@kirkkohler it wouldn't be any more easy or difficult to implement a bootstrap theme in a KeystoneJS site than any other site - you just copy the resources into your `/public` folder, include the stylesheets (etc) you need in your front end, drop the layout code into the templates, customise them and off you go.

This discussion is talking about keystone-specific themes, like Wordpress of Ghost ha

[2015-01-02 08:10] kirkkohler commented on #548
@JedWatson thanks and understood on focusing on the core.  I'll try and set something up asap.  Good luck!

[2015-01-02 08:10] JedWatson commented on #548
@kirkkohler looks like we both posted at the same time. if you're interested in writing up your experience or a guide on how you did it, that sort of resource would be great to add to the site / wiki, so let us know if you do!

[2015-01-02 08:22] JedWatson commented on #844
@jamlen While we could simplify things by turning one of the properties (in your case `name`) into the `__ref` field, in a lot of cases it's less "safe" as keys are dynamically generated, fields can be validated or updated based on schema config, etc.

So in my opinion explicitly defining a `__ref` property in the update script is clunky but much clearer once you know to do it.

I'm open for sugge

[2015-01-02 08:59] JedWatson opened #847 "Linter doesn't understand JSX"
@morenoh149 @sebmck

New tests implementation looks great.

I've noticed that the linter is now throwing a lot of issues because it doesn't understand JSX though, is there a plugin or alternative package we can use that is JSX-aware?

Alternatively perhaps we should exclude the JSX files until we find a workaround, I think it's better to lint fewer files than a get bunch of false-positives in the

[2015-01-02 09:00] sebmck commented on #847
There's [JSXHint](https://github.com/STRML/JSXHint/) (which also has a `--6to5` flag ;)).

[2015-01-02 09:50] jamlen commented on #844
@JedWatson could we make use of the `autokey` if it is set on the list?

[2015-01-02 11:19] #847 closed

[2015-01-02 18:41] jamlen opened #849 "Model Events and schedules"
I need to be able to add events and an event may or may not have a schedule. I've been trying to figure out the best way to model these in Keystone.

It seems to be a candidate for a new field type, so you can add the event details and then add the schedule items. You might also want to add multiple schedules for an event spanning multiple rooms or even campuses.

Has anyone already tackled this a

[2015-01-02 18:43] #403 closed

[2015-01-02 21:06] morenoh149 commented on #849
We have an event model in our open source site. https://github.com/r3dm/shpe-sfba/blob/master/models/Event.js But it doesn't have everything you mentioned.

[2015-01-03 13:24] littlebang opened #851 "How to translate the admin ui ?"
Where can i find the admin ui ,and how to translate it with other language.
Thanks

[2015-01-03 13:29] weekwood commented on #851
@littlebang follow http://keystonejs.com/zh/docs/getting-started/ to start.

[2015-01-03 13:38] littlebang commented on #851
@weekwood I mean the Admin UIs,its auto generated

[2015-01-03 13:59] weekwood commented on #851
@littlebang check out Fields, if you want.

[2015-01-03 14:06] littlebang commented on #851
@weekwood  The modal have a label option can change the default display ,but if i want change the `Save` button's Text  ,or other action's label ,should be possible ?

[2015-01-03 14:09] weekwood commented on #851
@littlebang  same as #834 ?

[2015-01-03 14:17] littlebang commented on #851
Maybe not

[2015-01-04 03:01] morenoh149 commented on #851
@littlebang you're going to have to dig into the fieldtypes and manually change the display text until keystone adds support for i18n

For example a quick search for `save` through the code base spits out this https://github.com/keystonejs/keystone/blob/59bd164f6a68513f68462f85c3ab15417e369756/admin/src/views/item/index.js#L125 Change `Save` to whatever you want. Repeat until you translate the ent

[2015-01-04 03:01] #851 closed

[2015-01-04 03:03] morenoh149 commented on #802
Keyword i18n i18next

[2015-01-04 03:03] morenoh149 commented on #851
https://github.com/keystonejs/keystone/issues/802

[2015-01-04 05:07] littlebang commented on #851
@morenoh149  Thanks

[2015-01-04 05:28] wuhaixing commented on #851
@littlebang There is a post about How does KeystoneJS render it's Admin UI https://gist.github.com/wuhaixing/0cc7fcdaa1be3bc9f6d3 ,hope it’s help

[2015-01-04 05:39] littlebang commented on #851
@wuhaixing  Get.

[2015-01-04 18:42] shauntrennery opened #854 "AutoKey not working for upserts."
i.e.

model.findOneAndUpdate(query, {name: name}, {upsert: true}, function (err, item)  {
  cb(err, item ? item.id : null);
});

[2015-01-04 20:24] webteckie opened #855 "Initializing DateTime field via createItems results in mongoose validation errors"
@JedWatson or anyone that may have done it, can you please post an example that uses createItems to initialize the following list:

	var Event = new keystone.List('Event', {
		track: true
	});

	Event.add({
		name: { type: String, required: true, label: "Event Title" },
		startTime: { type: Types.Datetime, initial: true, required: true },
		endTime: { type: Types.Datetime, initial: true, required:

[2015-01-04 22:07] webteckie commented on #855
Should have tried momentjs from the start.  Was trying to do it the hard way with Date and just wouldn't work for me.  With momentjs took a min :-)  Following is the entries for future reference:

        {"name" : "Test Booking 1", "status": "pending", "startTime": moment().format('YYYY-MM-DD h:mm:ss a'), "endTime": moment().format('YYYY-MM-DD h:mm:ss a'), __ref: 'Event_1'},
        {"name" : "Te

[2015-01-04 22:07] #855 closed

[2015-01-05 01:26] webteckie commented on #855
Don't event need to specify the format with moment.  The following works just fine:

        {"name" : "Test Booking 1", "status": "pending", "startTime": moment(), "endTime": moment(), __ref: 'Event_1'},
        {"name" : "Test Booking 2", "status": "pending", "startTime": moment().add(1, 'weeks'), "endTime": moment().add(2, 'weeks'), __ref: 'Event_2'},
        {"name" : "Test Booking 3", "status

[2015-01-05 03:49] SharadKumar opened #860 "Recommended architecture and implementation for long running tasks in Keystone"
Hi guys,
I am working on an app whose need is growing with time!

We first required scheduled jobs, so we implemented some using [`agenda`](https://www.npmjs.com/package/agenda) and it worked out fine. Yes, so far running within the same process as web/Keystone!

Now while accommodating a new requirement to let web users upload a large CSV (500-50000 rows, about 25 columns with few KBs to MBs of s

[2015-01-05 04:14] morenoh149 commented on #860
This is architecture and will require a lot of judgement calls. Some links:
http://gearman.org/
https://github.com/iarna/abraxas
http://zeromq.org/

If it's simple enough you could get away with forking a child process. And if the computation is cpu intensive you'll probably want to hand it off to a different lang/platform (c++/java/clojure/go/etc).

[2015-01-05 04:26] JedWatson commented on #854
Unfortunately, there's nothing we can do about this.

Mongoose middleware doesn't fire on bulk methods, although hopefully it will come with 4.0. See LearnBoost/mongoose#964

[2015-01-05 07:25] morenoh149 commented on #816
@weekwood any progress on this?

[2015-01-05 07:26] weekwood commented on #816
@morenoh149 I will send PR tom

[2015-01-05 17:23] dgitsio opened #863 "Using "index: { unique: true }" with Type.Relationship fields"
I'm not sure of expected behavior for this one but @JedWatson's comment in Issue #311 noted that mongoose supports `index: { unique: true }`  so I was trying to get that to work with a `Type.Relationship` field as described in [this thread](https://groups.google.com/d/msg/keystonejs/WYp-NDpwcPY/6pkaIughZTEJ) from the Google Group.

Is that an approach that should work similar to, e.g., `email: { t

[2015-01-05 18:44] morenoh149 commented on #816
@weekwood if you don't have access to the keystone repo you can fork it and make the pull request from your own branch. See https://help.github.com/articles/using-pull-requests/

[2015-01-05 20:23] morenoh149 opened #864 "Keystone.connect() is broken"
Not sure if this was a change from moving from express 3 to express 4 or not. Currently an express 4 object has `name = ""`. The connect function checks that name = `app`. This function is brittle and should either change to blindly accept and assign from an options object OR eliminate the function altogether and delegate this responsibility to either the `init` or `set` methods.
If this function

[2015-01-05 20:37] #286 closed, assigned to nobody

[2015-01-05 20:40] morenoh149 opened #865 "Fix jshints warnings and jscs violations"
I recently went in and fixed most of the jshint warnings in the codebase. Currently there are 24 warnings left but these are more interesting cases (unreachable code, global variable declarations, weird return values, etc). Fixing these would be great for a beginner
[code]
Moving forward. No new code should be accepted without corresponding tests and passing jshint.

[2015-01-05 20:56] robbennet opened #866 "Exposing forms and DB input to front end users"
I have a site built on Keystone using HBS templates, I'm curious if there is a suggested method for exposing "keystone editing" functionality to front end users?  Such as registration, login and editing their profile? Any thoughts, suggestions or established methods would be super-helpful.

![screen shot 2015-01-05 at 1 04 26 pm](https://cloud.githubusercontent.com/assets/1012064/5619731/61d8b3fc-

[2015-01-05 21:21] BerkeleyTrue commented on #864
@webteckie Are you using keystone to set routes? We are having major issues trying to add keystone into an existing isomorphic react/flux app.

We would like to have keystone be as minimal as possible, but we are finding the keystone not playing nicely with the express server we have built up.

Basically we want keystone just for models and admin panel.

[2015-01-05 22:10] webteckie commented on #864
@BerkeleyTrue The following sequence does not work for you?  It works fine for me.  Yeah, all routes are set via keystone.  Currently the express app doesn't do anything outside of keystone but I've set it that way just in case.  In the future I may just go with keystone's internal express app.

	var express = require('express')(),
		mongoose = require('mongoose'),
		keystone = require('keystone')

[2015-01-05 23:15] BerkeleyTrue commented on #864
@webteckie You are basically using keystone without any modifications. The way you are using it there is no point in using the connect method. Just let keystone handle it.

We are trying to integrate an already existing express app without changing our whole structure. Thanks for your comments anyways.

Turns out keystone needs a lot of fixes to work stand with an existing express app.

[2015-01-05 23:17] webteckie opened #868 "Shorthand syntax of createItems does not log errors"
@JedWatson this has been an issue forever.  I sent a PR once that logged the errors right in createItems and you tweaked the PR and logged the errors upstream in update.js, which makes sense if it would just work :-)  However, that has never worked for me with the shorthand syntax and any mongoose validation or any other errors as those are not propagated up to update.js since for some strange rea

[2015-01-06 03:01] dgitsio commented on #863
[Modified the pre hook](https://groups.google.com/d/msg/keystonejs/WYp-NDpwcPY/I583eZMsiDAJ) workaround so original record can continue to be modified, satisfying my use case.  Closing.

[2015-01-06 03:01] #863 closed

[2015-01-06 04:14] snowkeeper opened #869 "Relationship fields not validating unique when first created"
As referenced from google groups the Relationship field is not validating unique on create.  Take this model for example:
[code]
Multiple **primeMinister** fields are allowed with the same `ObjectId`.

By adding a definition directly to the schema the desired results are seen and an error is received when trying to create the second item.
[code]

This could be associated with Issue #743

[2015-01-07 00:23] webteckie commented on #868
Actually the logging I added for the callback above was bogus.  I fixed the issue in updates.js.  See PR for #870.

[2015-01-07 00:23] #868 closed

[2015-01-07 00:28] SharadKumar commented on #556
@Globegitter did this work for you in Chrome?
Still keep the issue open? :)

[2015-01-07 02:37] JedWatson commented on #556
Good question - this has been reworked by @sebmck for `0.3.0`, we should ensure it works as expected now in the master branch and then close this if it does.

[2015-01-07 03:55] BerkeleyTrue opened #871 "Add Debug to files for fine grained debugging"
[debug](https://github.com/visionmedia/debug) is an awesome module that allows fine grain debug output  with the addition of a environmental variable.

## Why?

Lets say you are trying to figure out why a list view is not rendering. You could pop open node-inspector and wait for the code to load, then step through the code, constantly pausing to check the value of objects. But with debug, you just

[2015-01-07 04:28] wuhaixing commented on #871
+1

[2015-01-07 12:03] grabbou commented on #838
Well, can somebody explain pros of changing Mongoose to another ORM? Apart from having ability to use other databases, I can't see any advantages. Generally, Keystone uses the database engine of its choice and I think that's fine as long as all the current features are working and we are not being blocked with further improvements by Mongoose or MongoDB design choices.

[2015-01-07 12:04] sebmck commented on #838
@grabbou That's the main/only advantage/incentive right now and it's a massive one. The ability to allow different databases while retaining all keystone features would be awesome.

[2015-01-07 12:21] grabbou commented on #526
@sebmck @morenoh149 Yep, hasn't been updated, mainly because I was sick and changed the country in a meantime. Also - there were few issues with underlaying libraries waiting to be merged into their master branches. For now I'll probably focus on more important features with other team members and then we will carry on storage.js development all together (doing something alone is pretty boring :(

[2015-01-07 12:23] sebmck commented on #526
@grabbou Keystone has come pretty far in the last few months, we've since had our first community meeting #812, would be great to see you at the next one.

[2015-01-07 12:27] JedWatson commented on #526
@grabbou nice to see you back, hope you're better! we're nearly ready for the major new release with React and Express 4 so we'll pick this up after that goes out :)

[2015-01-07 12:31] grabbou commented on #526
@sebmck Yeah, I can see that. I am glad it keeps developing. I think I'll speak with one of contributors on Slack to get an overview what's going on at the moment :)

@JedWatson Great work on React! Sorry for being away. Let's start contributing once again! :)

[2015-01-07 12:32] grabbou commented on #832
I am quite up to date with Cloudinary thanks to using it in my current project. Going to review that this week.

[2015-01-07 12:34] grabbou commented on #556
I remember that wysiwyg upload was quite quirky at the moment I looked into it. Nice that this's been reworked.

[2015-01-07 12:41] JedWatson commented on #838
I think it's worth offering people the ability to choose a different database _as long as it doesn't limit KeystoneJS_, and _as long as we don't end up devoting a large amount of effort to cross-database support_.

I've never (personally) seen the promise of "database agnostic" work out well at a project level - you limit yourself from being able to take advantage of the strengths of any one platf

[2015-01-07 12:49] JedWatson commented on #871
Sounds great, @BerkeleyTrue. :shipit:

[2015-01-07 13:04] #866 closed, assigned to nobody

[2015-01-07 15:13] BerkeleyTrue commented on #871
Sweet! Will add to a couple of files.

[2015-01-07 15:13] #871 closed

[2015-01-07 15:33] wangpingsx commented on #153
Really expect to have this feature!!!!!

And what i want is a Dynamic array field, which like tags for a blog post.

I have a temporary solution, I would like to share:

Design.add( {
	design: { type: String , initial: true, required: true, index: true },
	priceGroup: { type: String },
	price: { type: String},
	image: { type: Types.CloudinaryImage },
	},
	"Colours", {
		1: {
			type: String,collap

[2015-01-07 19:28] gmmeyer commented on #742
It may be loaded by default, but that doesn't seem to indicate that the default actually does anything, which, I think, is the problem.

[2015-01-07 21:17] morenoh149 commented on #864
:)

[2015-01-07 21:17] #864 closed

[2015-01-07 21:47] ginmartini opened #872 "Local Image storage"
I would prefer to keep images on my own server, maybe with the possibly of other cloud options when traffic starts to grow. I don't have any experience with cloudinary.com, but making it dependent on third party service for core functionality makes me hesitant to use it. How hard would it be to implement own solution?

[2015-01-07 21:56] morenoh149 commented on #872
have you tried http://keystonejs.com/docs/database/#fieldtypes-localfile ?

[2015-01-07 22:01] #860 closed

[2015-01-07 22:01] ginmartini commented on #872
No, I haven't. Sorry, my mistake.

[2015-01-07 22:04] morenoh149 commented on #840
is it anything like this? https://github.com/pillarjs/router https://pillarjs.github.io/ also btw @JedWatson express 5 will have the routing extracted out into its own middleware.

[2015-01-07 22:04] #872 closed

[2015-01-07 22:06] morenoh149 commented on #837
issues must include reproducible code and copy of related error messages

[2015-01-07 22:08] morenoh149 commented on #791
please provide reproducible code. A repo with a project that can be cloned would be excellent

[2015-01-07 22:10] #764 closed

[2015-01-07 22:13] morenoh149 commented on #762
I think you just want to unescape the html returned. We escape it to prevent potential XSS attacks. See `unescaped attributes` http://jade-lang.com/reference/attributes/ and change it in your codebase. If you feel this is a feature that should be added to keystone please submit a pull request for review.

[2015-01-07 22:14] morenoh149 commented on #754
stale

[2015-01-07 22:14] #754 closed

[2015-01-07 22:15] morenoh149 commented on #746
A pull request with a proposed solution is welcome

[2015-01-07 22:16] morenoh149 commented on #739
could you provide a screencap?

[2015-01-07 22:17] #735 closed

[2015-01-07 22:19] morenoh149 commented on #725
stale

[2015-01-07 22:19] morenoh149 commented on #722
stale

[2015-01-07 22:19] #722 closed

[2015-01-07 22:22] morenoh149 commented on #687
@reggi invited you to the slack

[2015-01-07 22:22] #687 closed

[2015-01-07 22:26] morenoh149 commented on #683
stale

[2015-01-07 22:26] #672 closed

[2015-01-07 22:27] morenoh149 commented on #670
solution proposal?

[2015-01-07 22:30] morenoh149 commented on #668
is this still a bug? or is it now a feature request for i18n?

[2015-01-07 22:32] morenoh149 commented on #654
not an issue

[2015-01-07 22:32] #654 closed

[2015-01-07 22:36] morenoh149 commented on #652
can you propose a solution?

[2015-01-07 22:37] morenoh149 commented on #648
@TejasCMehta could you open a new issue for your question. Or use the irc channel/google group/stackoverflow tag

[2015-01-07 22:37] #648 closed

[2015-01-07 22:38] morenoh149 commented on #647
@itzaks problem was resolved

[2015-01-07 22:38] #647 closed

[2015-01-07 22:39] morenoh149 commented on #646
@binarykitchen could you submit a pull request?

[2015-01-07 22:40] morenoh149 commented on #644
@liamwooding is your issue resolved?

[2015-01-07 22:40] #641 closed

[2015-01-07 22:40] #639 closed

[2015-01-07 22:41] #638 closed

[2015-01-07 22:41] morenoh149 commented on #637
@binarykitchen do you still have this issue?

[2015-01-07 22:41] indexzero commented on #652
It's hard to say 100%, because I'm not everywhere that the `moduleRoot` variable it is being used as reference for is used. Basically you want the root of the module that you are being required in.

_If you assume that keystone is always a first-level dependency then you can simply recurse up the directory tree to find it._

Honestly though I would just make a breaking change where you pass in the

[2015-01-07 22:42] morenoh149 commented on #636
@mombi93 do you still have this issue?

[2015-01-07 22:45] morenoh149 commented on #626
do the mongoose validations work for you? http://mongoosejs.com/docs/validation.html

[2015-01-07 22:47] mombi93 commented on #636
Nope, already taken care of. Sorry for not closing the issue sooner.

[2015-01-07 22:47] #636 closed

[2015-01-07 22:49] BerkeleyTrue commented on #637
I don't think this needs to be some hard-coded method. This should be do-able using a regular query.

[code]

[2015-01-08 00:49] BerkeleyTrue opened #873 "Use Code Style checker"
Some options have been remove from jshint, such as trailing white space, as these have been deemed as stylistic choice.

We could include [JSCS](https://github.com/jscs-dev/node-jscs) which will enforce code style choice that jshint will no longer support. There are also [AirBNB defaults](https://github.com/airbnb/javascript) available.

[2015-01-08 03:02] dscafati commented on #257
+1

[2015-01-08 03:14] BerkeleyTrue commented on #646
@binarykitchen Is this a duplicate of https://github.com/keystonejs/keystone/issues/257 ? If so, please close.

[2015-01-08 03:29] JedWatson commented on #873
:+1:

[2015-01-08 04:01] JedWatson commented on #646
I actually suspect Relationships (or some variation) may be the right feature for this.

You could set up `Modules` as a list, then let the editors include them via relationships in the appropriate content holders (i.e. you have your content holders set up as `Relationship` fields on the page model...

The Admin UI might need a bit of work to make this a good experience for users (might be able to

[2015-01-08 04:08] JedWatson commented on #637
@binarykitchen you may have solved this given how old the issue is, but a `Relationship` field where `Post` links back to itself should do the trick.

expanding:

[code]

then in your route:

[code]

[2015-01-08 04:18] BerkeleyTrue commented on #873
alright! I'll make a PR soon.

[2015-01-08 04:18] #873 closed

[2015-01-08 08:08] creynders commented on #670
@morenoh149 I suppose the easiest solution would be to allow the explicit exclusion of fields from filtering or another option would be  to allow adding fields to `defaultColumns` yet hiding them. Something like: `MyModel.defaultColumns = "name, someVirtualField, usedByVirtual:hidden"`

[2015-01-08 09:19] sabarasaba commented on #837
I'm just asking for a working example of something that you don't have on your documentation, no need for reproducible code.

[2015-01-08 09:33] Ventis commented on #118
@JedWatson I needed this as well, please add this to the documentation.

[2015-01-08 09:46] morenoh149 commented on #837
@sabarasaba I guess what I was getting at was - what did you try? i.e. post your code so we can look at it and point out what's wrong

[2015-01-08 09:58] morenoh149 commented on #725
@webteckie sorry didn't know it was a good idea. Closed mostly for not getting a response.

[2015-01-08 10:09] lab101 opened #877 "TypeError: /node_modules/keystone/templates/mixins/rows.jade:5"
Hey

Thx for this amazing CMS.
It's perfect for the project I'm working on!

Today we ran into a strange error.
It happend only once.
I didn't produce the error myself so I don't know what exactly caused it but it seems the user tried to delete a model of the type "Tag" which produced the below error in the row.jade mixin.

OS: Linux Ubuntu
node --version
v0.10.25
keystone   "version": "0.2.33",

[2015-01-08 10:29] creynders commented on #877
Please update your keystone version, this _should_ be fixed, see #716

[2015-01-08 11:04] domharrington commented on #725
Apologies on the lack of response. I was going to pick this up much sooner than now but due to the christmas holidays i didnt have as much free time as I would have liked.

I'm glad you think it's a good idea and I hope to still build a solution for this, but if someone else has more time than I that would be great too.

Thanks

[2015-01-08 11:32] lab101 commented on #877
aha indeed sorry for the duplicated issue

[2015-01-08 11:32] #877 closed

[2015-01-08 12:15] webteckie commented on #725
I may be able to collaborate on this as well.  @JedWatson can you please setup the repo for this under keystonejs and allow @domharrington and I access?  Not too sure of the logistics of this in github as I mainly work in BitBucket.  But I'll submit a PR soon to improve on the work I submitted via PR #870.

[2015-01-08 14:14] JedWatson commented on #877
It's a pleasure @lab101, glad to hear it :smile:

[2015-01-08 14:15] JedWatson commented on #638
Just for reference, we have an [Embedly](http://keystonejs.com/docs/database/#fieldtypes-embedly) field that makes this really easy.

[2015-01-08 15:24] wangpingsx commented on #153
Type.TextArray could be a solution for string list only.

but if there is a Type.AnyObjectArray will be great!

[2015-01-09 12:27] isjackwild commented on #153
@JedWatson Is there any ETA on when this feature may be implemented? I'm exploring Keystone for a new project I'm about to start on (due to launch in around 4 months), and I would LOVE to use Keystone for this, I think it seems really promising. More so than other solutions I've explored.

However, the ability to have nested arrays is a pretty make-or-break feature in this case, as we need it to b

[2015-01-09 13:17] freder opened #883 "empty flash messages"
hi,

I would like to make use of keystone's flash messages, however the displayed messages end up empty:

[code]

![screen shot 2015-01-09 at 14 13 25](https://cloud.githubusercontent.com/assets/724844/5680199/11a16546-980a-11e4-89e5-63a6fa3f6508.png)

any idea what's going wrong here?

thanks a lot in advance.

[2015-01-09 14:05] snowkeeper commented on #883
Are you including the code in your template file?
[code]

[2015-01-09 14:36] freder commented on #883
I'm using handlebars, and the default layout that `yo keystone` created for me contains this:

[code]

my view uses this default layout:

[code]

[2015-01-09 15:39] freder commented on #883
looking into the `flashMessages` helper (see my comments in the code):

[code]

messages are expected to be objects, but are plain strings in my case.

doing `req.flash('warning', { title: 'Thread not found.'})` works, but that's not how it is described in [http://keystonejs.com/docs/getting-started/](http://keystonejs.com/docs/getting-started/) ...

[2015-01-09 20:29] morenoh149 commented on #883
this may be a case where the handlebars version of the generated app wasn't tested well enough. Could you share your entire project on github?

[2015-01-09 20:36] morenoh149 commented on #742
@gmmeyer easy one

[2015-01-10 01:52] wuhaixing commented on #118
I just created PR #886 for this

[2015-01-10 02:42] JedWatson commented on #118
Merged; thanks @wuhaixing.

[2015-01-10 02:42] #118 closed

[2015-01-10 03:06] morenoh149 commented on #118
@wuhaixing 😎

[2015-01-10 04:22] morenoh149 commented on #865
closing this. I just realized the path to satisfying jshint and jscs will be very long.

[2015-01-10 05:36] weekwood commented on #816
![image](https://cloud.githubusercontent.com/assets/310350/5690565/3e8996fa-98cd-11e4-80df-d27c1c2d8829.png)
how can I update progress after I click save button, if I call
[code]
it is only works after refresh page.. any way to make it real time update from React? add a **setInterval**?

[2015-01-10 11:25] wuhaixing commented on #118
It's my pleasure,thanks for your encourage,@JedWatson @morenoh149

[2015-01-10 13:33] morenoh149 commented on #816
Can you share what values you get if you add `console.log('progress is', amountProgress);` inside your `uploader.on()`

[2015-01-10 15:22] creynders commented on #865
@morenoh149 Probably you know this already, but just in case you don't; this will help with the major bulk of jshint errors: https://github.com/jshint/fixmyjs

[2015-01-10 15:23] sebmck commented on #865
Just a quick note, but if you're refactoring `Expected '!==' and instead saw '!='.` be **extremely** careful as in some places the type inference is critical.

[2015-01-10 19:54] jamlen opened #888 "How to unit test models, views and routes?"
Dusting off #216 I wondered if there was any progress on it but also how are people going about testing their models, views and routes? Some documented guides would be nice and actually the Yeoman Generator should scaffold tests with the appropriate keystone helpers.

I am especially interesting in testing the `models` and `views`.

Have any of you written any `keystone-helpers` for testing?

[2015-01-10 22:08] morenoh149 commented on #865
@creynders I didn't know that thanks!
@sebmck that makes me sad. I can't possibly analyze every instance of that myself. We really do need to expand the tests.

[2015-01-10 22:11] morenoh149 commented on #888
@jamlen you're asking how to test your project's models/views/routes correct? We should add a userland test suite to the generators and example keystone sites. We could learn together @jamlen currently reading http://mochajs.org/

[2015-01-10 22:56] BerkeleyTrue commented on #865
Someone in the know should go and mark those conditionals to be ignored by jshint.

[2015-01-10 22:58] creynders commented on #865
For the moment I'd let those conditionals be what they are and jshint-tag them so jshint won't choke on them. With the tags it's easy to find them later on and replace them with `!==` if necessary

[2015-01-10 23:20] stonean opened #889 "Admin relationship only showing 10 relations"
I've been looking, but can't find an answer to this problem.

I have a relation defined as:

`program: { type: Types.Relationship, ref: 'Program', required: true, initial: false},`

I have 13 Programs, but only 10 are given as options and I can't find out why it's limiting the results in the drop down.

I'm using the master branch.

[2015-01-10 23:34] morenoh149 commented on #865
@creynders the big one is the code style errors from jscs. In the current master there are over 35,000 violations :(( Are there any tools for fixing those?

[2015-01-11 01:16] dgitsio commented on #888
Hi @jamlen and @morenoh149 ,

I have a similar need to start testing the models in my project and here's [a gist](https://gist.github.com/dgitsio/21f8172ce828112f0ee2) that steps through a process that helped me get started.  It's definitely a hack, based on just copying some code from the KeystoneJS/keystone project itself, but bereft of a formal approach it's letting me move forward.  I hope it'

[2015-01-11 02:40] JohnnyEstilles commented on #888
I'm not sure if I'm speaking out of school here, but it seems to me that tests such as the gist generously shared by @dgitsio test Keystone core functionality (which we should be testing within Keystone itself), and not your application code (for which I'm a firm believer we should all be writing tests).

That said, I think its a great idea to move our existing helpers in to a `keystone-helpers` m

[2015-01-11 03:12] dgitsio commented on #888
@JohnnyEstilles Yes you are right that gist confuses the issue of wanting to test one's own application Keystone Lists since it runs using a List from core; I was going for brevity by not including a custom List but not the best example for sure.

In the hopes of isolating an application's Lists for testing, today we run into problems following [@JedWatson's otherwise helpful advice on stackoverfl

[2015-01-12 00:42] JedWatson commented on #889
Sounds like this may be a bug with the options loading in the Relationship field, I'll check it out

[2015-01-12 03:12] webteckie opened #890 "v0.3.0: setting 'cloudinary config' with string does not work"
The following does not seem to work:

    keystone.set('cloudinary config', 'cloudinary://api_key:api_secret@cloud_name' );

The following seem to work fine:

    keystone.set('cloudinary config', { cloud_name: 'my-cloud', api_key: 'abc', api_secret: '123' });

    CLOUDINARY_URL='cloudinary://api_key:api_secret@cloud_name'

[2015-01-12 04:31] sgireddy opened #891 "Issue uploading multiple cloudinary images via API (Angular SPA)"
Hello friends,

I am working on a SPA application integrating Keystone.js with cloudinary-angular. The problem is that cloudinary-angular is NOT using direct-upload technique, so keystone is ignoring images despite the fact that I am sending JSON data in exact same format that keystone expects (tried this after sending as is didn't work).

This is a non-issue when uploading single image (heroImage

[2015-01-12 09:08] freder commented on #883
here's a [link to the project](https://github.com/freder/keystone_883).

[2015-01-12 17:51] gmmeyer commented on #742
It is implemented, or at least it will be in a future release of 0.2.x. (I can't speak for the release schedule.)

I have one running on a hacked up version of Keystone 0.2.x that is working on both development and on production for me. The code from that hacked up version has been merged into the 0.2.x branch of the code.

So, either include the 0.2.x branch directly into your project, or wait fo

[2015-01-12 18:02] stonean commented on #742
I have it running and it appears to be operating correctly, but I didn't include express sessions. What behavior would I see without sessions?

[2015-01-12 18:07] morenoh149 commented on #742
@stonean not sure. If you don't have sessions enabled then is the connect-redis ever used to store anything? I'm thinking not.

[2015-01-12 18:09] gmmeyer commented on #742
Yea, it shouldn't wouldn't store anything. Try logging in and see what happens.

[2015-01-12 18:12] stonean commented on #742
I have logged in with a 2 dyno setup on Heroku, which is why I'm super confused right now. Working off of master.

[2015-01-12 18:17] stonean commented on #742
Looks like it is configured properly in the source:

node_modules/keystone/lib/core/mount.js

      var SessionStore = require(sessionStore)(session);

where session is `session = require('express-session')`

and sessionStore is `sessionStore = 'connect-redis';`

This was from a quick grep, so I may be pointing out some invalid code here ...

[2015-01-12 18:54] creynders commented on #865
@morenoh149 not that I know of, unfortunately. With Webstorm you can manually set your preferences just so, and reformat all code, but unfortunately it won't read the settings automatically from a `.jscsrc` file. I got some time next Thursday, I'll have a look what results it'll produce. Things get a little complicated because of the jsx code in the views. Wouldn't it be better to give them a `.js

[2015-01-12 20:39] gmmeyer commented on #742
Yea, if you're on master it should work. Express sessions [is a dependency for master](https://github.com/keystonejs/keystone/blob/master/package.json#L26).

[2015-01-13 01:05] JedWatson opened #895 "Implement new design for React LocalFiles field"
To complete #782

Should also update the `LocalFile` design to match

![screen shot 2015-01-13 at 12 02 15 pm](https://cloud.githubusercontent.com/assets/872310/5714410/4eb3a330-9b1c-11e4-8e37-cbdd1e1bb5cc.png)

[2015-01-13 02:14] #782 closed

[2015-01-13 02:55] BerkeleyTrue commented on #833
Can I call dibs on this?

[2015-01-13 04:00] snowkeeper commented on #833
#850 added the previous code unless you want to see if it can be done in a different way.

[2015-01-13 04:14] BerkeleyTrue commented on #833
Nah. This issue should be closed.

[2015-01-13 04:15] #833 closed

[2015-01-13 04:30] BerkeleyTrue commented on #773
Is this still an issue?

[2015-01-13 12:53] weekwood commented on #816
I got
[code]

[2015-01-13 16:21] jjhesk commented on #895
this is very nice. I think if the color can be customized with a easy change location that will be perfect and people dont need to hack around in order to get the nice result.

[2015-01-13 16:51] peteruithoven commented on #334
I'd like to share how Drupal handles this. Not sure if you guys appreciate this, I understand you don't want to recreate Drupal but maybe it can serve as inspiration. I'm for one, very impressed by what you guys are creating, for one there is a lot less "black magic" than Drupal. Because it uses so many existing, known platforms I found very easy to learn (and very flexible).

Drupal has *Roles* a

[2015-01-13 16:58] peteruithoven commented on #334
Maybe you can send a list of the *permissions* the current uses has to the template, using a small core *middleware* function. When someone wants something else he can always register his own middleware and override something like `res.local.permissions`.

[2015-01-13 17:01] thoughtpalette commented on #247
+1

[2015-01-13 17:01] webteckie commented on #773
@BerkeleyTrue dont know has anyone fixed it?  I won't be able to test it until later tonight(EST).

[2015-01-13 17:09] adamscybot opened #897 "Client side routing"
With the introduction of the react UI, and presumably a more client-side focused KeystoneJS, are we likely to see client side routing? i.e. no page reloads. This would be great.

I am keen on developing my own theme for Keystone (which I believe requires modification of keystone itself at this time?). I am put off from doing so right now if client side routing is in the pipeline as this would pres

[2015-01-13 17:40] nikolowry commented on #220
Any news on this? Don't want to touch the source or inject on front-end.

[2015-01-13 17:58] stonean commented on #889
Thanks for looking into this

[2015-01-13 18:08] morenoh149 commented on #816
interesting! Now the issue is getting the data from the server to the react view. Perhaps a socket.io instance? ping @BerkeleyTrue

[2015-01-13 18:13] morenoh149 commented on #897
client side routing for the adminUI or the user-facing end? I think the router is just for the adminUI. You might be able to reuse the stuff for the end-user-facing stuff but one of the coolest things about keystone is it doesn't force you to do anything. Presumably you could build a static-y blog or full blown ember app with keystone. The AdminUI is it's own thing.

[2015-01-13 18:14] morenoh149 commented on #220
@nikolowry you're going to have to as of this writing.

[2015-01-13 21:20] adedot opened #899 "Add Access Control to Objects/Models other than the User Object/Model"
I would like to add access control to Objects/Models other than the User Object/Model. From what I see, there is only access control for the a User being an admin for Keystone.

For instance, I would like to add access control to Concept Object/Model that has a private field that only allows Posts to be viewed by Users if the user has a role/group allowed to access the Concept Object.

[2015-01-13 22:03] peteruithoven commented on #899
This one seems relevant: https://github.com/keystonejs/keystone/issues/803

[2015-01-13 22:13] peteruithoven opened #900 "WYSIWYG indent switched?"
Looks like the WYSIWYG editor's indent button icons are switched?
![screen shot 2015-01-13 at 23 10 37](https://cloud.githubusercontent.com/assets/523210/5730348/afd42b50-9b79-11e4-99a6-08ed32e8cdf8.png)

[2015-01-13 22:25] morenoh149 commented on #900
lol confirmed

[2015-01-13 22:25] #748 closed

[2015-01-13 22:26] sebmck commented on #900
What branch/version are you on? Hopefully I didn't do something stupid with #796

[2015-01-13 22:29] peteruithoven commented on #900
I installed it trough using the generator (yeoman):
[code]

[2015-01-13 23:03] morenoh149 commented on #897
try searching the issues https://github.com/keystonejs/keystone/issues/548 I think it's in the pipeline after 0.3.0 lands. Before the end of the year? dunno

[2015-01-13 23:55] peteruithoven commented on #548
I'm kind of a Bootstrap noob, but it looks like there are a few nice bootstrap "sub themes". These could be very usefull for Keystone.
http://bootswatch.com/
You can try their bookmarklet on your site: http://bootswatch.com/help/#bookmarklet

Looks like you easily add them to Keystone.
- Go to the `public/styles` folder.
- Run `git clone https://github.com/thomaspark/bootswatch.git`.
- Run `npm in

[2015-01-13 23:58] nikolowry commented on #220
@morenoh149 no worries.

However, I'll share what my solution was for future reference. In addition to allowing theming, it also allows for the admin backend url to be something other than "/keystone".

https://gist.github.com/nikolowry/5083ecd1d0499ab5f44c/.

----

Quick overview:
Because I didn't want to edit the source, I overrode the keystone's private methods "routes" and "render".  The custo

[2015-01-14 01:42] webteckie commented on #773
@BerkeleyTrue this is still an issue.

[2015-01-14 01:52] BerkeleyTrue commented on #773
I call dibs

[2015-01-14 03:50] metasansana commented on #773
Go for it! :)

[2015-01-14 03:56] metasansana commented on #220
I think the landing page could be swapped for a SPA. Provide a clean ajax interface for manipulating the lists and an option that lets users switch off all the other routes.

That way all the user has to do is intercept the /keystone route and it's like you have your own theme right?

It's a start.

[2015-01-14 04:02] metasansana commented on #865
@morenoh149 35,000 violations! Just curious; but it's not going into the `node_modules` folder right?

[2015-01-14 06:05] morenoh149 commented on #865
@metasansana pretty sure I ignore it here https://github.com/keystonejs/keystone/blob/master/Makefile#L6

[2015-01-14 07:27] jamesleebaker commented on #475
I am having this same error message when deploying my keystone application to a VPS. I tried setting my cloudinary config in keystone.js like @JohnnyEstilles, but no avail.

[2015-01-14 12:06] JedWatson commented on #869
Close by #901

[2015-01-14 12:06] #869 closed

[2015-01-14 13:04] JedWatson commented on #895
@jjhesk yes, with or shortly after 0.3.0 you will be able to include your own stylesheet and override the LESS variables Keystone uses to style the Admin UI.

[2015-01-14 13:04] #895 closed

[2015-01-14 23:31] morenoh149 commented on #816
@weekwood two ways I can think of doing this.
* Use socket.io to do a pseudo push (or update) to the client (react component).
* Rerender the client with setInterval http://facebook.github.io/react/docs/displaying-data.html Would require the backend to respond with the current progress

pick one :)

[2015-01-15 00:15] morenoh149 opened #903 "Make AdminUI an SPA"
The AdminUI needs to become an SPA. Currently updating the UI in realtime is almost impossible. Saving changes to a List (model) triggers a post request and page refresh. Ghost is a heavy client-side ember app and I think KeystoneJS should have a heavy client-side adminUI as well.

Moreover, features like https://github.com/keystonejs/keystone/issues/816 are very hard to implement given the curren

[2015-01-15 00:24] JedWatson commented on #903
@morenoh149 you're absolutely correct this is in the pipeline, it's the end goal of our move to React.

There is a *lot* of functionality that will need to be rewritten in order to get there, which is why we're taking the current approach of rebuilding each part to function the way it did (i.e. react-generated forms submit the same way the jade ones did).

This means that we can continue to iterat

[2015-01-15 04:08] JedWatson commented on #900
Looks like this has been the case for a little while. Whoops! I'll fix it now in master

[2015-01-15 06:27] JedWatson opened #904 "v0.3.0: Relationship field only returns the first ten possible items"
This seems to be a bug with the `react-select` configuration, I'll look into it.

[2015-01-15 06:33] #900 closed

[2015-01-15 06:33] #904 closed

[2015-01-15 08:37] morenoh149 opened #905 "Choose coding style"
Re https://github.com/keystonejs/keystone/pull/884
any of these http://jscs.info/overview.html#presets or a custom one for keystone

[2015-01-15 08:40] morenoh149 commented on #849
stale

[2015-01-15 08:45] morenoh149 commented on #791
I've reproduced this. It's a bit jarring actually.

[2015-01-15 08:48] morenoh149 commented on #739
will be fixed by #791

[2015-01-15 08:51] morenoh149 commented on #718
Solved by #903

[2015-01-15 08:51] #718 closed

[2015-01-15 08:54] #637 closed

[2015-01-15 08:55] #626 closed

[2015-01-15 08:56] morenoh149 commented on #621
are you still interested in a solution?

[2015-01-15 08:56] #619 closed

[2015-01-15 08:57] #618 closed

[2015-01-15 08:59] #613 closed

[2015-01-15 09:00] #600 closed

[2015-01-15 09:01] morenoh149 commented on #592
are you still interested in a solution?

[2015-01-15 09:02] #589 closed

[2015-01-15 09:03] #582 closed

[2015-01-15 09:06] morenoh149 commented on #571
Could you write up scenarios when you would want this. Also how does a user do a bulk action?

[2015-01-15 09:07] morenoh149 commented on #566
was this fixed?

[2015-01-15 09:20] jamlen commented on #849
I would hardly call something that has been open for 13 days `stale`! I was hoping for input specifically on the Event -> Schedule relation and how to model that.

[2015-01-15 09:22] linhanyang opened #906 "About setting cookie Issue"
I want to set up so that two domain names to share session information, whether you can configure Cookie domain options，How to configure it?

for example：
www.example.com
bbb.example.com

[2015-01-15 09:27] creynders commented on #905
@morenoh149 I've just been experimenting with jshint, jscs, editorconfig and code style preference sets in Webstorm for one of my own projects. I think it's pretty doable to get everything uniform. Webstorm goes a long way in a) pointing out errors against any of the configured rules b) fixing these automatically. Not all errors are fixed automatically unfortunately (yet?)

Anyway, once a code sty

[2015-01-15 09:28] creynders commented on #905
Oh, and if it works, I think it's a good idea to share the Webstorm code style preset file for others to use as well.

[2015-01-15 13:18] louim commented on #571
Like I said, most important for me would be to allow deleting multiple records at the same time. In the list view, each row would have a checkbox, so I can check the ones I want to delete, and there would be a button "delete selected".

For the edit option, one use case I can think of is product with price, where you want to edit multiple price at the same time. Inline edit would be nice for that.

[2015-01-15 13:48] creynders commented on #571
:+1: for bulk deletes.

[2015-01-15 14:15] linhanyang opened #908 "Server restarts canceled session persistence"
Server restarts canceled session persistence or move out of the session persistence keystone source？？？

[2015-01-15 15:22] lojack opened #909 "Add ability to stage changed content for publication"
Right now, if a user edits published content, the changes go live immediately. Frequently, an editor may want to change an already published piece of content, and want to save their changes to either preview or finalize their content and publish at a later date.

Two related issues, #320 and #608 could then allow users to preview unpublished/staged content prior to publishing.

[2015-01-15 16:24] frederik commented on #150
Workaround: I ended up with an import model that takes a model type and an attachment + a save hook that started the file processing (in the background, updating a log field in the import model after the import had finished). This works out nicely because I now get a history of all uploads to the data - an import functionality would still be great.

[2015-01-15 19:03] snowkeeper commented on #908
Can you provide some more information?  How are you storing sessions (memoryStore, mongo)?  Does your cookie secret remain the same across restarts?

[2015-01-15 19:23] morenoh149 commented on #849
@jamlen 13 days since the last comment I made personally = stale in my book. But w/e.
Isn't this more of a software design question? Those are not issues. Should be directed towards the IRC channel, gitter, stackoverflow or google groups. IMO

[2015-01-15 19:25] morenoh149 commented on #905
@creynders definitely you could do it! I don't think there would be an easy way for myself to do it (I use vim)

[2015-01-15 19:36] morenoh149 commented on #909
This could be done by adding a boolean to the model `draft`. In your app have a global setting `ShowDrafts` and in your view have a conditional
[code]

[2015-01-15 19:37] morenoh149 commented on #150
@frederik nice work on solving it :+1: Does keystone need to change anything to make this easier?

[2015-01-15 19:49] lojack commented on #909
@morenoh149 that works if the content has never been published. What I'm trying to address is content that is already published, and a draft revision is created. If we simply have a boolean field, then that would unpublish the published content any time you set the boolean to draft.

This could potentially be easily accomplished with Document Versioning. If something like #244 is merged, then all

[2015-01-15 19:52] morenoh149 commented on #909
ah versioning! sounds good. Will probably merge that pull request sometime in 0.3.x After the react and express 4 upgrades land.

[2015-01-15 21:12] piermariacosina commented on #791
sorry for the late reply actually this was the first time I've setup keystone with default yo generator configuration viewing it on mac osx yosemite with chrome

[2015-01-15 21:12] #791 closed

[2015-01-15 21:19] morenoh149 commented on #791
@piermariacosina wait so are you still seeing this? because I am as well. Did you accidentally close it?

[2015-01-15 21:44] piermariacosina commented on #791
I've don npm update and now I see the carret thanks
ᐧ

On Thu, Jan 15, 2015 at 10:19 PM, Harry Moreno <notifications@github.com>
wrote:

--

PIERMARIA COSINA
User Experience Designer | Product Developer

+39 392 4822 633 <http://assets.belafonte.co/signature.html#>
www.belafonte.co
<http://www.belafonte.co/?utm_source=signature&utm_medium=email&utm_campaign=signature>

[2015-01-15 21:55] morenoh149 commented on #791
I must be seeing something else then.

[2015-01-15 21:55] morenoh149 commented on #739
the other issue was referring to something else. I'm opening this back up.

[2015-01-15 21:57] piermariacosina commented on #791
i see what's the issue if you click on the first line of the text area the
carret appear, if you click only on the textarea you don't see it but it is
there if you write it works so the bug is still there you should reopen it
ᐧ

On Thu, Jan 15, 2015 at 10:55 PM, Harry Moreno <notifications@github.com>
wrote:

--

PIERMARIA COSINA
User Experience Designer | Product Developer

+39 392 4822 633 <http

[2015-01-15 22:03] morenoh149 commented on #791
I opened the other one already. Thanks for the update though.

[2015-01-16 04:35] morenoh149 opened #911 "Weird highlighting in tinymce"
We keep getting a `span` style added to our model textarea from the wysiwyg editor from the adminUI
![screenshot 2015-01-15 20 32 05](https://cloud.githubusercontent.com/assets/587438/5771628/c8237896-9cf5-11e4-8967-86e1143b8fff.png)
![screenshot 2015-01-15 16 46 46](https://cloud.githubusercontent.com/assets/587438/5771629/d23b61a4-9cf5-11e4-930f-509c9487e032.png)
Any ideas what might be causing

[2015-01-16 04:48] morenoh149 commented on #911
solved by editing the text with the `source code` button

[2015-01-16 04:48] #911 closed

[2015-01-16 06:51] JohnnyEstilles opened #912 "Proposed Keystone Package Architecture"
## Proposed Keystone Package Architecture

Now that we're approaching the big **3.0** (or should I say 0.3.0), I think it would be a good idea to revive the [Plugin Architecture](https://github.com/keystonejs/keystone/issues/185) issue once again. This is just an initial first draft of my ideas on the topic. Please feel free to comment and criticize at will. I don't presume that my ideas are the b

[2015-01-16 07:23] morenoh149 commented on #912
I'd like to see STYLUS listed along sass and less :3
For the `proposed directory structure` could it be two folders? `core` & `custom`. Otherwise sounds exciting.

[2015-01-16 07:37] JohnnyEstilles commented on #912
@morenoh149 I forgot about Stylus, will add to the writeup. Regarding the dir structure, IMHO, I believe we should have at minimum 3 folder (core - obviously, custom - for local/non-published packages, and contributed - for published packages that were installed).

I really appreciate the comments. :-)

[2015-01-16 08:18] creynders commented on #905
@morenoh149 AFAICT the jscs docs are wrong/unclear regarding the `disAllowMultipleVarDecl` rule. It says it's equal to jshint's `onevar` rule, but the example they provide as "valid" would not pass the `onevar` rule, which _does_ have to do with variable hoisting.

I have no idea whether it's WAI or a bug, but actually it's the opposite of the `onevar` rule, i.e. you can't declare multiple variabl

[2015-01-16 08:49] JohnnyEstilles commented on #185
Continuing discussion on issue #912 ...

[2015-01-16 08:49] #185 closed

[2015-01-16 16:14] domharrington commented on #725
I've just tackled this problem and released a module:
https://www.npmjs.com/package/database-updates

It is not totally compatible (I dropped .coffee file support) but if you're interested on incorporating this into keystone, I can re-add that and do the integration. Let me know

[2015-01-16 20:55] mandb commented on #153
This should be required Type.nested looks like the right way to go about it.  @JedWatson  any way we can contribute to getting this added into main branch other than with PR?  Thanks.

[2015-01-16 21:39] danielmahon opened #913 "Field.updateItem() incorrectly handles undefined (blank form fields), can't set DB"
the field update currently skips any `undefined` field, which includes blank text fields... which dont get updated to the DB

has this come up yet? I cant be the first to notice it, seems too important ;)

https://github.com/keystonejs/keystone/blob/ce66dc972927b3f4ac2e2de32ba2cb0354f89f25/fields/types/Type.js#L327-L343

[2015-01-16 22:08] danielmahon commented on #913
looks like it may be a problem with the React template not sending the empty string value to the POST request

[2015-01-16 22:40] morenoh149 commented on #905
what's WAI?

[2015-01-16 22:45] morenoh149 commented on #153
@mandb what's wrong with a PR?

[2015-01-16 22:47] mandb commented on #153
I'm asking if there is a way to contribute to a feature other than by providing code.

[2015-01-16 22:53] creynders commented on #905
Works as intended

[2015-01-16 22:55] danielmahon commented on #913
OK, React is sending the form-data properly, body-parser is parsing (as designed) and removing blank keys, this means when the form-data object reaches the `updateItem` function the key doesnt exist and returns `undefined`. You have an if statement excluding `undefined` values from being set.

[code]

if I change to the following it works, what was the reason for filtering out `undefined` values?

[2015-01-16 23:00] webteckie commented on #725
@domharrington interesting you really did do a standalone db updates :-)  It wasn't too clear by quickly skimming the code...is it compatible with keystone's createItems?  If not, how would people that currently use createItems use your module?  Not sure what the .coffee file support you talk about is.

[2015-01-16 23:04] webteckie opened #915 "Updates does not keep track of multiple files in the updates directory in the DB"
If I have, for example:

    0.0.1-updates-foo.js
    0.0.1-updates-bar.js

keystone will only keep track of 0.0.1-updates-foo.js   If you re-run the server it will again try to apply 0.0.1-updates-bar.js

Should be easy to fix but I don't have time at the moment.  If noone else jumps on it and I find time during the weekend or next week I will take care of it.

[2015-01-16 23:06] morenoh149 commented on #153
@mandb in-depth discussion and coordination can be done on the slack. If you're interested in an invite let me know

[2015-01-16 23:18] mandb commented on #153
I would be interested thanks!
On Jan 16, 2015 6:06 PM, "Harry Moreno" <notifications@github.com> wrote:

[2015-01-17 02:37] metasansana commented on #153
@mandb feedback on #821  will also be useful. If all the other fields ui's are embeddable it should be possible to manage them in table form.

[2015-01-17 04:24] prachaquant opened #916 "LocalFile Field Type Format not working"
[code]

![screen shot 2015-01-17 at 11 20 32](https://cloud.githubusercontent.com/assets/7953643/5787665/13fbc34a-9e3b-11e4-83ae-397b66f23834.png)

It show an image on keystone version 0.2.36 but  when I update to keystone 0.2.40 it show file name instead.

[2015-01-17 05:11] webteckie commented on #915
False alarm!  Was actually getting an error processing the second file.

[2015-01-17 05:11] #915 closed

[2015-01-17 09:37] JedWatson commented on #913
The theory for ignoring undefined values in `updateItem` was (from memory) so you could submit _some_ values without having it null-out any values you hadn't provided.

I.e. making data processing work more or less the same way this does:

[code]

[2015-01-17 23:41] morenoh149 commented on #916
Does the file store correctly? It may still be 'working' but we might have changed the display in the adminUI. Can anyone else chime in?

[2015-01-18 04:58] sgireddy commented on #891
I was able to save images by bypassing update handler but admin UI is not showing the images, instead showing two blank placeholders...

exports.create = function (req, res) {

	var item = new Movie.model(),
		data = (req.method == 'POST') ? req.body : req.query;
	var movie = new Movie.model();

	movie.title = data.title;
	movie.director = data.director;
	movie.releaseYear = data.releaseYear;
	mov

[2015-01-18 10:12] JedWatson opened #922 "v0.3.0: Implement importcss wysiwyg option in React"
Added to 0.2.x by #921, we need to make sure this option is also implemented in 0.3.0

[2015-01-18 11:37] domharrington commented on #725
@webteckie i'm not actually too familiar with the `createItems` functionality. Is it documented anywhere? Or maybe you can briefly explain?

The .coffee support i'm referring to is here: https://github.com/keystonejs/keystone/blob/master/lib/updates.js#L137

[2015-01-18 14:43] aschwersenz commented on #922
@JedWatson https://github.com/keystonejs/keystone/pull/923

[2015-01-18 23:35] sebmck commented on #913
@danielmahon Is this happening on multipart POST requests?

[2015-01-18 23:50] danielmahon commented on #913
Yes. Though no file need be selected.

- -

*Daniel Mahon*mahonstudios.com <http://www.mahonstudios.com/> |
daniel@mahonstudios.com
Mahon Studios

On Sun, Jan 18, 2015 at 6:36 PM, Sebastian McKenzie <
notifications@github.com> wrote:

[2015-01-18 23:51] sebmck commented on #913
Would most likely be a result of multer doing

[code]

[2015-01-19 04:10] #913 closed

[2015-01-19 04:28] JedWatson commented on #889
I corrected some logic in the way result sets are handled by the relationship field, this is fixed now.

[2015-01-19 04:28] #889 closed

[2015-01-19 04:30] JedWatson commented on #916
I can confirm this is (for now) not working in the new React fields, we may need a new strategy to support it. AFAIK the feature was used entirely to support image previews, so maybe we should just make that an option.

[2015-01-19 04:32] #890 closed

[2015-01-19 04:32] JedWatson commented on #808
This should now be fixed in master, @trentmillar please let me know if you encounter it in the future.

[2015-01-19 04:32] #808 closed

[2015-01-19 04:36] sebmck commented on #486
As @jossmac pointed out, the correct way to check for cloudinaryimage existence is:

[code]

[2015-01-19 04:36] #486 closed

[2015-01-19 04:38] JedWatson commented on #837
@sabarasaba there's a working example of updating a password field using the `UpdateHandler` in the SydJS site here: https://github.com/JedWatson/sydjs-site/blob/master/routes/views/me.js

The corresponding form code is here: https://github.com/JedWatson/sydjs-site/blob/master/templates/views/site/me.jade#L172-L182

Hope this helps. If you're still stuck, let us know more information about how you

[2015-01-19 04:38] #837 closed

[2015-01-19 04:48] JedWatson commented on #369
Closing this old support issue. @mgruesbeck let us know if you still need help.

[2015-01-19 04:48] #369 closed

[2015-01-19 04:48] JedWatson commented on #212
CSRF is now implemented in Keystone, so I'm closing this.

[2015-01-19 04:48] #212 closed

[2015-01-19 04:49] JedWatson commented on #38
Closing this, it's an old issue and not relevant at the moment.

Thanks for the early feedback @anddimario!

[2015-01-19 04:49] #38 closed

[2015-01-19 04:51] JedWatson commented on #3
Still a good idea @sebmck

[2015-01-19 04:51] sebmck commented on #699
Can't replicate this issue, it's most likely been fixed. Feel free to reopen or create a new issue if this is still a problem.

[2015-01-19 04:51] #699 closed

[2015-01-19 04:54] JedWatson commented on #376
I believe this hasn't been an issue for a while, @remnev please let us know if you ever experience it again.

[2015-01-19 04:54] #376 closed

[2015-01-19 04:54] Calvein opened #924 "Use semver semantic for npm."
The latest version (`0.2.41`) added a couple of functionalities that break (for us) what we had in `0.2.40`. If the versions were following [semver] we wouldn't had have problems since we use the ~, is there any reason why it's not the case ? Just FYI:

[semver]: http://semver.org/

[2015-01-19 05:00] #3 closed

[2015-01-19 05:06] #922 closed

[2015-01-19 05:07] sebmck commented on #475
@jamesleebaker It's likely that you're importing your models before `cloudinary config` has been set, it's critical that your models are imported **after** configuration.

[2015-01-19 05:25] JedWatson commented on #924
@Calvein can you provide some more detail about what functionality broke what was in 0.2.40?

I'm familiar with server, we're trying to follow it as best we can with a complex project.

Note semver for pre-1.0.0 versions:

We try and do better than this, and have generally had a stable API throughout 0.2.x with only a couple of versions in over a year that included accidental regressions.

In the

[2015-01-19 05:29] JedWatson commented on #908
@linhanyang for sessions to persist across restarts you need to set `session store` to either `mongo` or `redis`. Keystone uses the in-memory datastore by default (because it is up to you to decide which database is better for your session needs).

Remember, the in-memory datastore is _not suitable for production_ (you should see a warning on startup in production alerting you to this)

[2015-01-19 05:29] #908 closed

[2015-01-19 05:33] eaton commented on #844
New to the project, but digging in deep and pretty impressed. I'm digging through the process of setting up a (fairly large) initial data load for a project, and ran into a similarly problem with references.

Barring the ability to specify a custom _id field for a schema ala mongoose, I think the object-syntax definition would be the next best thing. Referring to things by their incoming key in th

[2015-01-19 05:40] JedWatson commented on #304
I'm going to close this as we've moved the HTML editor to React and will soon be able to support external field types as well (which would let someone implement CKEditor if desired).

[2015-01-19 05:40] #304 closed

[2015-01-19 06:06] Calvein commented on #924
@JedWatson I can't because I had no feedback whatsoever, keystone was just not starting. So we directly rollback to 0.2.40. If there is logs somewhere I'm happy to have a better look at it.
You're right for 0.y.z, it's tricky and I guess that's why `npm init` is 1.0.0 by default now.

[2015-01-19 06:25] JedWatson commented on #151
This is now covered by our yeoman generator.

[2015-01-19 06:25] #151 closed

[2015-01-19 06:26] JedWatson commented on #529
Going to close this because it's a fairly generic issue, if anyone's interested and hasn't been invited to our slack where we can discuss and organise things like this, let me know.

[2015-01-19 06:26] #529 closed

[2015-01-19 06:33] JedWatson commented on #924
@Calvein are you using either mongo or redis for your session management? There was a breaking change published upstream in the connect-mongo package that caused that sort of problem; 0.2.41 fixed Keystone so it's compatible with the new version.

If so, try upgrading your `connect-redis` / `connect-mongo` package as well as Keystone.

Unfortunately that change was published in a way that we can't

[2015-01-19 07:07] JedWatson commented on #619
Just leaving a note here that `cors` middleware is now baked into Keystone, to use it you can do this:

[code]

... where appropriate in your route config.

[2015-01-19 07:11] JedWatson commented on #334
Hey guys,

thanks for the suggestions - let's pick it up over at #803, which has been created to consolidate discussion about this development.

[2015-01-19 07:14] JedWatson commented on #654
@binarykitchen sorry for the non-response, going through the backlog and saw this. @metasansana was on the mark with the suggestion that the upcoming upgrade will allow for plugins that implement features like this.

[2015-01-19 09:01] remnev commented on #376
I had the issue when I wrote about it. Since that time I haven't caught it.
I think it was an issue with my hardware environment. But I upgraded it and now the app works fine.

PS: however, I still think than try/catch is a good practice for rendering invokes to prevent for any problems.

[2015-01-19 09:42] sabarasaba commented on #837
Awesome, thats exactly what I was looking for. Thanks Jed ! :hand:

[2015-01-19 10:51] JedWatson commented on #924
I'm closing this, with a small rant - I don't assume you meant it, but the whole tone of this issue offends me. Largely because of the assumption semver (or stability) isn't a concern.

I spent _hours_ of my weekend preparing `0.2.41` with fixes for features _I don't even use_ because of reports they are breaking. I'm about to release a big new version, but I don't want to leave `0.2.x` broken for

[2015-01-19 10:51] #924 closed

[2015-01-19 11:12] JedWatson commented on #534
I think this issue has done its job - we have 38 excellent people (and counting) in the Slack team :smile:

If anyone else wants in, let us know!

[2015-01-19 11:12] #534 closed

[2015-01-19 11:14] JedWatson commented on #505
This should work, all the S3File code has recently been reworked a bit. Can you let us know if you still have issues with it @alsoicode?

[2015-01-19 11:14] #505 closed

[2015-01-19 11:22] sebmck commented on #420
This would require supporting all field types as the item name. Ping @JedWatson.

[2015-01-19 11:26] sebmck commented on #421
You can get direct access to a lists mongoose schema like so:

[code]

This means that you can add in any plugins you want.

[2015-01-19 11:26] #421 closed

[2015-01-19 11:28] sebmck commented on #235
@JedWatson Has any work been done on this?

[2015-01-19 11:29] sebmck commented on #225
Probably not necessary to include Keystone core when you can just drop in some [middleware](https://github.com/battlejj/express-force-ssl). Keystone is moving towards a more modular core so including something like this by default would add bloat.

[2015-01-19 11:29] #225 closed

[2015-01-19 11:30] JedWatson commented on #235
Some, yes; certain scripts are only included as necessary and the move to browserify / react changes things considerably too. I think it's safe to close this now, the speed will continue to improve as we move towards a SPA.

[2015-01-19 11:30] #235 closed

[2015-01-19 11:32] sebmck commented on #141
Can't seem to replicate this. It's likely been fixed upstream and fixed in keystone when the package has been upgraded. Feel free to reopen or create a new issue if this problem persists. Thanks!

[2015-01-19 11:32] #141 closed

[2015-01-19 11:34] sebmck commented on #71
@JedWatson Probably best to close this until it's either requested or after the React version has been released and we can spend time developing additional field types, what are your thoughts?

[2015-01-19 14:40] stonean commented on #889
Thank you @JedWatson

[2015-01-19 15:43] alsoicode commented on #505
Has the fix been merged to master? or is it in a separate branch?

[2015-01-19 16:20] oliverjenkins opened #926 "Keystone 0.2.41 fails to start with 'session store': 'mongo' and connect-mongo <= 0.4.2 installed"
Upgrade a KeystoneJS site to version 0.2.42, that uses mongo session store.  The express server would never starts, and just hangs.   That is, execute 'node keystone.js', and the process continues to wait without displaying the 'KeystoneJS started' message.    No further messages are logged, and the site is never available.  When deploying to a Heroku dyno we saw messages logged as "Error R10 (Boo

[2015-01-19 16:48] danielmahon commented on #926
+1 broken with connect-mongostore as well

changing mount.js line 178
`sessionOptions.store = new SessionStore(sessionStoreOptions);`
into
`sessionOptions.store = new SessionStore(sessionStoreOptions, resolve);`
solves the problem, but im not sure if thats the correct solution

[2015-01-19 17:00] janryWang opened #927 "How to create a custom field type?"
Because I want to extend the management interface, and I do not want to modify the source code of a way to extend it, but there have not found a better way.

[2015-01-19 17:03] morenoh149 commented on #505
@alsoicode multiple fixes have been merged into master and 0.2.x branch. Update and let us know if the problem persists

[2015-01-19 17:07] alsoicode commented on #505
Thanks and will do today!

On Mon, Jan 19, 2015 at 12:04 PM, Harry Moreno <notifications@github.com>
wrote:

[2015-01-19 20:49] iamkevingreen commented on #646
@JedWatson I've actually imagined this for a long time with Keystone. There are a few tools that work with meteor that do this type of schema building and it's similar to how you have Relationship Arrays set up only the items within the array are repeatable.

I think instead of a mockup something like this is an ideal example: http://www.advancedcustomfields.com/add-ons/flexible-content-field/

Ba

[2015-01-19 21:49] JedWatson commented on #592
@Ryaan please reopen if you still need help with this issue!

[2015-01-19 21:49] #592 closed

[2015-01-19 22:00] JedWatson commented on #926
Thanks for the detailed issue report @oliverjenkins, much appreciated. Turns out I should have been much more descriptive in the Changelog, I didn't realise this would cause so many problems :(

Basically, what happened here is:

`connect-mongo` used to accept a `callback` which would be called when the connection was opened. In `0.5.0` the callback was replaced with a `connected` event. It was al

[2015-01-19 22:11] snowkeeper commented on #926
This got me yesterday as well.  I thought I had screwed something up since  I typically have the Link issue when using connect-mongo.

Can / should we solve this by just including connect-mongo as a project dependency at the correct version?

If not should we check for the connect-mongo version and throw an error when necessary?

[2015-01-20 02:40] #927 closed

[2015-01-20 03:31] jcrugzz commented on #926
@JedWatson ran into this as well. I would recommend bumping the newest version to 0.3.0 because anyone using the standard ~ for semver can unexpectedly get a broken application that is tricky to debug if you don't know where to look.

[2015-01-20 03:54] JedWatson commented on #926
I've just found a backwards compatible way to support *both* `connect-mongo <= 0.4.2 and >= 0.5.0`.

Turns out there's no harm to passing `resolve` as a callback _as well as_ listening for the `connected` event, because they're never going to both happen.

See 9c3d305be8469b0597321b37dfc2cfac3be11dc2

This has just been published as `v0.2.42` to npm.

@jcrugzz the problem was this isn't a breaking

[2015-01-20 03:54] #926 closed

[2015-01-20 09:32] oliverjenkins commented on #926
A mysterious hanging state, bug report, to an elegant solution in 11 hours.  Good work, well done - @JedWatson

It was a good lesson in the use of semvars in a node app, and unexpected consequences. It just happened to be connect-mongo this time.

[2015-01-20 10:35] snawbel opened #930 "Number field doesn't allow decimals"
Great project!

This kills my attempts at inputting a decimal number:

`var newValue = event.target.value.replace(/[^\d]/g, '');`

It wouldn't be too hard to cobble together a more permissive regexp, but I wanted to check if that's the way to go before submitting a PR?

[2015-01-21 08:32] marekgoczol commented on #67
it's been open for over a year now, I would appreciate any timing update on that.

[2015-01-21 12:20] webteckie opened #931 "CodeMirror text area full screen (F11) not working properly"
You should be able to do F11 in the CodeMirror Types.Code text area but doing so has the wrong behavior.  The whole Admin UI screen goes full screen and not just the text area.  See http://codemirror.net/demo/fullscreen.html for feature.

[2015-01-21 13:00] jjhesk commented on #307
Is that now supported on with socket.io. If not, where is the best possible place that we can start putting the socket io code into the core library?

[2015-01-21 15:38] alsoicode commented on #505
Sorry for the delay getting back this guys. I'll do my best to get a
project set up asap.

On Mon, Jan 19, 2015 at 12:07 PM, Brandon Taylor <alsoicode@gmail.com>
wrote:

[2015-01-21 15:42] Johnster03 opened #932 "Relationship Field throws Error if _id has a Non-ObjectID value"
CastError: Cast to ObjectId failed for value "horror" at path "genres"
  at ObjectId.cast (/home/mine/Projects/yttw/node_modules/keystone/node_modules/mongoose/lib/schema/objectid.js:116:13)

The thing that I am trying to do is to add multiple genres to a game. Those are the Genre and Games models:

Genre.js - Model:

    var keystone = require('keystone'),
            Types = keystone.Field.Types

[2015-01-21 17:23] Johnster03 commented on #932
I found the cause of the problem.

In the /node_modules/keystone/lib/fieldTypes/relationship.js file, the nativeType (schema type) is defined as ObjectId. Here is the function (from line 17 in the file):

	function relationship(list, path, options) {

		this.many = (options.many) ? true : false;
		this.filters = options.filters;
		**this._nativeType = keystone.mongoose.Schema.Types.ObjectId;**
		t

[2015-01-21 19:16] morenoh149 commented on #932
Two sides I see to this:
1) Is using the autokey feature (using a unique string as the object identifier) providing a *substantial* improvement in performance? If not I'd keep a redundant column and use the mongo generated `_id` field.
2) If being able to do these mongo data-modeling tweaks is important we may have to use `Mixed` type in relationships because they are the most *open*. Though I'm h

[2015-01-22 02:08] webteckie opened #933 "v0.3.0: Code Field support for dynamic lang option value"
This one should probably be grouped with #546.  There should be a way to set the lang option of Types.Code dynamically based on some condition.  For example, a model can ask the user to select the code field language:

   model.add({
      lang: { type: Types.Select, options: 'jade, less, js', required: true, initial: true },
      editor: { type: Types.Code, lang: <<<depends on lang>>>}
   })

[2015-01-22 02:17] webteckie opened #934 "v0.3.0: Code Field support for CodeMirror Language Modes"
Continuing on with Code Field enhancements ( #933 #835 #546 ) I think that the Code Field editing experience would be better if it supports CodeMirror Language Modes (see http://codemirror.net/mode/index.html).  Once a proper language has been configured for the lang option in the Code Field keystone should imply and use a corresponding Language Mode.

[2015-01-22 09:26] JedWatson opened #935 "Meeting in San Francisco, Jan 23rd - Feb 2nd 2015"
Hi everyone,

Sorry for using our issue tracker for this, but I couldn't think of a better way to reach the broader Keystone community. (might be a good idea to start a mailing list!)

I'll be travelling from Sydney to Silicon Valley for the React.js conference (28th and 29th Jan) and staying in San Francisco for a few days on either side - arriving on Friday the 23rd and flying out on Feb 2nd.

S

[2015-01-22 10:57] JedWatson commented on #934
Is this related to #834?

[2015-01-22 12:08] janryWang opened #936 "how to watch the sass changed?"
I do not like after each finished modifying sass files need a grunt serve?
so.....How to watch the sass changed?

[2015-01-22 12:12] webteckie commented on #934
@JedWatson definitely they are all related but I chose to add issues for each feature in case it may be useful to split the work.   Not sure.  If you feel it is all one big feature then feel free to consolidate :-)  By the way, I would work on it in my spare time (minimal) but I would need a WIKI section title something like "Adding/Updating a Keystone Field" that outlines all the areas that must

[2015-01-22 13:23] wuhaixing commented on #936
You can start your application with node-dev keystone.js.BTW,there is a QQ Group 234990985 for Keystone’s users&developers in china,welcome to join us!

[2015-01-22 14:24] janryWang commented on #936
ok,thanks

[2015-01-22 19:45] morenoh149 commented on #935
yes!

[2015-01-23 00:59] jesse-ae opened #937 "Trying to modify LocalFile dest option before move"
The filename LocalFile option is helpful, but I'd also like to write files to a subdirectory derived from the document id. I've looked through LocalFileType.js and it looks like the pre.move hook doesn't give me a way to set the field options. Am I missing something?

The two options I need to change _after_ the doc id has been generated are dest and prefix.

[2015-01-23 02:04] webteckie opened #938 "v0.3.0: Select field configured with {required: true, initial: true, noedit: true} not working"
@jedwatson I think this is a blocker for 0.3.0.  I just upgraded to the latest 0.3.0 and there seems to be an issue with the create item modal.  I have a Types.Select field that's required and should be filled initially but it's not letting me.  The select field is configured with {required: true, initial: true, noedit: true}, which has been working fine.  I tried both Chrome Version 39.0.2171.99

[2015-01-23 02:11] webteckie opened #939 "v0.3.0: Code Field with {noedit: true} renders minified/compressed code"
This may be addressed when the Code Field is improved; nevertheless I'm adding this issue to make sure it doesn't fall through the cracks.  If I create a list that has a code field with "noedit: true" as follows:

    box: { type: Types.Code, lang: 'less', noedit: true }

the Admin UI will render the code in that box minified/compressed.  In my use case, this is undesirable and other than being no

[2015-01-23 02:25] webteckie commented on #3
I ran into issues with:  "action", "domain", and "collection" as well.  Some of that may be due to mongoose...not sure.

[2015-01-23 02:37] webteckie opened #940 "v0.3.0: Select field not behaving properly"
@jedwatson I think this is a blocker for 0.3.0  The select seems to have various issues!  For example, as soon as I create an item and submit the initial form then on the follow-up form the select options do not show.  If I type a character then it will show.  If I tried to scroll down the options it wont let me.

[2015-01-23 02:47] phillee opened #941 "Instructions for "how to add Keystone to already existing express app" aren't working"
The instructions at https://github.com/keystonejs/keystone/wiki/How-to-Add-Keystone-to-an-Already-Existing-Express-App aren't working for me.

1. mongoose isn't defined - is this just require('mongoose')?
2. I can access /keystone without logging in
3. /keystone/signin isn't a route
4. Opening an item such as /keystone/post/[id] errors with id not found for undefined

[2015-01-23 03:09] morenoh149 commented on #941
this highly dependent on your particular needs but I'll attempt to help.
* good catch you should define mongoose as well. I'll add that.
* this recipe doesn't cover the authentication for the adminUI. You must add `auth: true` to the `init()` call.
* should be addressed by number 2
* need more code to diagnose this
feel free to reply with details.

[2015-01-23 03:30] phillee commented on #941
Cool, /keystone and /keystone/signin work now. However new issue - /keystone redirects to /keystone/signin even when I'm already signed in.

Here's my code: https://gist.github.com/phillee/0df54b96d0154fff8da0

[2015-01-23 03:58] webteckie opened #942 "If editing an item and user inadvertently click some other item the changes are lost"
This is a usability issue I suppose.  The worst case is having typed a very long text and having it discarded because your mouse was over some other link on the page when clicked.

[2015-01-23 05:35] morenoh149 commented on #941
hmm that sounds very familiar. Can't remember what I did to solve it. I'm sure if your restart the server and add some console.log's you'll solve it. Make sure there is a valid user in your db (you could use mongohub gui on osx). And perhaps change your user model to `User`. Perhaps share anything odd you see in your server console output.

[2015-01-23 06:15] BerkeleyTrue commented on #941
@phillee Which version of keystone are you using?

[2015-01-23 13:01] alanshaw opened #943 "moduleRoot issue"
The inaccessible `moduleRoot` is a little problematic when trying to test my keystone app.

I'm using tape and have an initial test that requires my app so that subsequent tests can test it.

The test is in `test/example.js` and it does a `var keystone = require('keystone')` along with other requires at the top of the file, **before** the app is required and started.

The problem is that because t

[2015-01-23 15:58] jazz-ik opened #944 "localFile type field problems"
Hi!

Someone can help me with my problem? I want to use localFile type for field. I use next settings and can save images in right folder. But I can't to see them in admin UI, I always get next url in src attribute of img
[code]
and 404 error
Keystone version: 0.2.40

[code]
where I made a mistake?

Thanks!

[2015-01-23 17:22] jesse1ae commented on #944
It's a little difficult to see those options without code markdown (https://guides.github.com/features/mastering-markdown/)

In the format function, are you wrapping an `<a>` element around that `<img>`?

[2015-01-23 18:00] jazz-ik commented on #944
Sorry, I edited my comment.

Yes, in admin UI I have code:
[code]
but in Network I have 404 Not Found for this image and request to url:
[code]

I tried a lot of different ways, and can't understand where is mistake.

[2015-01-23 18:51] jesse1ae commented on #944
Try taking "public" out of the URL. By default that is the static (root) directory for publicly served files and so it shouldn't be in the URL.

[2015-01-23 19:45] morenoh149 commented on #943
Related https://github.com/keystonejs/keystone/issues/652

[2015-01-23 23:22] morenoh149 commented on #941
@phillee it just hit me! I saw that behavior when I attempted to set the `canAccessKeystone` field on the user model directly in mongodb. See http://keystonejs.com/docs/getting-started/ search for `canAccessKeystone`. For us we had to set the `isAdmin` variable instead https://github.com/r3dm/shpe-sfba/blob/52833d42f3f0fac04f6441d375f3e927bdd57571/models/User.js#L37 Does this solve your issue?

[2015-01-23 23:26] morenoh149 opened #945 "Documentation # hash anchor links"
I'm a big fan of being able to link directly to what you want someone else to read. Github has an amazing feature that lets you link directly to a specific line in some code, e.g., https://github.com/r3dm/shpe-sfba/blob/52833d42f3f0fac04f6441d375f3e927bdd57571/public/js/lib/jquery/jquery-2.1.1.js#L4348

The keystone docs should be enhanced to have `#anchors` on every heading and subheading. This i

[2015-01-24 02:47] JohnnyEstilles commented on #945
@morenoh149 AFAIK, all the headings/subheadings on the Keystone docs already have anchors. You can directly link to `Setting up your Routes and Middleware` using http://keystonejs.com/docs/getting-started/#routesviews-settingup.

I assume you're trying to say that you want some sort of visual representation of the anchor next to the heading/subheading so it can be easily bookmarked. If I understoo

[2015-01-24 04:39] jazz-ik commented on #944
I've solved problem.
This is correct code:
[code]

[2015-01-24 08:39] #944 closed

[2015-01-24 08:44] morenoh149 commented on #945
:( `<a name="routesviews-settingup">` I've never seen this convention until you pointed it out. Most docs I've read have `<foo id='routesviews-settingup'>` and it'd be on the heading `h1, h2, ...`. Github style works for me. And indeed would be a small program to add. I could get to it at some point if it isn't implemented.

[2015-01-24 08:52] JohnnyEstilles commented on #945
I don't know the pattern is an intentional convention or not, but the pattern does exist throughout the docs, so I took advantage of it to automate the anchor-link feature.

[Here](https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/getting-started.jade#L236) is the example you mentioned.

[2015-01-24 10:03] frederik commented on #442
That'd actually solve my problem as well - I've been looking into other ways to host keystone in a sub directory - seems like there is none.

@jtymann any new ideas on this one since October?

[2015-01-24 10:45] riyadhalnur opened #947 "Lodash over underscore"
Keystone currently uses underscore. Lo-dash is now the better option.

[2015-01-24 10:46] sebmck commented on #947
Duplicate of #315.

[2015-01-24 10:46] #947 closed

[2015-01-24 22:47] phillee commented on #941
Thanks @morenoh149! I had to put this on the backburner since I couldn't get it working. Will report back when I've tried your suggestions!

[2015-01-25 02:18] JohnnyEstilles commented on #945
#946 was merged yesterday. While there was an issue with the *post-merge* build of the docs, of which I already [informed](https://github.com/keystonejs/keystone/commit/8e866deffbef3ddc35a9d786150a12df21e15cc8#commitcomment-9430058) @JedWatson, it's probably safe to close this issue. I'm sure @JedWatson will resolve the issue soon. :-)

[2015-01-25 02:18] #945 closed

[2015-01-25 03:37] cameronjroe commented on #912
What about in the case where two package use the same vendor libs in the client js? Would that potentially create duplication across packages? Any thoughts on using bower's api?

[2015-01-25 03:53] cameronjroe opened #948 "Expose JSON API"
I'm not sure if Keystone is able to do this, but I think it would be a fantastic feature to be able to configure Keystone in such a way that it exposes a public json api for use with a client-side spa. I think this would help when using Angular or Backbone on the front-end. The great part is that one could manage their api via the cms and define what data they would like to expose.

[2015-01-25 04:44] shauntrennery opened #949 "Query on relationship field"
Is it possible to query

[code]

with a query like:

[code]

I've included the following populate setting in the query.
[code]

I'm not getting any results back.

[2015-01-25 06:18] JohnnyEstilles commented on #912
@cameronjroe, you're right on the money. Sorry I failed to mention dependency management for the packages. My intention is to use a combination of both npm and bower to the installation/deconfliction of both client and server third party library dependencies. We would either need to establish some sort of clear and well-defined workflow (which would require manually invoking npm/bower) or make it

[2015-01-25 08:28] JohnnyEstilles commented on #652
Keystone uses `moduleRoot` for a number of functions, including finding the `views` path, the `favicon` path, etc. Most Keystone developers (myself included) `require('keystone')` somewhere in the root of the app, so this isn't an issue for the majority of us.

That said, I propose we do two things:
1. Document the fact that `Keystone` expects to get required at the root of the app (which should b

[2015-01-25 08:31] JohnnyEstilles commented on #943
@alanshaw, check out my comment in #652.

[2015-01-25 10:21] alanshaw commented on #652
Hey @JohnnyEstilles - thanks for the insight.

FWIW:

The fact that I can require keystone from different directories and get different behaviour is a code smell. I understand it's built like that for convenience for the majority of people but it should be, at the very least, configurable.

If I have to restructure my app to allow it to be tested then that's probably something that needs to be cha

[2015-01-25 12:40] JohnnyEstilles commented on #652
@alanshaw, I personally don't consider this a code small, but that's just my opinion. I sincerely do not believe this is a symptom of a deeper issue in our code base, IMHO.

Suggesting that making the minor changes I suggested in order to make your code testable is "restructuring your app" is a bit of an overstatement. I was just trying to give you a temporary solution while we implement a more pe

[2015-01-25 13:12] SharadKumar commented on #652
+1

[2015-01-25 14:49] bang88 opened #950 "Use sub domain prefix"
I want to use a sub domain to load the uploaded files,but  the  `href` method normalize it with   `path.join `,so i can't get the result as expected

[2015-01-25 19:38] ericwebster commented on #883
I don't know if this is still a problem for you but he helper function for handlebars was looking for a completely object structure than what was being returned from flashMessage.

flashMessages returns an indexed array not an object like the handlebar helper function thought. I don't know if this was refactored at one point and they just missed this template. It was looking for 'title' 'detail' a

[2015-01-25 21:26] morenoh149 commented on #948
I'll close this in favor of https://github.com/keystonejs/keystone/pull/404 if that's not quite what you'd like I could reopen this.

[2015-01-25 21:26] #948 closed

[2015-01-25 21:35] morenoh149 commented on #949
Try
[code]

[2015-01-25 21:36] morenoh149 commented on #950
@littlebang could you fix it up in a pull request?

[2015-01-26 03:38] shauntrennery commented on #949
Pretty much exactly what my statement looks like. I'm afraid it does not work as user is not populated.

[2015-01-26 03:54] JohnnyEstilles commented on #949
@shauntrennery, sorry to be the bearer of bad news, but unfortunately mongoose does not provide a means to query on populated fields. As per the [Mongoose documentation](http://mongoosejs.com/docs/3.4.x/docs/populate.html) "there are no joins in MongoDB".

`.populate()` is just a convenience method to help us reference documents in other collections.

There is not way to filter by related fields i

[2015-01-26 03:54] #949 closed

[2015-01-26 03:57] JohnnyEstilles commented on #943
Closing ... duplicate issue. Essentially the same issue as #652. Let's continue the discussion in that thread.

[2015-01-26 03:57] #943 closed

[2015-01-26 09:24] frederik commented on #627
+1

[2015-01-26 09:34] frederik commented on #150
I feel that adding a generic CSV Upload button next to the Download should be the way to go long term. However, this is not as easy as it first appears because once you have relationships in your model you need to work with keys to have a meaningful upload.

A plugin system that could provide a custom upload button for models (so I don't have to use a pre.save hook) would be something worth explor

[2015-01-26 16:14] JohnnyEstilles opened #953 "Translate Keystone docs into Spanish"
## Synopsis

I believe translating the Keystone website/documentation into Spanish will be very valuable to the Spanish speaking Node.js community. Spanish is the second most spoken language un the work, with more 400 million native speakers worldwide. It is the official language of 20 countries, including Mexico, Spain, Colombia, Argentina, Perú, Venezuela, Chile, Ecuador, Guatemala, Cuba, Bolivi

[2015-01-26 18:52] jtymann commented on #442
Unfortunately I was researching this for a project, and ultimately decided to move a different direction. The fork at https://github.com/jtymann/keystone should be usable.

[2015-01-26 19:52] pr1ntr commented on #623
So I am not sure what did or did not get implemented here. But based on the docs there isn't much more info than the attributes themselves. I don't know what the result should be for sortable and sortContext. Are there any examples?

[2015-01-26 21:13] frederik commented on #442
I ended up hijacking the res.send and res.redirect methods - its nasty because I string replace but then this replacement is only active for my keystone routes so my normal app - works out fine for now (without me having to fork).

Adding a prefix variable to the templates/less would be really great though. Default could be /keystone so nothing changes.

[2015-01-26 21:56] ekynoxe commented on #793
It's interesting, overriding the template engine for the views for swig requires to use:

    'view engine': 'swig',
    'custom engine': swig.renderFile

Whereas doing the same in a model using `new keystone.Email()` seems to only need:

    'view engine': 'swig',
    'custom engine': swig

Without the renderFile

Using the override as suggested by @sebmck does seem to work though, as the `lib/em

[2015-01-26 21:58] ekynoxe commented on #793
I'd be happy to help solve this one, but I'd need some steer as I've not contributed to anything yet (shame on me). I'll go look at the docs and guidelines.

[2015-01-26 22:58] Phineas-z commented on #41
@kumo I have encountered the same problem, and found out that may be caused by the latest connect-mongo version. The latest version of connect-mongo can not work together with keystone, that is why ^0.4.1 is inappropriate, which would upgrade to 0.7.0. While ~0.4.1 will keep the version with 0.4.x, which is fine with keystone.

[2015-01-26 23:00] sebmck commented on #41
@Phineas-z See #924

[2015-01-27 01:19] cameronjroe commented on #912
Cool! One other question I had in regards to user contributed packages is how one might potentially hook into Keystone's lifecycle at different points. Would a package author be able to utilize the keystone npm/bower modules to hook into Keystone's lifecyce? Essentially utilizing it in their package for integration with keystone?

[2015-01-27 01:41] JohnnyEstilles commented on #912
@cameronjroe, if I understood your question correctly, my answer is yes. Packages, as I envision them in this architecture, will be discovered and initialized by Keystone. During the initialization process, the discovered package will be able hook itself into different aspects of Keystone's lifecycle (create routes, listen to events, create/replace views, etc.) How exactly we will accomplish this

[2015-01-27 07:16] JedWatson commented on #652
Fixed by #954

[2015-01-27 07:16] #652 closed

[2015-01-27 07:25] JedWatson commented on #41
Just to clear this up:

Keystone <= 0.2.40 would not work with connect-mongo >= 0.5.0

Keystone 0.2.41 introduced compatibility with connect-mongo >= 0.5.0 but unfortunately broke compatibility with connect-mongo <= 0.4.1

This was fixed in 0.2.42, it and future versions should be compatible with _all_ versions of connect-mongo.

If you are experiencing problems with it please make sure you upgrad

[2015-01-27 07:28] JedWatson commented on #41
**Also** to clear up misconceptions about `^` and `~`

See [the docs for semver](https://github.com/npm/node-semver#caret-ranges-123-025-004)

* `~` matches **patch updates** to the specified version (i.e. `~0.4.1` would allow `0.4.1` and `0.4.2` but not `0.4.0` or `0.5.0`, and `~1.4.1` would allow `1.4.1` and `1.4.2` but not `1.4.0` or `1.5.0`)
* `^` matches **any version that does not modify the

[2015-01-27 08:43] JohnnyEstilles commented on #937
At first I didn't see the usefulness of this feature, but after a few exchanges on [StackOverflow](http://stackoverflow.com/questions/28077011/how-to-specify-custom-dev-prefix-in-a-keystone-localfile-field) with @jesse-ae on the subject (please ignore my misguided answer to his question :-), he explained and made his case for his use-case and I eventually came around.

That said, I perceive some b

[2015-01-27 08:57] JedWatson commented on #942
Do you mean that it's possible to navigate away from the page without warning that you've entered changes?

If so, that's the same as 0.2.x so let's remove the **v0.3.0** from the title. Otherwise can you give a little more info?

[2015-01-27 09:10] #939 closed

[2015-01-27 09:13] JedWatson commented on #939
I've fixed this by always rendering CodeMirror and setting the `readOnly` option to the `noedit` value.

This means that when language support is added back in, noedit fields will still be syntax-hilighted correctly.

It's a _little_ strange that the field looks like the normal editable version, and you can focus it even though it's read-only, which is different to other fields, but otherwise sele

[2015-01-27 09:15] JedWatson commented on #939
Update: I've disabled the focus styling when code fields are set to `noedit`, so at least it doesn't look like you should be able to type in it. The caret still appears but it's better than before.

[2015-01-27 09:39] wangpingsx commented on #153
Hi guys,

I have solved this issue

This blog explains how to use it:
http://baiduhix.blogspot.co.uk/2015/01/a-new-type-of-keystonejs-objectarray.html

This blog explains the source code of my solution:
http://baiduhix.blogspot.co.uk/2015/01/a-new-type-of-keystonejs-objectarray_26.html

@JedWatson let me know if you have any issue with that.

Thanks,
Peter

[2015-01-27 09:53] #938 closed

[2015-01-27 09:56] JedWatson commented on #938
Good catch @webteckie - this was actually broken for all field types.

Fields should be editable in the create form when they're set to `initial: true` even with `noedit: false`.

The react components weren't implementing this logic.

I've added a new method to the base Field class called `shouldRenderField` that they now all pay attention to, encapsulating this logic.

[2015-01-27 12:44] webteckie commented on #942
Yeah, that's what I meant.  ok, title edited.

[2015-01-27 16:59] mandb commented on #153
@wangpingsx - very nice plugin, will look into it but this seems to be the best approach so far.

[2015-01-27 17:39] danielmahon opened #955 "Can we remove the build files from the repo?"
Shouldn't building be handled by an npm hook? I have been working on a few feature branches that make it hard to create a clean rebase/history when Im expected to checkin the built files (less, app.js).

[2015-01-27 17:59] jesse-ae commented on #937
@JohnnyEstilles, I'm all for this solution. I hadn't considered how changing the `dest` and `prefix` values would impact existing files, so thanks for thinking it through.

[2015-01-27 19:31] morenoh149 commented on #955
so you're working on parts of the code that would trigger a rebuild? Which file exactly?

[2015-01-27 21:10] danielmahon commented on #955
creating new field types, which includes changes to react and less, both of which get "compiled" and commited

[2015-01-27 21:17] morenoh149 commented on #955
ah and this file https://github.com/keystonejs/keystone/blob/master/public/build/js/app.js has be rebuilt? any others?

[2015-01-27 21:20] danielmahon commented on #955
It makes sense to me to include the `gulp build-scripts` to the `prepublish` script in package.json.

`/public/styles/keystone.min.css` is committed also which can be taken out since it will be compiled on first run anyway

[2015-01-27 21:40] jdr0dn3y commented on #940
I just tested this, and cannot duplicate this specific issue. however, there is an issue with the 'numeric' option for the selector. It causes a rendering error in the browser:

[code]

I'm using the keystone-demo to test currently.

[2015-01-27 23:23] webteckie commented on #940
The select issues seem to be random.  I think @JedWatson just gonna have to play with it to see if he can duplicate some of it.  Otherwise, there seem to be workarounds for getting around these so it may not be a blocker for releasing 0.3.0; but some annoyances should be expected.

[2015-01-27 23:29] webteckie commented on #891
@JedWatson or anyone familiar with it can someone handle the CloudinaryImages field's updateItem?  I have tried but got a bit confused :-)  I had done the CloudinaryImage a while back but this one seems to be a bit trickier since the path is an array.  Somehow I suspect that the update handler is not passing the correct or sufficient data for updateItem to do its job.  But I could be wrong!

[2015-01-27 23:33] webteckie commented on #938
@JedWatson confirming that this now works as expected.  Thanks!

[2015-01-27 23:36] webteckie commented on #939
@JedWatson confirming that this now works as expected.  Not sure what you meant above by "copy/paste doesn't work" but I can copy out of that no-edit box and paste somewhere else.  Thanks!

[2015-01-27 23:52] mandb commented on #153
@wangpingsx, does it only support string-objects or can you use more complex object types in the sub object definitions?

[2015-01-28 01:29] JohnnyEstilles commented on #937
@jesse-ae, no problem. I'll wait for input from @JedWatson and the rest of the contributors before proceeding. I think that as long as I can make this backwards compatible there shouldn't be an issue, but I would still like fresh eyes on it.

[2015-01-28 04:45] jjhesk commented on #339
I am totally pro polymer. I think this era is coming very soon and people will possible forget IE8 and the old days. Polymer will bring the whole new ERA to web app world eventually. Sorry for this bold statement.

[2015-01-28 04:59] aaronpowell commented on #339
I think you'll find @JedWatson had moved off polymer and is all up in React now :stuck_out_tongue:

[2015-01-28 10:27] JedWatson opened #957 "On-start building of Admin JS app.js"
We need to change the build process for `app.js` so that it is built when Keystone is started, including _only_ the fields that are actually used by models.

This will both remove the need for a built file to be included in the npm package (and github project, see #955) _and_ let us dramatically reduce the file size of app.js in most cases (it is currently 1.6mb)

i.e. if you don't need CodeMirror

[2015-01-28 10:29] JedWatson commented on #955
@danielmahon I was planning to remove them once I got the on-init build process in place (see #957) but would be happy to do this first since it's causing you issues.

If you could submit a PR with the changes needed to `package.json` and `.npmignore` (is anything else needed?) I'd be glad to merge it, otherwise I'll get to it as soon as I can.

[2015-01-28 13:04] adamscybot opened #958 "Support unix sockets in Keystone.start()"
Currently doing this by using my own express instance. It would be nice to be able to specify this in the keystone config. Express supports this out of the box by passing unix://socket_file_example to app.listen().

High load applications fall over with high volume traffic when they use internal TCP connections with a reverse proxy (nginx, apache), as eventually the internal TCP connection limit i

[2015-01-28 14:00] wangpingsx commented on #153
@mandb  only string for sub-object' fields  at that moment.  you can make it to support number by this:

E.g. i can make the "ext" field as number by this:

xxxxx.add(
	{

		//***** Note, this is nessary !!!  Start *****//
		'contacts': { type: ObjectArray, initial: true,
			subObjectDefine: {
				role: { type: String}, //only string now
				ext:{ type: String}
			}
		}
		//***** Note, this is nes

[2015-01-28 16:00] sononix opened #959 "Failed to load c++ bson extension"
tried following  a yo generator install of keystone but getting this error
[code]
I only get the server running when I stop and restart the terminal - any thoughts on removing the error

[2015-01-28 19:16] webteckie commented on #937
I think many other field options can benefit from having a function value to dynamically generate a field option value based on some other properties of the list, the keystone context, and/or overall run-time environment.   Couldn't a generic solution be implemented that works for any field option?

[2015-01-28 21:29] bravomartin opened #963 "It's not possible to delete a text field"
Once you have saved some text in a text field (text, html, textarea), there is no way of deleting it.
Apparently when you submit an empty field it just ignores it.
You can submit a space, but then in templates `if` will return true.

[2015-01-28 21:31] danielmahon commented on #963
@bravomartin Have you updated Keystone to the latest version? Sounds like #914

[2015-01-28 21:38] bravomartin commented on #963
I hadn't. Updated and it works! Thanks

[2015-01-28 21:38] #963 closed

[2015-01-28 22:13] JohnnyEstilles commented on #937
@webteckie, there's already a generic solution to generate dynamic values, Mongoose [virtuals](http://mongoosejs.com/docs/2.7.x/docs/virtuals.html).

Actually, in my original answer to @jesse-ae's question in [StackOverflow](http://stackoverflow.com/questions/28077011/how-to-specify-custom-dev-prefix-in-a-keystone-localfile-field) I recommended that he used virtuals. Unfortunately, in this case, @

[2015-01-28 22:33] JohnnyEstilles commented on #959
@sononix, can you provide additional specifics:

* OS (I ask because I've encountered this issue on OSX when command developer tools are no available)
* Keystone version
* Node.js version
* Anything else you think might be relevant

[2015-01-28 22:44] JohnnyEstilles commented on #950
@littlebang, can you be a little more specific? I don't quite understand what you're trying to achieve.

Are you talking about a `LocalFile` field type? Is your intention to upload to a different sub-domain (while running multiple instances of Keystone)? Or do you have multiple domains (including a sub-domain) pointing to the a single instance of Keystone and you just want to serve the uploaded fi

[2015-01-28 23:08] webteckie commented on #937
@JohnnyEstilles hmmm...I thought field options could not access virtuals directly?  So taking the Select field as an example, you saying I can do something like:

[code]

[2015-01-28 23:12] danielmahon commented on #955
@JedWatson Ill work on a PR today, one thing ive been struggling with is the "proper way" to build/deploy this on heroku once I take out app.js. If we use the `prepublish` script to build the npm module it's fine because the build file will be included in the published module. But for my current setup, my current app is pointing to a forked branch of keystone. This means I need to build on heroku,

[2015-01-29 00:39] JohnnyEstilles commented on #937
@webteckie, I see what you mean. I think I misunderstood what you were proposing because I was looking at it in the context of @jesse-ae issue. @jesse-ae's use case and yours are fundamentally different. In @jesse-ae's, the generated values for `dest` and `prefix` have no meaning or even use before the item/field is saved. In yours `options` is required before an item is saved in order to generate

[2015-01-29 01:03] webteckie commented on #937
@JohnnyEstilles I guess it's a concern to attempt a generic solution.  Then we should address this on a per field basis outside of the issue being  addressed here.

[2015-01-29 04:25] JedWatson commented on #940
I've fixed the numeric select issue with a hack workaround, because that was a real blocker.

It's fine for now but should be fixed in the actual select control itself (there's an issue for it)

Will look into the rest of the issues soon.

[2015-01-29 07:49] sononix commented on #959
OS 10.10.1
keystone 0.2.42

Developer tools are installed
Mongodb - v2.6.7
GNU Make 3.81
gcc version 4.9.2 (Homebrew gcc 4.9.2_1)

mongodb installed using brew - I think only way I could get it to work
node was using version v0.10.32 - updated to v0.10.36 using nvm for management

that about it that I can think of

[2015-01-29 08:15] sononix opened #964 "git clone repo error"
after git cloning the repo - Ive changed the version from 0.2.42 to 0.3.0 and ran

sudo npm install - results in this error

  SOLINK_MODULE(target) Release/.node
ld: library not found for -lgcc_ext.10.5
make: *** [Release/.node] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/Users/ms/.nvm/v0.10.36/lib/node_modules/npm

[2015-01-29 09:05] janryWang opened #965 "I recommend keystone document can show us an overall framework map, which can help to understand the source code"

[2015-01-29 09:08] sononix commented on #957
To some extent shouldnt this be taken care by including the relevant task in the gulp/grunt files - Ive only just download the repo so I still feeling my way around the architecture - kicking the wheels to some extent

does that mean that app.js needs to be 'restarted' everytime a change is made to app.js - similar to raising a sails app each time -- what is best practice in development then

[2015-01-29 10:04] janryWang commented on #965
😭😭😭😭😭😭😭😭😭😭😭😭

[2015-01-29 14:24] janryWang opened #966 "How to nested query relational data?"
This is my data structure, I want to implement a relational query, but the query is nested data fields.I know after reading mongoose document the basic usage of nested queries, but when I tested but nothing returns.Please help me, I will be grateful.
`
        //Define

    var TimeLine = new keystone.List('TimeLine', {
        hidden:true
    });
    TimeLine.add({//timeline datameta
        arti

[2015-01-29 14:26] #965 closed

[2015-01-29 15:05] dtuyenle commented on #916
Would be nice if you could put a notification on the keystone documentation. Thanks

[2015-01-29 16:48] vfermino opened #967 "Function thread order troubles"
Hello. I'm using Keystone to develop a website and I am having a little trouble with a single route.
There is a route called "contact.js" that is used to send enquiries to our database. There is also a model for Themes, which are based on CSS files that we upload and set to boolean values to customize the appearance in an easy way. The Theme model is loaded on the middleware.js route, and it loads

[2015-01-29 18:36] sillero commented on #865
+1 on @creynders suggestion about using `.jsx` instead of `.js`

just started fiddling with the keystone admin ui and that is the first thing I noticed. I usually use `.jsx` and that helps me visually identify react components and with packaging and validation

[2015-01-29 18:43] jjhesk commented on #339
Finally I have caught up with React and it seems to give a promising performance on UI updates mechanism. On the other hand, polymer starts with the shadow dom which does things on the lower level and it will handled by the google chrome built-in components such as rendering calculations. I think polymer will be adopted by keystone in the long run. React on the other hand are built by the instagra

[2015-01-29 20:12] morenoh149 commented on #966
you're never actually assigning a post to a timeline. You've declared the relationship types but never the link between them. Try setting the `Timeline.article = articleInstance` somewhere in your code. Most relationships can also be set from the adminUI.

Also you probably want your timeline to hold a reference to an *Array* of posts.

[2015-01-29 20:27] morenoh149 commented on #965
I was thinking of what a diagram would look like. Try cloning the repo and expanding all folders. That gives you a decent idea of what the areas of the code are. Some UML diagram might be useful.

[2015-01-29 20:28] morenoh149 commented on #916
@dtuyenle a notification of what?

[2015-01-29 20:37] morenoh149 commented on #967
the themes from the middleware are loaded after hitting `/` as well. The mongoose query seems like it's happening asynchronously so you keep seeing `1, 2, GET, <themesArray>`. How is it you say it's working on all routes except `/solution`?

[2015-01-29 20:52] morenoh149 opened #968 "Changing User name field"
Is there a setting I must enable to change a user's `name` attribute?
![screenshot 2015-01-29 12 51 08](https://cloud.githubusercontent.com/assets/587438/5966024/a2a4d090-a7b5-11e4-84a1-aa95cbc2e545.png)
[code]

[2015-01-29 23:07] webteckie commented on #967
@vfermino wouldn't you then want the theme middleware to complete fetching the themes before continuing on?  For example:

[code]

[2015-01-29 23:20] webteckie opened #969 "Add a Geo field to the core set"
The Location field has Geo info but some use cases do not require all that other information configured in it.  A standalone Geo field can satisfy many use cases without the extra overhead.

[2015-01-30 00:33] webteckie commented on #450
@JedWatson is the example above where dependsOn is used in the heading supposed to work?  If so, then it seems to be broken in 0.3.0 (I haven't checked 0.2.x).  @snowkeeper did you test this case with your recent changes to dependsOn?  Regardless, it is a very useful thing to have working and it doesn't seem to be.

[2015-01-30 01:13] JohnnyEstilles commented on #959
I haven't been able to replicate your issue, so unfortunately I don't have a definitive solution for you. However, I have encountered this issue in the past on more than one occasion. One time was related to the lack of developer tools on OS X (clearly not your case). Another time it was caused by some dependencies not properly installed (probably due to install errors I didn't notice). Something

[2015-01-30 03:05] webteckie commented on #450
I'm going to create a new issue for the list header dependsOn regression.  The issue described in this thread seems to be fixed and this one should be closed.

[2015-01-30 03:08] webteckie opened #970 "dependsOn broken for list headings"
The following enhancement (done via 0ef857d), has regressed.  Once the regression is addressed the feature should also be documented:

v0.1.38 / 2013-11-06

added; ability to use dependsOn with headers, thanks itzaks
new syntax is { heading: 'Heading with dependency', dependsOn: { field: 'value'} }

[2015-01-30 03:23] janryWang commented on #966
@morenoh149
This is my code,I forgot show the plugin.But still can not query data

[code]

[2015-01-30 03:24] janryWang commented on #965
@morenoh149
Okay, thank you very much

[2015-01-30 03:35] #936 closed

[2015-01-30 04:04] snowkeeper commented on #970
It looks like this just needs the logic added into the React templates.  I can look at it before too long.  @JedWatson do you still want to pull over the expression-match module and tie it in?

[2015-01-30 04:26] snowkeeper commented on #968
Confimed for master.
![noname](https://cloud.githubusercontent.com/assets/6615106/5971174/f0ce6170-a80d-11e4-8031-0a09eaa15c3c.png)

[2015-01-30 06:11] #450 closed

[2015-01-30 07:21] snowkeeper commented on #968
I did a little digging and found where it seems the error is happening, but I am not sure if it is expected for some reason.

https://github.com/keystonejs/keystone/blob/master/lib/list.js#L83-L85
[code]

This checks if the field is type `text`.  Changing it to test `type === 'name'` and changing the name field def to include `noedit: false` shows the field as it should.

I can make the PR if y'al

[2015-01-30 08:05] snowkeeper commented on #968
I tried some other things and found the actual blocker that stops the UI from functioning like 0.2.x.
https://github.com/keystonejs/keystone/blob/master/lib/list.js#L140-L142
[code]
Removing  `el.field === this.nameField ||` fixes the UI issue without adjusting
https://github.com/keystonejs/keystone/blob/master/lib/list.js#L83-L85
[code]
Although I am wondering if `nameIsEditable` is functiong as

[2015-01-30 08:12] snowkeeper commented on #968
Changing `nameIsEditable` give a UI like so:
![1_007](https://cloud.githubusercontent.com/assets/6615106/5972807/953a016e-a82d-11e4-892b-6f818ee43cd3.png)

Changing `getOptions()` produces a UI like 0.2.x:
![1_005](https://cloud.githubusercontent.com/assets/6615106/5972811/a5153072-a82d-11e4-990b-64d9e0157949.png)

[2015-01-30 08:29] snowkeeper commented on #964
Changing the package version has no effect on the install.   I just did a test and got a clean install.

One thing I notice is you are using `sudo npm install` on a `nvm` setup.  You should not be installing with `sudo`.  Using `nvm` should place `node` and `npm` into your user PATH.

This would suggest a local error.  The first thing you should  do is make sure `nvm` has properly set up node and

[2015-01-30 09:03] morenoh149 commented on #968
ah so then it sounds like it was intended to be configurable. I think changing it so `nameIsEditable` is `true` by default would be better.

[2015-01-30 10:04] snowkeeper commented on #968
I figured everything out I think...

Keystone makes special use of a Field defined `name` to display a header on the form.
[code]
 `nameIsEditable` is setting a boolean `true` if a `name` field is not explicitly defined as `noedit:true`,  but is only checking for the type `text`.  So `Types.Select`, `Types.Name` etc are defined `false` and are not allowed to be editable in 0.3.0 due to `getOptions

[2015-01-30 10:19] vfermino commented on #967
Putting the next(); inside actually worked fine. Thanks a lot. Problem solved.
Apparently that was the very reason that it was working asynchronously, although I still don't quite understand why it only "malfunctioned" on a single view. Maybe it's because Mongoose also had the load other models in that case.

[2015-01-30 10:19] #967 closed

[2015-01-30 11:03] jesuscript commented on #212
Is there any documentation for how to configure it anywhere?

[2015-01-30 11:13] webteckie commented on #967
@vfermino it is still working asynchronously...previously you had it working asynchronously and concurrently, which does not guarantee execution order.

[2015-01-30 11:20] snowkeeper commented on #739
This can be fixed by upgrading tinymce to 4.1.7.

How are those libraries managed?  @JedWatson should I submit a PR with the updated tinymce folder or do you pull those in another way?

[2015-01-30 11:59] morenoh149 commented on #212
nope. What do you want to do to it? @jesuscript https://github.com/keystonejs/keystone/blob/e4d81801cce17ab3244df0a56eb3b3dcdc3fb65c/lib/security/csrf.js

[2015-01-30 12:02] jesuscript commented on #212
that was quick, thanks :) I need to set up some protection for a "contact us" form. Never used csrf before, just wondering how it's done.

[2015-01-30 12:03] morenoh149 commented on #739
really? I got as far as observing the input field is unusually small in the final result. That's what was causing the input field to not get focus on click.

@snowkeeper could we use the npm module? http://www.tinymce.com/wiki.php/Installation_using_package_managers if that works anything like the various other dependencies keystone already has this would be the way to go.

[2015-01-30 12:07] morenoh149 commented on #212
csrf protection is added to list interactions https://github.com/keystonejs/keystone/blob/08aa9526b872683e6e87a60751f923436f7812c4/routes/views/list.js#L134 so it's automatic if you do things the *Keystone* way

[2015-01-30 12:15] jesuscript commented on #212
great. I'm not sure I understand how to create a form the Keystone way. Any pointers?

[2015-01-30 13:00] morenoh149 commented on #212
All forms get injected with csrf related data ( @JedWatson correct me if I'm wrong). So you don't have to add anything special to a form to get csrf protection.

See https://github.com/r3dm/shpe-sfba/blob/master/templates/views/jobForm.jade#L18 produces a form that submits post data like this:
![screenshot 2015-01-30 04 56 42](https://cloud.githubusercontent.com/assets/587438/5975931/b04307e4-a83c

[2015-01-30 13:23] jesuscript commented on #212
Yep, I see that. Doesn't happen for me (no XSRF cookie). I thought there was some config that needed to be switched on so I cloned the repo and searched for `xsrf` and `csrf` but nothing came up...

I'm using Keystone 0.2.42 which is the latest release I think...

[2015-01-30 13:32] snowkeeper commented on #212
This is how Keystone sets up and uses csrf.

The implementation file is https://github.com/keystonejs/keystone/blob/master/lib/security/csrf.js.

In a route file you can add locals for csrf
[code]
To check for a valid csrf use
[code]

Then use them in jade however you like.  This is from Keystone 0.2.x.  Provide your own way of adding the values to the request.
[code]

[2015-01-30 14:19] snowkeeper commented on #966
Are you sure you have an `_id` property at that point.  Change `Article.schema.pre` to `post` and check `_timeline.save` for errors
[code]

[2015-01-30 14:32] jesuscript commented on #212
Thanks snowkeeper! That should do it :+1:

[2015-01-31 00:33] #535 closed

[2015-01-31 01:01] chrisschaub opened #973 "Master branch install"
So, we're going to be starting a few major builds on Keystone. We've been working in 0.2 but think we should probably just use 0.3.0. Are there any install instructions for 0.3.0 ... I've almost got it going, just wonder if there is something already written up. Thanks for any help.

[2015-01-31 02:22] snowkeeper commented on #970
Fixed by #972

[2015-01-31 02:23] snowkeeper commented on #970
Closed prematurely, still needs documentation

[2015-01-31 02:24] snowkeeper commented on #629
Fixed by #971.  @Ventis sorry it took so long.

[2015-01-31 02:33] snowkeeper commented on #973
0.3.0 is close to being released.  For any changes you might need to make check out the [Wiki](https://github.com/keystonejs/keystone/issues).

If you are still using `List.addPattern("standard meta")` you need to switch to the [list tracking feature](http://keystonejs.com/docs/database/#lists-options)

Express has been upgraded from 3 to 4.

[2015-01-31 07:31] snowkeeper commented on #970
documented by #974

[2015-01-31 07:31] #970 closed

[2015-01-31 13:53] chrisschaub commented on #973
I'm really just trying to understand the steps to run from git master branch, not the yo generator. The docs seems to point to running two environments (a 2x and 3x) alongside with npm link. So, I really think I just want to build node_modules/keystone from scratch ... trying to figure out the way to do that. Thanks for nay help. The rest seems to work.

[2015-01-31 14:03] snowkeeper commented on #973
sorry... `npm install keystonejs/keystone` will install the 0.3.0 branch.

[2015-01-31 14:08] chrisschaub commented on #973
Ahh, thanks. I was thrown by the version numbers in history.md which show
v0.2.42 as the version! Didn't realize that 0.3.0 would be a git tag or
something upon release. Thanks!

On Sat, Jan 31, 2015 at 8:03 AM, Brett Newman <notifications@github.com>
wrote:

--
Christopher Schaub
http://chris.schaub.com

[2015-01-31 14:39] janryWang commented on #966
@snowkeeper
There is no problem, but then I found mongodb itself does not seem to support nested query references, unless with the program

[2015-01-31 17:11] chrisschaub commented on #973
Are there any downsides starting with 0.3.0 now? Seems pretty solid. I have a 30-45 day project I need to nail. Am willing to roll up sleeves and send patches as needed. Thanks again.

[2015-01-31 18:28] johnlo1992 opened #979 "Deep Populate: Populating something that has been populated"
Hi,

I was looking at the example posted here https://github.com/LearnBoost/mongoose/issues/1888 and was wondering if it were possible to take it one level further?

For example,
[code]
How could I populate say the articles from an author List within the populateRelated function?
`posts[author[articles]]`?

Thanks very much!

[2015-02-01 05:38] #629 closed

[2015-02-01 05:42] morenoh149 commented on #966
@janryWang is your problem solved?

[2015-02-01 05:43] morenoh149 commented on #973
@chrisschaub I'd go with 0.3.0. If there are any bugs in the react components we can fix them

[2015-02-01 05:43] #973 closed

[2015-02-02 04:53] janryWang commented on #966
@morenoh149 I chose an alternative, use elasticsearch to query datas.

[2015-02-02 04:53] #966 closed

[2015-02-02 05:11] Yinear commented on #683
@morenoh149
If you deploy keystone on localhost:3000
You can try visit http://localhost:3000/11%BA%C5%20%CF%F4%BC%D1%C7%D9.jpg

Is there a 500 error?

[2015-02-02 05:37] morenoh149 commented on #683
I see
[code]

[2015-02-02 05:49] morenoh149 commented on #683
@Yinear see these issues https://github.com/strongloop/express/search?q=percent&type=Issues&utf8=%E2%9C%93 Sounds like express is doing exactly what it should - error out like apache does. You either need to properly encode your url @Yinear

Or, @keystonejs/contributors is there a way for keystone to add a middleware to the express instance that would catch this edge-case as well?

[2015-02-02 06:05] Yinear commented on #683
@morenoh149
I don't use % in my project,  It's OK with me.
So It's not a issue of keystone.  I close it.

[2015-02-02 06:06] #683 closed

[2015-02-02 07:54] morenoh149 commented on #683
oh okay. My issue was that my jade template depended on a variable being initialized by `initLocals` https://github.com/r3dm/shpe-sfba/blob/master/routes/index.js#L12 so when the jade template tried to reference this undefined variable it would error out. Short-circuiting in the jade template solves this issue and displays a 500 error. https://github.com/r3dm/shpe-sfba/commit/14c93107bf439ee554cf8

[2015-02-02 13:42] douglasf commented on #474
My solution was to add this to FieldTypes.Money constructor
[code]
and this to the top of the format function
[code]

Then `currency: 'sv-se', format: '0[.]00 $'`would load the sv-se.js from languages folder and format it according to the format option.

Was a very quick patch so I might have overlooked something.

[2015-02-02 17:43] snowkeeper commented on #958
Added via #961

[2015-02-02 17:43] #958 closed

[2015-02-02 19:15] chrisschaub opened #981 "Working with master branch"
So, I've ...

get master branch
% git clone https://github.com/keystonejs/keystone.git keystone

installed node modules
% npm install

installed latest keystone master
% npm install keystonejs/keystone

% edit package.json to have start script for "node index.js"
% npm start

see these two lines

and then nothing. Do I need to manually create the db? I'm just wondering if the install for the maste

[2015-02-02 19:43] morenoh149 commented on #474
@douglasf make it a pull request. Looks good.

[2015-02-02 19:45] morenoh149 commented on #981
make sure mongo is already running on your machine http://docs.mongodb.org/manual/tutorial/manage-mongodb-processes/

[2015-02-02 19:47] chrisschaub commented on #981
It is, and the 0.2.0 worked locally just fine.

On Mon, Feb 2, 2015 at 1:45 PM, Harry Moreno <notifications@github.com>
wrote:

--
Christopher Schaub
http://chris.schaub.com

[2015-02-02 19:49] chrisschaub commented on #981
I thought it would just pick up the default mongo configs for working
locally? Do I have to add mongo connection strings someplace? My stuff is
all default on osx and worked for 0.2.0.

On Mon, Feb 2, 2015 at 1:47 PM, Christopher Schaub <chris@schaub.com> wrote:

--
Christopher Schaub
http://chris.schaub.com

[2015-02-02 19:59] morenoh149 commented on #981
no the default port and address could work. I just use an .env file in my project. But I believe keystone will work with a default mongo running on the same machine.

I don't get why you're cloning the project and then using npm to install keystone master. I personally would fork the master branch. Then reference this repo as a dependency in your project. Like this https://github.com/r3dm/shpe-sfb

[2015-02-03 01:38] weekwood opened #982 "Any idea how to keep Chinese doc syncing?"
How to list out all the commits with doc modification, want to update Chinese docs

[2015-02-03 03:38] snowkeeper commented on #982
I thought about that a while ago.  Would a running issue like this that we update work or should it be a room set up on Slack?

Here are the areas I changed recently...

http addition
https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/configuration.jade#L173-L182

https addition
https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/configuration.j

[2015-02-03 03:39] weekwood commented on #982
+1 for creating slack room, Thanks @snowkeeper.

[2015-02-03 04:36] snowkeeper commented on #982
We have a [documentation](https://keystonejs.slack.com/messages/documentation/) channel on Slack already.   I will post there in the future.  @JohnnyEstilles this might interest you since you are working on ES docs.

[2015-02-03 04:37] JohnnyEstilles commented on #982
@snowkeeper / @weekwood, creating a Slack room is a good idea to broadcast when docs need to be updated, however it does not allow us to keep track of which updates have and have not been completed.

A few days ago I started a discussion on [Slack](https://keystonejs.slack.com/archives/questions/p1422339654000046) regarding this topic. These were the suggestions solutions that came out of that dis

[2015-02-03 05:09] snowkeeper commented on #982
I vote for adding issue labels for each language then requiring a new issue be created whenever a PR requires updates to the docs.

When a language PR has been merged remove the label on the issue.

The same would be applied to doc updates that do not stem from a PR; create an issue with the required labels.

[2015-02-03 05:13] weekwood commented on #982
+1 create issue and add issue labels

[2015-02-03 05:21] JedWatson commented on #969
+1 I will add this on the plane back to Sydney. Need something easy to do ;)

[2015-02-03 05:25] JedWatson opened #983 "Something's not right with the new logger settings"
I'm getting this when request are logged using the default config:

`GET /keystone/posts/54cafdaf3ec6e2925ff49ee9 200 276.108 ms - -`

The dev output setting should display this:

`:method :url :status :response-time ms - :res[content-length]`

It looks like `res[content-length]` is not being set, it probably should be though?

Would be great if someone can look into this.

[2015-02-03 05:32] JedWatson commented on #983
FYI docs are here: https://github.com/expressjs/morgan

[2015-02-03 05:32] JedWatson commented on #982
So to recap:

- English is the "source" language, translations are created from it
- Create a new issue when a docs update is needed (or, when new docs are added that need translation)
- The issue is tagged with every language that needs translation added
- As translations are merged, the tags are removed
- When all translations are done the issue is closed

Did I miss anything? Does this work for

[2015-02-03 05:54] snowkeeper commented on #982
I am on board.  Also agree with @JohnnyEstilles about adding the process to the wiki.

[2015-02-03 05:55] weekwood commented on #982
looks good.

[2015-02-03 06:02] snowkeeper commented on #982
How about also adding the **needs documentation** label to every issue or set a standard title format

[2015-02-03 06:14] JohnnyEstilles commented on #982
+1 create issue/add labels

[2015-02-03 06:19] JohnnyEstilles commented on #982
One additional suggestion ...

Once the English docs are created/modified we should reference the PR for the docs (either in the body or the title of the docs issue), so that the translators can easily find the commits to the docs that need to be translated.

[2015-02-03 07:07] snowkeeper commented on #982
Here is a proposal for the wiki.  Please edit at will.

### Documentation Translation Guidelines
Keystone's source language is **English**.  We have **Chinese** and **Spanish** translations currently available.  Any new documentation should include the source language before it can be merged.

In order to keep the process open and available to any who wishes to contribute we have developed the fol

[2015-02-03 08:37] Yinear commented on #320
Why this is not been merged?

[2015-02-03 09:11] morenoh149 commented on #320
@Yinear this is not a pull request. If mean #608 then the author said himself that it doesn't solve the most complex usecase. More discussion is needed. @Yinear have your reviewed the pull request? what do you think is missing?

[2015-02-03 10:25] snowkeeper commented on #983
The `compression` middleware removes the `Content-Length header` .

When I set `compress: false` I get the correct string with colored status.

[2015-02-03 11:30] Yinear commented on #320
@morenoh149 I need just a simple button like he does.  Or a text label to show the link of the Post.
Maybe I can do it by adding a note to the post title

[2015-02-03 11:38] weekwood commented on #982
![image](https://cloud.githubusercontent.com/assets/310350/6019478/e266c77c-abdb-11e4-9189-d155c17f8fdc.png)
mention is not working

[2015-02-03 11:48] webteckie commented on #969
@JedWatson cool that would clean up my code a bit :-)

[2015-02-03 12:29] webteckie commented on #982
Keep in mind that no everyone  (like me) has permissions to tag/untag.  Thus, someone else with that level of permission would have to handle it.

[2015-02-03 14:18] weekwood commented on #982
@snowkeeper think we need a branch to manage PR instead of master or 0.2.0

[2015-02-03 15:40] JohnnyEstilles commented on #953
## Spanish translation status

folder | filename | status
--- | --- | :---:
es/templates/mixins | docsnav.jade | Done!
es/templates/layout | base.jade | Done!
es/page | 404.jade | Done!
 | home.jade | Done!
 | starting.jade | Done!
 | examples.jade | Done!
es/page/docs | configuration.jade | -
 | database.jade | -
 | getting-started.jade | -
 | index.jade | -
 | views.jade | -

## Other Edits

In

[2015-02-04 00:24] chrisschaub commented on #981
My bad, I was confused about how the repo was structured. Closing.

[2015-02-04 00:24] #981 closed

[2015-02-04 00:29] chrisschaub opened #987 "Need Docs: MongoDB version"
Does the master branch require greater than mongodb 2.4?

[2015-02-04 00:35] #969 closed

[2015-02-04 00:46] webteckie commented on #969
@JedWatson great will check it out.  A new issue should be opened to get docs updated.

[2015-02-04 00:57] snowkeeper commented on #982
@weekwood at some point we probably should separate the versions to keep the differences in them.

[2015-02-04 00:59] JedWatson opened #988 "Needs Docs: New Geo Field"
Need to document the new Geo field I created, as per #969

I'm also considering renaming it to GeoPoint but that shouldn't be a blocker. Will make a call before it gets released.

[2015-02-04 01:04] BerkeleyTrue commented on #988
+1 GeoPoint as this is what I have seen with other ODM/ORM's

[2015-02-04 01:11] JedWatson commented on #988
@BerkeleyTrue I was considering allowing different types of Geo data to be stored (points, paths, etc) but I actually think this would be more easily done with different field types. I'll rename it to GeoPoint now.

[2015-02-04 02:11] webteckie commented on #953
@JohnnyEstilles muy bien (nice job)!!!  Some comments on the main page:

applicaciones-->aplicaciones (El "framework" de código abierto para el desarrollo de sitios web basados en datos, applicaciones...)

codifición-->codificación (En ocaciones, la codifición asincrónica...)

imágin-->imagen (¿Desea validar una forma, subir una imágin...)

encripción-->encriptación? (Keystone ofrece manejo de ses

[2015-02-04 03:50] JohnnyEstilles commented on #953
@webteckie ... thanks for the corrections. I really appreciate you taking the time to look at it. I've already made de corrections and pushed the changes to the `docs-es` branch.

[2015-02-04 04:19] webteckie opened #989 "v0.3.0: noedit:true Boolean fields shows checked when value is false"
@JedWatson this may be just a 0.3.0 issue...not sure.  Boolean fields that have a "noedit: true" attribute shows checked in Admin UI when its DB value is false.

List Model Field:
[code]

DB field state when browsing item in Admin UI:
[code]

Admin UI:
![image](https://cloud.githubusercontent.com/assets/5872515/6035077/677bbe22-abfa-11e4-9e9f-ae8919a4079c.png)

Chrome Inspector:
![image](https://c

[2015-02-04 12:34] webteckie opened #990 "Updates / createItems Improvements"
I'm going to open this issue to jot down all requirements with the hope of implementing an updates / createItems flow that meets various use cases in a way that maintains data consistency and integrity.  Feel free to add on if you have other updates/createItems requirements.

**Updates/createItems should resolve relationship dependencies across updates files**
[code]
NOTE:  one possible approach i

[2015-02-04 12:41] vfermino opened #991 "Cannot read property 'note' of undefined; TextArray type"
[code]
So, I can't use array types, for some reason. Neither NumberArray nor TextArray. Am I missing something? They always point out to the "cannot read property 'note' of undefined" error, unless I change their types. Are these array types deprecated or something I'm missing? Thanks. I'm using Keystone 0.2.28.

[2015-02-04 12:50] JohnnyEstilles commented on #991
NumberArray and TextArray are not available on 0.2.28. They will be available in the upcoming 0.3.0 release.

[2015-02-04 12:50] #991 closed

[2015-02-04 12:53] vfermino commented on #991
So there's absolutely nothing I can do about it? Well, I guess I could make a single String and split it later, but still... bummers.

[2015-02-04 12:56] JohnnyEstilles commented on #991
Those are among the field types that are being added on 0.3.x. I understand that it will be released soon, but unfortunately I don't have an exact ETA.

[2015-02-04 13:19] snowkeeper commented on #991
@vfermino as @JohnnyEstilles said 0.3.0 is nearing release.  If you want to go ahead and work with 0.3.0 you can and it would also help the community as a final tester.

Install with
[code]

[2015-02-04 13:30] vfermino commented on #991
I installed it, and had to change a few stuff that was wrong with my code and it's great so far. Thanks. I will use the latest version whenever possible.

[2015-02-04 21:16] izifortune commented on #232
In my experience they are not that great as UI. Would rather wait the next version of http://amsul.ca/pickadate.js/ that should include a date range picker.

[2015-02-04 21:34] morenoh149 commented on #232
I'm a fan of pickadate as well. Didn't know a date range was being built by him.

[2015-02-04 21:37] izifortune commented on #232
The problem is seems the last commit on v4 its from months ago, don't know when he's gonna release that

[2015-02-04 21:53] izifortune commented on #512
the toolbar got a fixed height of 34px, so part of the cancel button is under the item-name.
I can fix this removing the fixed height but there's a comment there: `stop any jumping around when the form is revealed`.

Or we can move the cancel button inline after the search one?

[2015-02-04 22:01] morenoh149 commented on #232
@izifortune email him :)

[2015-02-04 22:25] wangpingsx commented on #334
Hi,

I got a solution without changing the source code of keystonejs.

1. the supper admin functionality: (only supper admin can create, delete users, common admin users can only change themselves)

Analysis with solutions: http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-supperadmin.html
The implementing code: http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-supperadmin-only

[2015-02-04 22:33] wangpingsx commented on #803
Hi,

I got a solution without changing the source code of keystonejs.

-----------

Analysis with solutions: http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-supperadmin.html
The implementing code: http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-supperadmin-only.html

------------

http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-authorization-role.html

---------

[2015-02-04 22:33] wangpingsx commented on #899
@adedot

Hi,

I got a solution without changing the source code of keystonejs.

-----------

Analysis with solutions: http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-supperadmin.html
The implementing code: http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-supperadmin-only.html

------------

http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-authorization-role.html

[2015-02-05 01:33] webteckie commented on #899
@wangpingsx interesting!  I should try your solution in my project as an intermittent solution and see how it goes.  Regarding the roles, I'm assuming a rules.js can be created and them imported.  Regarding the roles field in the User can that be a relationship to a Roles list?  Can you think of any drawbacks your solution may have?  Thanks!

[2015-02-05 02:04] webteckie commented on #969
@JedWatson some bugs here:

1) The regex is not allowing for "-" coordinates
2) I cannot set a default.  I'm assuming defaults are:  default: [lng-value,lat-value] ?

[2015-02-05 03:52] webteckie opened #994 "Admin UI Home Page Nav Link display styling"
Could the Admin UI home page emphasize the keys in the nav link display like this (this is subjective; if it doesn't fly with the UX team then close it):

![image](https://cloud.githubusercontent.com/assets/5872515/6054760/eb392c20-acbf-11e4-8ed6-4624f15855b7.png)

or like this:

![image](https://cloud.githubusercontent.com/assets/5872515/6054735/9348e4b0-acbf-11e4-8a37-a52fa82d0770.png)

or like

[2015-02-05 04:30] SharadKumar commented on #994
My personal preference is that existing styling is quite decent as is.

Though I would love to see Model links stacked in two columns (within group) instead of heaps of whitespace on the right with single column. I believe this was done a while back but commented out.

[2015-02-05 04:34] JedWatson commented on #983
Right, thanks for the sleuthing @snowkeeper! Maybe we should just provide our own default config for the logger instead of using the default `dev` setting.

[2015-02-05 04:34] snowkeeper commented on #994
I was scrolling through, got to the last, thought I like that one, and then realized that was what you didn't like.

We also have a lot of dead space on the homepage.  Is there any interest in having a homepage that has a few configurable options like recent entries to a list or lists.

[2015-02-05 04:39] JedWatson commented on #320
Wow, this one is old. Sorry about that. I'll take a look.

[2015-02-05 04:51] JedWatson commented on #320
Unfortunately the PR isn't production-ready, this issue among others:

`return this.options.preview.replace(':key', item[this.autokey.path]);`

We need to include proper template parsing so all fields (configurable auto key path, id, etc) are supported.

I'll see if we can get a solution that works in soon based on the work that's been done.

[2015-02-05 05:04] JohnnyEstilles commented on #990
## Comments and Suggestions

These are very interesting suggestions. Here're my two cents on each one of them ...

I completely agree with this proposed enhancement. However, instead of the suggested approach to pass the all the discovered `__refs` to `createItems()`, I propose creating a singleton module/service that would cache the `_refs` and make them available upon request. The service would

[2015-02-05 05:12] JedWatson commented on #983
Fixed by @sebmck and #995

[2015-02-05 05:12] #983 closed

[2015-02-05 05:35] #968 closed

[2015-02-05 05:58] snowkeeper commented on #968
@sebmck , I am still getting text for `Types.Name` in the UI without an editable field.
![tester user admin user - google chrome_021](https://cloud.githubusercontent.com/assets/6615106/6055673/fc3ddc98-acd1-11e4-8a89-ad6357a45a0e.png)

[2015-02-05 06:01] sebmck commented on #968
@snowkeeper Whoops, forgot to remove a condition. Fixed, let me know if that did the trick.

[2015-02-05 06:12] snowkeeper commented on #968
Thanks @sebmck, looks good!
![tester user admin user - google chrome_022](https://cloud.githubusercontent.com/assets/6615106/6055761/0773d034-acd4-11e4-9125-cde8151ba08f.png)

[2015-02-05 06:36] snowkeeper commented on #982
I added the guidelines to the wiki.
For the time being I included @keystonejs/contributors as the ping.  If any contributor has an issue with the ping  you can change it or let me know and I will.

[2015-02-05 06:44] morenoh149 commented on #994
The homepage for the adminUI could have way more things. Ideas ![wordpress ui](http://www.yourinspirationweb.com/en/wp-content/uploads/2010/06/admin-panel.jpg)

![shopify ui](http://cdn.shopify.com/s/files/1/0070/7032/files/partial-refunds.jpg?667)

[2015-02-05 06:44] JohnnyEstilles commented on #982
This is awesome @snowkeeper!

I do  have a question regarding the following:

Since individual who accepts/merges the PR also have permissions to add/remove `tags`, wouldn't it be easier for that individual to remove the tag?

[2015-02-05 07:06] snowkeeper commented on #982
@JohnnyEstilles I agree.  My thought process in including that line was to avoid putting any extra responsibilities on @JedWatson plate and let the OP or a collaborator manage that.

Should we remove it or change it?

[2015-02-05 07:10] snowkeeper commented on #994
@JedWatson is this something that you would like Keystone to incorporate?  If so should we create a new Issue to discuss what features everyone would like in a homepage?

[2015-02-05 07:13] JohnnyEstilles commented on #982
@snowkeeper I understand what you mean. I, of course, do not intend to speak on @JedWatson's behalf, but it doesn't seem to me like it would be an overwhelming burden. Personally, I believe the tasks of accepting/merging the PR and removing the task fall within the same domain, so it would make sense for the same individual to do both.

That said, @JedWatson is the owner and primary collaborator o

[2015-02-05 09:20] wangpingsx commented on #899
Hi @webteckie ,

"a rules.js", is a good idea. Then supper admin users can create new roles or delete roles by admin-ui. Then,  in user management view, supper admin can select roles instead of typing the role name (a plain String).

This is defiantly a good idea!!!!

Adding multi-roles could be an issue, but you can get some clue from :
http://demo.keystonejs.com/keystone/things/

![image](https:

[2015-02-05 09:46] wangpingsx commented on #899
Hi @webteckie ,

Sorry I found a problem of your "a roles.js model" solution. Actually it is no problem at all if you know how to query mongodb from a middleware (I don't know, I am a new starter of Nodejs and mongoose).

The reason is Keystonejs currently doesn't support embed object. the "roles" in your solution is a group of references of roles. The references are IDs, which means your req.user

[2015-02-05 12:14] webteckie commented on #994
ok :-)  Like I said it was a subjective thing.  I do agree that the page needs to be more Dashboard-ish and that may handle it for me :-)

[2015-02-05 12:28] webteckie commented on #990
@JohnnyEstilles:

Regarding the first one, but isn't that overkill since the updates process is very short live?  But I don't have an issue with it :-)

Regarding the second one, yes, it should be optional.

Regarding the last one, yeah, there's no question the current solution is elegant but it does have pitfalls!  I still have not been able to come up with a good pre/post-save hook solution for

[2015-02-05 12:41] wangpingsx commented on #899
@webteckie

I find some bugs of my solution, and I have fixed them:

http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-authorization-bugs.html

The latest code of my github project has fixed all of them.

Thanks,
Peter

[2015-02-05 12:48] JohnnyEstilles commented on #990
@webteckie:

I meant an in-memory cache. Just want to avoid passing the `__refs` back and forth between `updates.js` and `createItems.js`. IMHO, that's not overkill. Plus, I'm a fan of modularity. It makes unit testing so much easier. :-)

Just because I'm not totally convinced doesn't mean its not a good idea. I'm sure we can come up with a solution that is backwards compatible and doesn't introd

[2015-02-05 12:51] webteckie commented on #899
@wangpingsx yeah, to me unauthorized implies that someone should not even be able to see any of it.  If your solution still shows the items and lets users tamper with it then not sure.  It seems we still need the core keystone to do some stuff for us to make this tamper-proof.  btw, querying mongo to resolve the roles ID shouldn't be a problem, though.

[2015-02-05 12:51] JohnnyEstilles commented on #990
@webteckie:

In your case, do the pre-save/post-save hooks fire twice for items that need relationships populated? (i.e. once with the relationship undefined and a second with the relationship populated)

[2015-02-05 12:54] webteckie commented on #990
@JohnnyEstilles yeah, that's precisely the issue; they fire twice!

[2015-02-05 12:55] webteckie commented on #990
@JohnnyEstilles and, yeah, ok, I see your point about the __ref cache.  Sounds good to me :-)

[2015-02-05 13:00] wangpingsx commented on #899
@webteckie  I have two auth control models:

1. On the list view. If you use this model, users cannot see the list view. (that can solve the issue you raise above)

2.On the item view. if you use this model, users still can see the list view, but not able to click to see detail (the item view).

Thanks,
Peter

[2015-02-05 13:00] JohnnyEstilles commented on #990
@webteckie, just out of curiosity, what would be the effect to ignore the pre-save/post-save event when the relationship field is undefined?

I'm not trying to convince you. I'm just trying to figure out if that's a viable solution until we come up with a more permanent one.

[2015-02-05 13:05] webteckie commented on #990
@JohnnyEstilles the thing is that based on the overall status of the model instance I need to do some stuff with those relationship references!  Since the first save is already messing around with the state of the model then the 2nd save does not work as expected!

[2015-02-05 13:09] webteckie commented on #899
@wangpingsx ok, doesn't seem like a lot of effort to give it a quick test so I may still do that.  Will let you know!  Thanks!

[2015-02-05 13:17] wangpingsx commented on #899
@webteckie  I think what your concern is the second bug which i mentioned here:
http://baiduhix.blogspot.co.uk/2015/02/keystone-more-deeper-authorization-bugs.html

I was wrong, it is not an issue,  xxxxx/keystone/object/1223456634 will be blocked anyway.

BTW, please check my latest code from github, I have changed a little.

To try my project, the easiest way is using my json below for user tabl

[2015-02-05 13:54] webteckie commented on #899
@wangpingsx I'm on to my regular job but a quick note just letting you know that I cloned your repo and saw your work live and looks pretty good.  I wonder if keystone core can be enhanced with a quick improvement to support a virtual "canAccessList" just like there's "canAccessKeystone" in the user model.  @JedWatson what do you think about all this?

[2015-02-05 16:35] wangpingsx commented on #899
@webteckie  you can change models/user.js , instead of changing keystonejs core.

[2015-02-05 17:39] webteckie commented on #899
@wangpingsx hmm...don't see how that would be done.  Perhaps the approach here is to disable the nav links for the lists the logged in user don't have access to.  Not sure how easy that would be to do.  I think it would easier if the nav links were objects.  For example:

[code]

If a user was not authorized to manage post categories then the authorization middleware would crawl into the posts->po

[2015-02-05 18:07] morenoh149 commented on #994
I'd be happy with a spec for how to add adminUI dashboard widgets (react components). @leonardsouza in the gitter has been asking how to add a setting config page to the adminUI. I think that ability would be great.

[2015-02-05 18:09] leonardsouza commented on #994
+1 for a widget spec.

[2015-02-05 18:31] webteckie commented on #899
Actually, instead of {show: [true/false]} above, it would be {roles: [a, b, c]}.  Only users that match the roles would get the nav links rendered.  Anyways, not sure.  This requires more research as, at least, one other alternative is to have the roles in the model.  The challenge is to get this working without keystone core intervention as you had started to do :-)

[2015-02-05 20:15] adedot commented on #899
For the previous client that requested access control, I ended up using integrating node acl (https://github.com/OptimalBits/node_acl) into project. Access control was set when a the Model was "saved". Checking for whether a user had the permission for the resource occurred in the middleware through a function. This is more a custom solution based on the requirements. Anyways, I hope this informat

[2015-02-05 22:26] JedWatson commented on #969
@webteckie thanks for the review. Both those issues should be fixed now :)

[2015-02-05 22:28] webteckie commented on #899
After thinking about it, I think I will hold on putting any roles stuff in my project until I see the direction the keystone project takes with it.  But if someone is really in need of a quick roles solution your work should be an alternative for them.

[2015-02-05 22:38] JedWatson commented on #982
Thanks everyone. I'm happy to take on tagging / untagging of doc issues w/ PRs - helps me keep on top of the state of everything. As long as the issue it's related to is linked from the PR then it's pretty easy.

Shall we close this now? seems to be resolved :)

[2015-02-05 22:39] #935 closed

[2015-02-05 22:42] ekynoxe commented on #793
@JedWatson @sebmck Is the proposed solution therefore to add a new 'email engine' option and use consolidate.js only on emails rendering based on this option?

It seems to me that all that's **really** missing right now is in the generator: a set of templates to cater for handlebars and update the swig ones so setting up a project with the generator doesn't end-up in a problem like @clickslide had

[2015-02-05 22:47] webteckie commented on #969
@JedWatson looks pretty good now. thanks!

[2015-02-06 00:31] JohnnyEstilles commented on #982
@snowkeeper, I hope you don't mind I've made some minor edits on your Wiki entry.

- Removed the *You can ping a collaborator ...* note (Thank you @JedWatson for graciously accepting to tag/untag the issues for us)
- Added our *de-fact* navigation links to the top of your article
- Converted the references to the [English](http://keystonejs.com) and [Chinese](http://keystonejs.com/zh/) translation

[2015-02-06 00:31] #982 closed

[2015-02-06 00:43] snowkeeper commented on #982
Looks good to me @JohnnyEstilles.  Thanks

[2015-02-06 00:43] webteckie commented on #994
Closing this issue.  New issues can be opened for any suggestions that came up in the thread.

[2015-02-06 00:43] #994 closed

[2015-02-06 01:06] webteckie commented on #969
@JedWatson another [more serious] bug.  Items based on a model with a GeoPoint field in it but that do not show the GeoPoint field form (because the dependsOn dependency is false) fail with the following when the item is saved (the GeoPoint is not even a required field):

![image](https://cloud.githubusercontent.com/assets/5872515/6072631/dac1b10c-ad71-11e4-8ff5-19c9a7295869.png)

[2015-02-06 01:10] JedWatson commented on #969
Would you mind opening a new issue with that @webteckie? @sebmck or I'll take a look.

[2015-02-06 01:14] webteckie commented on #969
ok, will do.  btw, don't fields have unit tests?

[2015-02-06 01:15] sebmck commented on #969
@webteckie Not really, it's on our todo list.

[2015-02-06 01:17] webteckie opened #997 "GeoPoint field with "dependsOn: false" prevents form from being submitted"
@JedWatson Opening this new issue per discussion in #969.  Items based on a model with a GeoPoint field in it but that do not show the GeoPoint field form (because the dependsOn dependency is false) fail with the following when the item is saved (the GeoPoint is not even a required field):

![image](https://cloud.githubusercontent.com/assets/5872515/6072631/dac1b10c-ad71-11e4-8ff5-19c9a7295869.png

[2015-02-06 01:33] sebmck commented on #997
@webteckie Can you provide a copy of your model?

[2015-02-06 01:41] #997 closed

[2015-02-06 01:41] sebmck commented on #997
Nevermind, fixed.

[2015-02-06 01:43] JedWatson commented on #994
Just FYI, this sort of capability is something I'd really like to support - both adding your own CSS (which would let you do what you were after, @webteckie) and replacing the default Admin UI Homepage with custom React component(s).

[2015-02-06 02:03] webteckie commented on #997
@sebmck ok, if it gets merge I can give it a quick test.  tnx

[2015-02-06 02:08] sebmck commented on #997
@webteckie It's already in master.

[2015-02-06 02:10] webteckie commented on #997
@sebmck yeah, just realized that...testing :-)

[2015-02-06 02:10] JedWatson commented on #987
Yes, we're using a few features that expect at least 2.4

I'll add this to the docs...

[2015-02-06 02:17] JedWatson commented on #987
Sorry - I may have misread, it doesn't require _greater_ than 2.4, it require _2.4 or greater_. I've added it to the english docs.

[2015-02-06 02:26] webteckie commented on #940
@JedWatson I think select is really broken in 0.3.0.  Other than unexpected intermittent behaviors (e.g., you have to type a letter for things to show in the list) filtering doesn't work either when using relationships refs.  For example:

foo: { type: Types.Relationship, ref: 'Bar', many: false, filters: { type: 'one-thing' }

You would expect to see just 'one-thing' but all things shows up.

[2015-02-06 02:50] weekwood opened #1000 "Need Docs: http addition"
https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/configuration.jade#L173-L182

https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/configuration.jade#L219

[2015-02-06 02:50] weekwood commented on #1000
@JedWatson please add zh tag

[2015-02-06 02:53] weekwood opened #1001 "Need Docs: session config"
https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/configuration.jade#L282

https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/configuration.jade#L315

[2015-02-06 02:54] weekwood opened #1002 "Need Docs: Headings"
https://github.com/keystonejs/keystone/blob/master/docs/content/en/pages/docs/database.jade#L349-L374

[2015-02-06 02:54] weekwood opened #1003 "Need Docs: Menu"
https://github.com/keystonejs/keystone/blob/master/docs/content/en/templates/mixins/docsnav.jade#L76-L81
https://github.com/keystonejs/keystone/blob/da3eaa4a73357612389331df10b2cf7f84b71025/docs/content/en/templates/mixins/docsnav.jade#L51

[2015-02-06 04:17] snowkeeper opened #1004 "Admin UI Homepage Design Discussion"
As discussed in #994 there is interest in the community to create a more robust homepage.  As we near the release of 0.3.0 and React components we will have the opportunity to incorporate changes.

From a general stance the homepage should offer the ability to provide custom css and display React components.

**Here are three issues to start with**
1. What features / components should the Admin UI

[2015-02-06 04:52] #930 closed

[2015-02-06 04:52] JedWatson commented on #930
Thanks @snawbel, I've just tweaked that RegExp to allow decimals.

[2015-02-06 04:55] JedWatson commented on #916
I'm bumping this to an 0.3.x release, and will include a note that if you're dependent on this you should wait a little bit before upgrading from 0.2.x

[2015-02-06 06:16] JohnnyEstilles commented on #1004
I've been looking forward to this feature for a long time!

In addition to @snowkeeper's suggestions, I would like to suggest that, as we consider the technical implementation of this new feature, we do so not only in the context of React, but also of the proposed [Proposed Keystone Package Architecture](https://github.com/keystonejs/keystone/issues/912).

[2015-02-06 07:15] weekwood commented on #1001
already finished before

[2015-02-06 07:16] weekwood commented on #1000
fixed via e17551a

[2015-02-06 07:16] weekwood commented on #1001
fixed via e17551a

[2015-02-06 07:18] weekwood commented on #1001
still

[2015-02-06 07:18] JohnnyEstilles commented on #1001
Still need ES docs.

[2015-02-06 07:18] weekwood commented on #1000
still need ES

[2015-02-06 07:51] weekwood commented on #1002
add zh via #1006 @JedWatson

[2015-02-06 07:52] weekwood commented on #987
add zh via #999 @JedWatson

[2015-02-06 08:18] kraigh commented on #303
FWIW, I was able to implement the [express-redirect](https://www.npmjs.org/package/express-redirect) plugin with my keystone app by requiring it and just doing
[code]
I definitely like the idea of being able to support query arguments on both sides though, as @JedWatson mentioned above. Would definitely help preserve SEO juice when redeveloping an existing site.

[2015-02-06 10:10] JohnnyEstilles opened #1007 "sortOrder not being initialized on item creation"
After [this commit](https://github.com/keystonejs/keystone/commit/8137c756656aaafadcba083a645858b66e00f183) (alt. implementation of #634, sortOrder type detection fix), `sortOrder` is no longer being initialized when an item is created.

The original code (below) tested the type of the `sortOrder` value, which is `undefined` before `sortOrder` is set, and `number` after it is.

[code]

The current

[2015-02-06 11:38] chrisschaub commented on #987
Thanks.

[2015-02-06 11:39] JohnnyEstilles commented on #987
Do not close. Still needs ES docs.

[2015-02-06 13:05] vfermino opened #1009 "TinyMCE not working properly on latest version?"
I am currently using the newest version of KeystoneJS and I ran into a problem related to the Admin UI: the WYSIWYG module, TinyMCE, is not really working. I'm trying to change its parameters in the public/js folder but it's not doing anything.
In the previous version (0.2.42), I changed the parameters within keystone/index.js, like that:
[code]
However, this is no longer an option in the newest i

[2015-02-06 13:56] snowkeeper commented on #1009
`HtmlType.js` is the react component code. `HtmlField.js` is the list setup for the Type. All fields will follow this convention.  Working with the master branch and what will become 0.3.0 requires building `app.js` when changing any React component (this will soon become part of the startup process).  See  `gulpfile.js` for that.

Passing those values as locals will not have any effect on the Adm

[2015-02-06 15:59] adamscybot opened #1010 "Delete button still shows even if nodelete is set to true"
If nodelete is set on a list, the delete button is still available in the bottom right when you go on a single item. When clicked, thankfully, it doesnt delete the object but just redirects to the list.

However, I dont think the button should be showing at all.

[2015-02-06 21:29] morenoh149 opened #1011 "dependsOn and required: true"
Let's suppose you're building a blog with keystonejs, a la https://github.com/JedWatson/keystone-demo/blob/master/models/posts.js#L14
Let's say your client has the requirement `All published posts should have a publishedDate`. Keystone has a convenience facility [dependsOn](http://keystonejs.com/docs/database/#fields) See `conditional Fields`. @webteckie proposed that combining `dependsOn` with `r

[2015-02-06 21:30] morenoh149 opened #1012 "docs missing anchor link on subheading"
On this page http://keystonejs.com/docs/database/ `conditional fields` should be linkable

[2015-02-06 22:08] webteckie commented on #1011
The short version of @morenoh149 use case is this:
[code]

That seems logical and it should work as expected, IMO.  That is, the dependsOn attribute condition should take precedence over the required attribute setting.  If dependsOn===false then required should not be enforced.

[2015-02-06 22:36] JohnnyEstilles commented on #1012
@morenoh149, @snowkeeper already fixed this (and a few other things) on PR #974, which was merged on Jan 31. However, last time docs were generated was Jan 27. Fixes should be online the next time @JedWatson generates the docs.

[2015-02-06 22:36] #1012 closed

[2015-02-06 23:59] JohnnyEstilles commented on #1011
@morenoh149, like you, I was likewise skeptical when I first read about this feature. It felt counter-intuitive to conditionally `require` a field. Especially when tryng to make sense of it in terms of the *blog post state/publish date* use-case @webteckie presents above which, as you mention, can easily be enforced using pre-save hooks.

While I believe this is a very useful feature, I think the

[2015-02-07 00:05] JohnnyEstilles commented on #1007
@JedWatson do you intend to merge this into both `master` and `0.2.x`?

[2015-02-07 00:05] #940 closed

[2015-02-07 00:40] webteckie commented on #1011
@JohnnyEstilles FWIW, if I was implementing the requirements @morenoh149 had (force a publishDate if the user selected a 'publish' state for the post) then I would have certainly use the built-in solution as opposed to writing unnecessary logic.  However, if there's other pre-save processing needed then certainly ☺

[2015-02-07 00:46] JohnnyEstilles commented on #1011
@webteckie, I understand it's a matter of choice. I definitely agree with you. My point since the *blog post state/publish date* example can technically be solved multiple ways others may not be able to appreciate the value of what you were proposing.

I wasn't in any way trying to discourage us from implementing it. I'm all for it. :-)

[2015-02-07 16:08] arthurtalkgoal opened #1013 "Find User by email and password"
I am implementing oauth2 in keystone.

The routes and models are set up easily. However, I don't know how to use the find syntax to search the encrypted password, my code is

[code]

which obvious return nil as the password field is encrypted by keystone.

in my express.js, the solution is as below. But I don't know how to assign comparePassword methods to keystone.

[code]

[2015-02-07 16:19] snowkeeper commented on #1013
The documentation is available at [Keystonejs.com](http://keystonejs.com/docs/database/#fieldtypes-password).

`lib/session.js` has an example
[code]

[2015-02-07 16:22] snowkeeper commented on #1013
Also check out [keystone social login](https://github.com/JohnnyEstilles/keystone-social-login) by @JohnnyEstilles

[2015-02-08 02:25] arthurtalkgoal opened #1015 "middleware (node-oauth2-server) can't return it's string"
Hi, I am implementing oauth2 like I did in the expressjs project.

I put the following codes in routes/index.js

[code]

It is triggered and token is generated in console.log.
[code]

However, there is no return and Timeout.

In my expressjs, the oauth.grant() will return a token string.  Is there anything I need to override in Keystonejs in order to let the middleware run the response?

[2015-02-08 02:26] snowkeeper commented on #1015
Looks like you are calling the function instead of passing it.
Try `app.all('/oauth/token', oauth.grant);`

[2015-02-08 02:34] JohnnyEstilles commented on #1015
@snowkeeper, according to the [docs for node-oauth2-server](https://github.com/thomseddon/node-oauth2-server) `app.all('/oauth/token', oauth.grant());` is correct.

[2015-02-08 02:34] arthurtalkgoal commented on #1015
Hi @snowkeeper

I tried to remove the () but it doesn't trigger any thing.

and in  https://github.com/thomseddon/node-oauth2-server

The ```app.all('/oauth/token', oauth.grant());``` seems should be used.

I have no clue how to make the token oauth2 return.

[2015-02-08 02:36] arthurtalkgoal commented on #1015
Thanks @JohnnyEstilles

And here is my routes/index.js

[code]

[2015-02-08 02:39] JohnnyEstilles commented on #1015
@arthurtalkgoal, are you using `password` or `refresh_token` mode? I assume you have version `2.3.0` or `oauth2-server` installed???

[2015-02-08 02:46] JohnnyEstilles commented on #1015
Just for debugging ... try adding `app.use(oauth.errorHandler());` after your `/secret` route. Then start Keystone and open `http://localhost:3000/secret` and see if it at least returns an error message.

[2015-02-08 02:46] arthurtalkgoal commented on #1015
I actually using ``` 'password' ``` grant_type and wanna implement the ``` refresh_token``` later.

and in my package.json, here is the oauth2-server dependencies:
[code]

[2015-02-08 02:48] JohnnyEstilles commented on #1015
Okay ... good. `password` type makes it easier to debug for now.

[2015-02-08 02:52] arthurtalkgoal commented on #1015
Hi @JohnnyEstilles

I appened the ```app.use(oauth.errorHandler());``` after secret and changed the grand type as
[code]

when i opened the ```/secret``` in browser it returned
[code]

however, if I append the access_token, it got timeout

```/secret?access_token=mytoken```

[2015-02-08 02:54] snowkeeper commented on #1015
Sorry bout that @arthurtalkgoal. Thanks @JohnnyEstilles , I obviously didn't account for a function returned.

[2015-02-08 02:55] JohnnyEstilles commented on #1015
@snowkeeper ... no worries! We're all here to help each other out. :-)

[2015-02-08 03:02] JohnnyEstilles commented on #1015
@arthurtalkgoal ... good ... at least we know the oauth middleware is responding.

I'm curious, what access_token are you appending?  Since you're using `password` grant type, you should be requesting your access token by submitting a `POST`  with a URL encoded form (with the username and password) to `/oauth/token`. Unless, of course, you already generated a code and stored it and you're using it

[2015-02-08 03:13] arthurtalkgoal commented on #1015
Hi @JohnnyEstilles
Sure, first off, thanks much and you are very helpful.

I change the existing working oauth2 expressjs project to keystone.

Namely, User and Client are registered in KeystoneJS (which I really want to as the AdminUI).

And the OAuthAccess OAuthRefreshTokens are stored in mongodb via mongoose as my expressJs.

All are defined here:

/models/Client.js
[code]

models/User.js
[code

[2015-02-08 03:15] arthurtalkgoal commented on #1015
FYI,
All the oauth2 provider function like ```getAccessToken()``` and ```saveAccessToken()``` are triggerred correctly.

But all has no return in clients/browsers.

[2015-02-08 03:33] arthurtalkgoal commented on #1015
Re client side:
I modify the example in http://scottksmith.com/blog/2014/07/02/beer-locker-building-a-restful-api-with-node-oauth2-server/

which use ```postman``` to post a request to the server with the parameters

[2015-02-08 03:39] JohnnyEstilles commented on #1015
I'm trying to duplicate your problem on my end ... unfortunately I need to take a break. I will continue troubleshooting when I get back this afternoon.

[2015-02-08 05:54] janryWang opened #1016 "Suggest, about image upload feature."
I suggest that the picture upload feature to add a title and description, and also suggested when I create a post ,and keystone will allow me to insert pictures into the content.

[2015-02-08 09:42] morenoh149 commented on #1016
this isn't helpful. Try commenting on the existing issues instead.

[2015-02-08 09:45] morenoh149 commented on #762
I'm marking this as solved.

[2015-02-08 09:45] #762 closed

[2015-02-08 09:47] morenoh149 commented on #472
can anyone confirm if this is still the case on 0.3.0?

[2015-02-08 09:50] morenoh149 commented on #268
Closing this issue. New issues can be opened for any suggestions that came up in the thread.

[2015-02-08 09:50] #268 closed

[2015-02-08 10:01] kumo commented on #472
@morenoh149 what is the easiest way of checking with 0.3.0?

[2015-02-08 11:53] #989 closed

[2015-02-08 13:10] weekwood commented on #1003
add ZH via #1017

[2015-02-08 13:11] weekwood commented on #1003
@JedWatson you can merge and remove tag

[2015-02-08 15:38] #1013 closed

[2015-02-08 15:46] sarriaroman commented on #762
I think this is not solved, I will implement the change but in the new version based on React. If you give a "format" function and the developer takes the risk of use HTML, he is responsable in an attack situation, maybe create a flag to enable it in a list when HTML is used but in this way this format method is not completely useful, even is taking the value of the format in the list.

[2015-02-08 16:15] arthurtalkgoal commented on #400
Hi @izifortune

I tried to modify the ```exports.signin``` to my ```exports.signup```

however, I got the error ```Error: .get() requires callback functions but got a [object Object]``` when I map the route:
[code]

Can you share more codes of your signup? appreciate it much.

[code]

[2015-02-08 16:51] webteckie commented on #1016
@morenoh149 why isn't this helpful?   Unless I'm missing, I think it is a good suggestion.  Kind of similar to #832 but applicable to LocalFile.

[2015-02-08 17:08] arthurtalkgoal commented on #400
Oh, I found that https://github.com/JedWatson/sydjs-site contains most of what i need for session and registration!

[2015-02-08 23:28] kittens opened #1018 "Add serverside field tests"
This is an issue tracking my progress on writing serverside field tests:

 - [x] boolean
 - [ ] code
 - [x] color fba0d0f84e6b519c888d3d11149a8df3f8cd8b92
 - [ ] date
 - [ ] datetime
 - [ ] email
 - [ ] embedly
 - [ ] geopoint
 - [ ] html
 - [ ] key
 - [ ] location
 - [ ] markdown
 - [x] money
 - [ ] name
 - [x] number 86d065f8a4208ba97a39463de5dec728fdb10a78
 - [x] numberarray d9254ab7627f8223bf5

[2015-02-09 00:37] sebmck commented on #1018
Some of the tests wont pass because of keystone bugs.

[2015-02-09 02:28] morenoh149 commented on #472
take an existing keystone project. change the package.json dependency to something like `"keystone": "git://github.com/keystonejs/keystone.git#master"` try to upload an s3file and share a screenshot if it doesn't work.

[2015-02-09 02:31] morenoh149 commented on #1016
@webteckie it's too difficult to understand.

[2015-02-09 02:32] morenoh149 commented on #400
solved

[2015-02-09 02:32] #400 closed

[2015-02-09 05:50] ronaldcurtis opened #1019 "v0.2.42 - connect-redis sessionStore is broken"
I just upgraded keystone using npm to 0.2.42 (from 0.2.22), and I noticed that my connect-redis session store is no longer working, and coming up with a "need express-session" dependency error. I was able to fix this by going to `keystone/lib/core/mount.js` and removing:

[code]
to just:

[code]
I think this is because keystone (whatever is the latest on npm) is still using Express 3x and does not

[2015-02-09 05:51] arthurtalkgoal commented on #1015
Hi @JohnnyEstilles

Fixed! I found that the issue is the
[code]
which created a new mongoose and make my token not working and no error! (the data goes to other dbs I bet);
[code]
solved the problem!

[2015-02-09 05:51] #1015 closed

[2015-02-09 05:53] JohnnyEstilles commented on #1015
That's awesome! :-)

[2015-02-09 08:54] snawbel commented on #930
Thanks. (I could have made a PR but wasn't sure how much of a strict "valid number" check the RegExp should be.)

[2015-02-09 09:08] snowkeeper opened #1021 "Need Docs: Types TextArray and NumberArray"
TextArray and NumberArray need documentation.

[2015-02-09 10:44] kumo commented on #472
I can confirm that it still doesn't work and also if I replace a file the old one remains. There are no errors, but the files remain in the S3 Management Console.

Additionally, I was only able to upload a file to an S3 bucket in the standard US region but that seems related to #532

[2015-02-09 14:36] arthurtalkgoal commented on #170
Can I ask if I can use the UI components in my frontend pages now?

[2015-02-09 14:50] arthurtalkgoal opened #1022 "How to generate a delete link"
I tried to add the data[method] and confirm to my delete link in frontend,

but it seems not work.

Is there any standard way to add a delete link?
[code]

[2015-02-09 17:28] adamscybot opened #1023 "Allow initial: true on localfile"
This is explicitly unsupported on LocalFile for no obvious reason. As a result, require: true also cant be used on file fields. I have an image heavy model, that requires multiple uploads. These uploads need to be required, but cant be because of this (imo, not necesary) restriction.

[2015-02-09 19:25] snowkeeper commented on #1023
You should be able to get around this issue in the mean time by setting the `autocreate` option
[code]
I know it doesn't address your specific issue with `initial`, but it might allow you to achieve the result your after.  This will skip the initial create screen and take you straight to the full model form.

[2015-02-09 21:12] morenoh149 commented on #1022
you can't make an anchor that sends an HTTP DELETE. http://stackoverflow.com/questions/5823774/linking-to-a-page-with-a-specific-http-method-delete There are some hacks where you call an ajax request upon clicking the link https://gist.github.com/JeffreyWay/5112282

Rails actually has a mixin that inserts a form with a hidden field. http://stackoverflow.com/questions/2809200/how-does-rails-3s-data

[2015-02-09 23:32] webteckie opened #1024 "Support inline/embedded relationship references"
Sometimes it is useful to keep certain content in its own model, yet, being able to embed it in another model seamlessly.  This is a proposal to handle this by supporting inline relationship references.  With inline relationship references, keystone would populate the referenced relationship item(s) inline when displaying the containing item in the Admin UI as if the content was actually part of t

[2015-02-10 01:30] arthurtalkgoal commented on #1022
Hi @morenoh149 ,

I have been using Rails for while, it's very convenient to have helper adding the remote, or delete links.

And I found that many keystonejs and it's tutorial use
app.all or get HTTP methods for the create, update and delete which seems incorrect in RESTful sense.

And a core helper for links (e.g. link_to or a ) can in fact promote users to have such concept in mind.

[2015-02-10 01:51] arthurtalkgoal opened #1025 "How to callback methods when AdminUI create, update and delete"
Hi,

Is there callback I can set up when AdminUI work on models' create, update and delete,

such as
[code]

[2015-02-10 01:56] arthurtalkgoal commented on #1025
Oh, from sydjs I found the hooks, are these the answer?

[code]

[2015-02-10 03:34] janryWang commented on #1016
@adamscybot you know me😄

[2015-02-10 03:53] JohnnyEstilles commented on #1025
@arthurtalkgoal, yes Keystone supports the callbacks you're referring to via [Mongoose Middleware](http://mongoosejs.com/docs/middleware.html). In addition to the `pre save` and `post save` examples you found in the SydJS code, Mongoose offers additional hooks to which control is passed during the lifecycle of the document.

Check out [http://mongoosejs.com/docs/middleware.html](http://mongoosejs.

[2015-02-10 04:28] JohnnyEstilles commented on #1016
@janryWang ... are you using [Cloudinary](http://cloudinary.com) for image storage? If you are, Keystone already supports embedding images from cloudinary in WYSIWYG. Check out the `wysiwyg cloudinary images` option in the under the [Admin UI Options](http://keystonejs.com/docs/configuration/#options-ui) in the Keystone documentation.

[2015-02-10 04:43] #1025 closed

[2015-02-10 05:14] janryWang commented on #1016
@JohnnyEstilles Wow,it's really cool! thanks

[2015-02-10 09:51] rmarji opened #1027 "Show fields from other models (collections) in keystone.js admin UI?"
I have asked about this on stackoverflow I would appreciate if I can get an answer from you guys :)
http://stackoverflow.com/questions/28428416/show-fields-from-other-models-collections-in-keystone-js-admin-ui

[2015-02-10 10:14] webteckie commented on #1027
@rmarji is this somehow related to #1024 ?

[2015-02-10 10:40] JedWatson commented on #1007
It's a breaking change so just 0.3.0

[2015-02-10 11:24] 0a- opened #1029 "on init, `applying update 0.0.1-admins...` takes forever"
After doing `node keystone.js`, I was stuck at the line

``
applying update 0.0.1-admins
``

[2015-02-10 11:27] JohnnyEstilles commented on #1029
Can you share do code of `0.0.1-admins.js`?

[2015-02-10 11:32] 0a- commented on #1029
Oh, I forgot I edited the file two few days ago.. Thanks for the tip.

Looks like it was because I failed to call `done()`. Problem resolved  :laughing:

[2015-02-10 11:32] #1029 closed

[2015-02-10 11:40] shauntrennery opened #1030 "0.3.0: Keystone.initAPI Error"
Using the Keystone.initAPI middleware results in the following error:

Route.checkout() requires callback functions but got a [object Undefined]

[2015-02-10 11:44] webteckie commented on #1030
@shauntrennery you may want to checkout https://github.com/keystonejs/keystone/wiki/0.2.x-to-0.3.x-Changes

[2015-02-10 11:45] #1030 closed

[2015-02-10 11:51] rmarji commented on #1024
I think its similar to what I'm asking about, is there a workaround this? someone suggest to do mapping (the map option when creating the list) although I still can't figure out how to make it load the field value automatically.

[2015-02-10 13:29] rmarji commented on #1024
@adamscybot every time I think of doing this, I start hating myself.. I keep saying to myself there must be a better way. and there is still hope I guess. lets see if sm1 can guide us to solution.

[2015-02-10 13:46] rmarji commented on #1024
but it seems possible somehow with the name mapping, I think there is a way
to also map other attributes.

Some mentioned this to me. but still cant figure out how to make it work
for something else other the name of the object.

"

On Tue, Feb 10, 2015 at 2:36 PM, Adam Thomas <notifications@github.com>
wrote:

--
*Raed Marji - رعد مرجيCo-Founder & CTO of JoGeeks
<http://bit.ly/emailJoGeeks> | Com