[2016-12-27 17:30] ghuroo commented on #3822
I had the same issue just today!

[2016-12-28 08:46] alexandrecardinal commented on #1645
@r3wt @ifiok I just found a workaround
`keystone.set('nav', {
	venues: 'venues',
	customers: 'customers',
	users: 'users',
	'reservations': [
		{
			label: 'Reservations',
			key: 'reservations',
			path: '/reservations'
		}
	]
});`

In this case, this will give me a menu item called 'Reservations' leading me to '/reservations'. You HAVE to wrap your menu item with an array... this is probably a b

[2016-12-28 12:38] KirAndStas commented on #2412
So  what ? It is really non understandable how to use it in model. Give at least any docs for read about it.

[2016-12-29 02:11] steveinatorx commented on #1567
i work around this issue by saving off the populated field to an array variable, deleting the populated parameter, then mapping and converting the populated objects to objectIDs and then mutating the array and saving the object with regular mongo save.  It probably isnt the safest pattern but it works

[code]

[2016-12-30 15:46] itzaks commented on #2913
still having this problem, any updates or workarounds?

[2016-12-30 23:30] rahul606 opened #3830 "Initial project setup error"
### Steps to reproduce
Just following the steps from keystonejs.com to setup default project by running KeystoneJS generator on macOS Sierra 10.12.2

### Expected behavior
node keystone should run

### Actual behavior
{ Error: Cannot find module '../build/Release/bson'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (

[2017-01-01 03:21] bassjacob commented on #3830
Hi Rahul, thanks for reporting this. When I've seen this error in the past, the node process still ran, it just reported this as an error.

Can you please confirm that the node process actually crashes on this error? Can you also please include the output of;
[code]

Thanks :smile:

[2017-01-01 12:52] rahul606 commented on #3830
Hi @bassjacob thx for the reply. I have solved the problem yesterday only and forgot to close the issue. I figured out that problem was because of latest version of nodejs instead of LTS version.

[2017-01-01 12:52] #3830 closed

[2017-01-02 14:50] AndKenneth commented on #522
If anyone else is looking as to how to increase the file size limit,

`keystone.set('file limit', 52428800); // 50mb`

this will solve it. Stick this in your keystone.js (or wherever you're putting your config stuff)

I'm not sure what it's set to by default, but it seems exceedingly low for any file upload usage.

[2017-01-02 23:17] peterpme opened #3835 "Heroku Deployment Broken on 4.0.0-beta.4 (Node-sass & Node 6)"
Hey everybody, thanks for an awesome project that makes my life easier every day!

I've run into an issue with deploying to Heroku. I thought I solved this by adding a `postinstall` under scripts with `npm rebuild node-sass` but unfortunately that started breaking on me as well.

- Node 6
- Heroku deployment

Here is the issue:
[code]

Any help would be greatly appreciated. You rock!

[2017-01-02 23:22] bassjacob commented on #3835
Hi @peterpme,

Is there a codebase with a reproducible error I can take a look at?

As an aside, what was happening that required rebuilding node-sass on deploy?

[2017-01-02 23:23] peterpme commented on #3835
Hey @bassjacob, thank you for the quick response!

`postinstall` - the same issue was taking place beforehand. Postinstall seemed to have fixed this before. Unfortunately this is no longer the case. The ony way I can get this working is if I bump the node version up / down `6.7`, `6.8`

Code base - a base keystone build with `node 6` I believe. If you give me a few minutes I can create one for ya

[2017-01-02 23:33] peterpme commented on #3835
https://github.com/peterpme/keystone-node-sass-heroku-issue-repo

[2017-01-02 23:39] bassjacob commented on #3835
great, thank you. I'll take a look

[2017-01-02 23:55] bassjacob commented on #3835
I was able to deploy that repo to heroku with no problems, and running `npm rebuild node-sass` didn't cause any issues.

This looks like a node-sass issue rather than a keystone issue. Maybe something like https://github.com/sass/node-sass/issues/1579 ?

I'm going to close this issue since it doesn't seem related to keystone, but please reopen if you think it's directly related to keystone.

[2017-01-02 23:55] #3835 closed

[2017-01-04 06:21] nodesocket opened #3838 "ETA on 4.0 release"
I just stumbled across Keystone and it looks like a perfect fit for my consultancy business. I'd like to know though if there is an eta on releasing **Keystone 4.0** in production? I'd like to start on 4.0, but if there is still lots of work left, I should probably stick with the latest stable version.

[2017-01-04 07:09] bassjacob commented on #3838
Hi @nodesocket,

That's great to hear. We think it's a great fit as well. There isn't a concrete ETA for 4.0, but we're focusing on the remaining issues and hoping to have it out soon. The only pieces left are some minor issues, updating the documentation and some demos.

4.0 is in beta now, and stable enough that we're using it in production on a few projects. Are there any issues or features in

[2017-01-04 07:21] bassjacob commented on #3799
Hi @Ikhan,

depending on whether you're trying to debug the frontend or the backend:

frontend debug (as listed above): [chrome dev tools](https://developers.google.com/web/tools/chrome-devtools/)

backend debug: https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27#.71mc9ooho

[2017-01-04 07:21] #3799 closed

[2017-01-04 08:50] bassjacob commented on #3624
Hi @mahnunchik, I'm going to close this due to inactivity, but please re-open it if this is still an issue.

[2017-01-04 08:50] #3624 closed

[2017-01-04 08:52] bassjacob commented on #3690
Hi @joernroeder,

Thanks for opening this request. Is this still a feature you're interested in?

[2017-01-04 08:55] bassjacob commented on #3618
Hi @ryanaleksander, I'm going to close this due to inactivity. Please reopen this if it's still an issue.

[2017-01-04 08:55] #3618 closed

[2017-01-04 08:59] bassjacob commented on #3669
@webteckie I'm not sure I understand the issue. Is this if someone inputs a range outside of the allowed range of lat/long?

[2017-01-04 09:00] bassjacob commented on #3662
@jed is this expected behaviour, given that a hidden field isn't populated initially?

[2017-01-04 09:01] jstockwin commented on #3669
@bassjacob Yeah, this is an issue we had when setting up tests once. We were using a lat/lon of just "1234" for each, which is not a real lat/lon and so the tests failed. It took us a while to work out why, and seemed worth implementing some kind of validation message.

[2017-01-04 09:02] bassjacob commented on #3669
yep, it looks like the field should validate that at the form level. I think this might be a larger issue where we could be using something like [this awesome ruby lib](https://github.com/trailblazer/reform) to validate fields?

[2017-01-04 09:03] bassjacob commented on #3669
I'd be happy to spike adding something like that to the field definition at a keystone level to give more granular allowed inputs?

[2017-01-04 09:03] jstockwin commented on #3669
Fine by me. As I said, it was just something that we noticed and thought we'd flag up :)

[2017-01-04 09:09] bassjacob commented on #1998
@PeterCervienka Thanks for reporting this.

From your description this is not so easy to reproduce. Is there a codebase I could look at to see what's going on?

[2017-01-04 09:14] bassjacob commented on #3808
Hi @christroutner, thanks for reporting this. If it's an issue of system dependencies, there's no real way to build it into the package.json in an unobtrusive way.

Given the comment at https://github.com/christkv/kerberos/issues/21#issuecomment-196707072 this is an upstream issue we have no way of controlling. I'm going to close this with that in mind.

[2017-01-04 09:15] #3808 closed

[2017-01-04 09:18] bassjacob commented on #3316
hi @dijs,

Can you expand on your use case in this issue? It looks like this is requested for defining a field, but I'm not sure how the code snippet relates or what a filter means in this context?

[2017-01-04 09:20] bassjacob commented on #3713
Commenting to add some more information to the issue:

[code]

[2017-01-04 09:22] bassjacob commented on #2036
@JedWatson is this still a feature request to consider?

Would this be an error handler that runs only in the userland app, or also the admin app?

[2017-01-04 09:23] bassjacob commented on #2234
closing due to inactivity. please reopen if this is still an issue.

[2017-01-04 09:23] #2234 closed

[2017-01-04 09:37] bassjacob commented on #1868
@webteckie, does the validate hook suffice for this? is there a reason to treat passwords differently than ordinary fields?

As an aside, this might make a good use case for the form validator lib I've been describing. @JedWatson  something along those lines has come up a couple of times now. Is that something we should look into adding explicitly?

[2017-01-04 13:28] alexkolson opened #3841 "noedit URL fields are editable in initial create dialog"
### Steps to reproduce the behavior
Define a URL field as noedit.
Open create dialog for model with noedit URL field.

### Expected behavior
Field is greyed out like on edit page

### Actual behavior
Field is not greyed out and is editable

[2017-01-04 13:33] webteckie commented on #1868
@bassjacob I think min/max length support was added at some point after this?  That is an improvement although you right that could have been done with the validate hook as well.  Perhaps if the password field supported a strictness regex expression that may accomplish the rest.  What you think?

[2017-01-04 14:31] bassjacob commented on #1868
I think rather than setting a custom regex expression validator on the password field we might want to look into a way of setting these as options on all field types? With something like:

[code]

that way we have something a bit more general than a specific pattern protection on a field. what do you think?

[2017-01-04 15:55] bassjacob commented on #3841
Hi @alexkolson,

I think this might be correct behaviour.

If you create a field like `noeditField: { type: keystone.Field.Types.Url, noedit: true },` then it won't show up in the modal.

If you create a field like `	noeditField: { type: keystone.Field.Types.Url, noedit: true, initial: true },` then it will be editable in the modal, but not updatable once set.

Does that describe the behaviour you

[2017-01-04 16:00] alexkolson commented on #3841
Ah yes! The field is called `noedit` after all! Thanks for clearing that up.

The documentation may need to be tweaked slightly from "renders the field as readonly in the admin ui" to something like "Field is only editable upon creation" or something similar.

Thanks again for getting back! I appreciate it and everything you are all doing to make keystone such a fantastic product.

[2017-01-04 16:04] #3841 closed

[2017-01-04 16:52] webteckie commented on #1868
Are you referring to the mongoose validator here (as in #2233)  or some validator option in keystone?  By the way @creynders not sure why #2233 was closed.  Last time I checked there were issues reflected in the admin UI when using mongoose validators.  I wanted to make sure the scope of using mongoose validators was analyzed at the keystone admin UI  level to ensure it play well with such validat

[2017-01-04 17:02] christroutner commented on #1998
I have no tangible evidence to contribute to this, only that I too have experienced some strange CSRF behavior when trying to implement the CSRF security feature on my APIs. It will throw the 'CSRF failure' even though I've restarted keystone.js and logged out and back in.

[2017-01-04 20:55] nodesocket commented on #3838
@bassjacob thanks for the reply. In terms of features missing from 4.0 I don't think that will be the case. Mostly just interested in stability and getting started, documentation.

[2017-01-04 23:46] bassjacob commented on #1998
Do you have a public repo I can clone to try help? How are you enabling csrf?

[2017-01-05 00:10] benjamindemoor commented on #3264
Doesn't seem to work for me if I rollback to 0.3.21
Any other options. I cleared the browser cache as well..

[2017-01-05 15:52] pavethiran opened #3844 "TinyMCE Error: remove is not a function"
### Steps to reproduce the behavior
Use Types.HTML in a List.

### Expected behavior
No Error on change

### Actual behavior
Error on every change on the page

[2017-01-05 19:41] christroutner commented on #1998
I haven't had very good luck with GitHub links to repositories, but here it goes.

You can check out the CSRF code in the [unstable branch](https://github.com/skagitpublishing/ConnextCMS/tree/unstable) of [ConnextCMS](http://connextcms.com). For example, the [/routes/api/page.js](https://github.com/skagitpublishing/ConnextCMS/blob/unstable/routes/api/page.js) file shows how I use the CSRF library

[2017-01-06 04:48] alexandrecardinal commented on #1645
@r3wt I really doubt you can do that without modifying the keystonejs module. I did some research and it seems doable in v4.0.0 but not the in v0.3.x

[2017-01-06 17:29] autoboxer opened #3848 "Cloudinary select fields break other Relationship fields when using select: true"
### Steps to reproduce the behavior

1. Create a model with at least one Relationship field and one CloudinaryImage field.
2. Load the model in the Admin UI
3. Try to make a selection using the Relationship field

### Expected behavior

The value you are trying to select should now populate the Relationship field

### Actual behavior

The dropdown menu stays open and freezes without making the sel

[2017-01-06 17:40] autoboxer commented on #3848
Here's what I've found so far:

Making any selections in the Relationship field calls `loadAsyncOptions(input, state, callback)` in `node_modules/react-select/src/Select.js`.  In this function there's a loop:

    if (this.props.cacheAsyncResults) { // included because it may be useful
        for (var i = 0; i <= input.length; i++) {

This loop executes once for each select field on the page when

[2017-01-06 17:54] autoboxer commented on #3848
following from the fix by [LiquidHelium](https://github.com/LiquidHelium) in his commit ['Don't cache relationship options'](https://github.com/keystonejs/keystone/commit/29502807041fd415a9701b77748adf3861850ff0), a similar change to the `CloudinaryImage` field type fixes this as well.

Changing:
[code]
to:
[code]
fixes the issue.  Creating a pull request for the change.

[2017-01-07 02:42] keith24 opened #3857 ""Template not found: layouts/default.html" using nunjucks"
### Steps to reproduce the behavior

Use yeoman generator to create a new project, choosing nunjucks as templating engine.

### Expected behavior

Keystone runs.

### Actual behavior

Keystone can't find `layouts/default.html`.

I tried setting it with

[code]

but that didn't work.  Can anyone reproduce this or am I going crazy?

[2017-01-08 08:38] freew01f opened #3861 "500 error on 4.0 beta4"
every time I restart keystone, when I access /keystone/xxx  first time
I get 500 error, but when I refresh it, it will be ok~
[code]

[2017-01-08 21:13] ehoch commented on #1140
@JedWatson Looks like this issue is back with 4.0.0. Can we add this TinyMCE plugin back to master or is there another preferred way to do image uploading in the new version?

[2017-01-09 22:21] trentontri opened #3873 "node-sass not found."
### Steps to reproduce the behavior
when I first run `yo keystone` followed by `node keystone` this is what I see:
Please install the node-sass-middleware from npm to use the `sass` option.
You can do this by running "npm install node-sass-middleware --save".

[2017-01-09 22:30] jstockwin commented on #3873
This is an issue with the generator rather than with keystone itself. Would you mind closing this and opening an issue over at https://github.com/keystonejs/generator-keystone/issues please?

[2017-01-09 23:37] #3873 closed

[2017-01-10 03:26] CAYdenberg opened #3875 "BYO Express - Need to include /keystone routes?"
### Steps to reproduce the behavior

I tried to add Keystone to a pre-existing Express app by following the [steps here](https://github.com/keystonejs/keystone/wiki/How-to-Add-Keystone-to-an-Already-Existing-Express-App) - and in the [Getting Started documentation](http://keystonejs.com/docs/getting-started/). I followed the directions from the Wiki but used `keystone.set('app', app);` and include

[2017-01-10 05:24] JedWatson commented on #3848
Should be fixed by #3849

[2017-01-10 05:24] #3848 closed

[2017-01-10 06:14] JedWatson commented on #3844
As per my comment on #3845 I can't replicate this

[2017-01-10 20:49] laurenskling commented on #2574
- **Name:** Laurens Kling
- **About me:** I am a freelance javascript developer from The Netherlands. Using Keystone with React Engine to create kickass webapps.
- **Location:** Arnhem, The Netherlands
- **Remote work:** Yes
- **Speciality:** Frontend; Javascript, React, Redux
- **Portfolio:**: http://goedideemedia.nl

[2017-01-11 09:35] joernroeder commented on #3690
hi @bassjacob,
i worked around that issue by manually loading the models from a predefined array and i think that the current implementation still has it's downside.

there are two thinks i'd like to point you to:
First of all i was wondering why [`Keystone.import(dirname)`](https://github.com/keystonejs/keystone/blob/b2777314f9483663c744c5a39d990d96948bbec9/index.js#L173) exists as well as [`Keys

[2017-01-11 12:47] useralive003 opened #3877 "Getting error "No 'Access-Control-Allow-Origin' header is present on the requested resource"?"
my server is running in localhost:3000 and i have created posts now i am trying to access that post data from angular file

i have written like this in controller

myApp.controller('TestCtrl', function ($scope,$http) {

$scope.check = function()
{
$http.get('http://192.168.1.6:3000/keystone/posts/5876221082b5f21e383abba2').success(function(data, response) {
  console.log(data);

  });

}
});

i am

[2017-01-11 15:04] justingosan opened #3879 "List of ".relationship()" items is loading indefinitely"
Im on the latest beta keystone@0.4

### Steps to reproduce the behavior
* Have 2 models related to each other where Model1 has 1 to many relationship with Model2
* Do:
[code]
* Populate Models
* Navigate to detail view of a Model1 item

### Expected behavior
Should be able to see list of related Model2 below

### Actual behavior
**List is shows loading animation indefinitely.**
GET operation on li

[2017-01-11 16:27] ghuroo commented on #1717
@stuartflanagan can you provide a sample of how you implemented it? I want to replicate this logic but so far I didn't manage to :/

[2017-01-12 06:55] useralive003 commented on #619
var express = require('express');
    var app = express();
    var bodyParser = require('body-parser');
    var multer = require('multer');

    app.use(function(req, res, next) { //allow cross origin requests
        res.setHeader("Access-Control-Allow-Methods", "POST, PUT, OPTIONS, DELETE, GET");
        res.header("Access-Control-Allow-Origin", "http://localhost");
        res.header("Access-Co

[2017-01-12 06:56] useralive003 commented on #1374
var express = require('express');
    var app = express();
    var bodyParser = require('body-parser');
    var multer = require('multer');

    app.use(function(req, res, next) { //allow cross origin requests
        res.setHeader("Access-Control-Allow-Methods", "POST, PUT, OPTIONS, DELETE, GET");
        res.header("Access-Control-Allow-Origin", "http://localhost");
        res.header("Access-Co

[2017-01-12 06:56] useralive003 commented on #823
var express = require('express');
    var app = express();
    var bodyParser = require('body-parser');
    var multer = require('multer');

    app.use(function(req, res, next) { //allow cross origin requests
        res.setHeader("Access-Control-Allow-Methods", "POST, PUT, OPTIONS, DELETE, GET");
        res.header("Access-Control-Allow-Origin", "http://localhost");
        res.header("Access-Co

[2017-01-12 13:33] quadrifoliumclover commented on #1069
@tomasztunik can you share you api endpoint handler code somehow, please?

[2017-01-12 16:39] christroutner commented on #1069
@quadrifoliumclover you should check out [ConnextCMS](http://connextcms.com). It's built on top of KeystoneJS and it allows inserting of localy hosted images with the TinyMCE editor.

You can view the source code on GitHub. I ended up having to write a new plugin for TinyMCE.

[2017-01-12 18:58] lglossman-ring commented on #1567
My workarounds was to populate a different field using [Mongoose virtuals](http://mongoosejs.com/docs/populate.html)

Here is an example of single and many relationships:

`
User.add({
        ....
	location: {type: Types.Relationship, ref: 'Location', required: false, index: true, many: false},
	teams: {type: Types.Relationship, ref: 'Team', many: true, required: false, initial: true},
        ..

[2017-01-12 23:35] pavethiran opened #3884 "UrlField: missing refactor"
Hi :)
I'm not sure if this is an issue but while I was doing some work with keystone I saw this line:

[UrlField.js](https://github.com/keystonejs/keystone/blob/master/fields/types/url/UrlField.js#L43)

Is `wrapField()` correct or should this be `renderUI()`.

[2017-01-12 23:44] jcampbell05 opened #3885 "Dynamic Default Value"
Is it possible to have a default value that is dynamically calculated ?

I want a Date field to default to 10:30 the next day for the user but right now it defaults to 10:30 the day after the server was launched so it doesn't update.

[2017-01-12 23:59] pavethiran commented on #3885
Could you post your model :)

[2017-01-13 00:38] bassjacob commented on #3690
Hi @joernroeder,

Sounds like a great feature. I'm looking into how we use plugins and functionality into Keystone going forward and I think this makes a good use case. I'll start taking a look at this now and keep you updated here.

[2017-01-13 06:24] SachaG opened #3887 "Keystone issues with Meteor"
I'm trying to use Keystone as an admin back-end for a database populated by a Meteor app, and I'm running into a few issues.

1. Only a single item appears in a list.
2. The item's URL is `keystone/posts/null`.

![https://d3vv6lp55qjaqc.cloudfront.net/items/0P191E3a0N0u3q470m1M/Screen%20Shot%202017-01-13%20at%2011.14.30.png?X-CloudApp-Visitor-Id=d40749865873d7b5ab32c80852150f74&v=81e04dac](https:/

[2017-01-13 09:00] joernroeder commented on #3690
hey @bassjaco, sounds good! Let me know if you need any help/assistance. I'm pretty busy right now but would like to help wherever i can :)

[2017-01-13 11:38] jcampbell05 commented on #3885
[code]

[2017-01-13 17:02] pdonald opened #3889 "XSS server side rendering"
### Steps to reproduce the behavior

1. Create a user with `</script><script>alert('hacked');</script>` in its name.
2. Log in with the user.

### Expected behavior

You see the admin dashboard.

### Actual behavior

The browser interprets the `</script>` in the user's name as the closing tag and the dashboard is broken.

![image](https://cloud.githubusercontent.com/assets/860965/21937876/a0369128

[2017-01-14 08:14] w01fgang commented on #3887
Can you paste an example of your item?
I think it's because there is no `_id` field.

[2017-01-14 08:19] w01fgang commented on #3887
Yes, you must pass `idGeneration` option with value `'MONGO'`
![2017-01-14 9 17 07](https://cloud.githubusercontent.com/assets/8686751/21953534/623337d6-da3a-11e6-9d10-e6481067510b.png)
![2017-01-14 9 16 45](https://cloud.githubusercontent.com/assets/8686751/21953533/55e63578-da3a-11e6-8db3-f7f74e98d317.png)

[2017-01-14 09:01] SachaG commented on #3887
@w01fgang it's a bit late for that, as the database already exists. I supposed I could migrate every document, but I'd rather find a solution that doesn't modify the database if possible…?

[2017-01-14 09:17] w01fgang commented on #3887
`_id` is required field, so the only way is to add it

[2017-01-14 09:22] w01fgang commented on #3887
or maybe [model-transform](https://www.npmjs.com/package/model-transform) can help
sorry, I don't have enough time to dig

[2017-01-14 10:07] SachaG commented on #3887
Well, if anybody on the Keystone team has more time to look into this, I think it would be very cool. After all, solving this issue would unlock the entire market of Meteor apps!

[2017-01-14 13:17] w01fgang opened #3892 "Bug in Relationship filtering v0.3.22"
Filtering doesn't work as expected. Some items can't be found.
Each time I type my text the query remains the same
`/keystone/api/autos/autocomplete?context=relationship&q=&list=offers&field=cars`

The problem is in `buildOptionQuery` method
[code]
result `value` is empty string

### Steps to reproduce the behavior
Typing text in input field of relationship
### Expected behavior
Shows items list f

[2017-01-14 14:33] w01fgang commented on #3892
It seems to be fixed in repo.
When you plan to make next release?

[2017-01-15 04:18] niallobrien commented on #803
Huh, still no update?

[2017-01-15 05:38] bassjacob commented on #803
Hi @niallobrien,

no update on this issue specifically, other than to say that it's still a priority we're hoping to address in the 4.0 release or as a feature release soon after.

I see you've commented on the [open PR](https://github.com/keystonejs/keystone-test-project/pull/21) on the test-project. Other than that work, I don't think this has progressed past that although we're happy to hear an

[2017-01-15 06:01] bassjacob commented on #3885
Hi @jcampbell05,

since DefaultLaunchDate is a value, it will just be set to that day, not a dynamic evaluation. Have you tried the following:

[code]

[2017-01-16 06:05] vikramparihar opened #3895 "Conatc form 500 server error.."
![keystone](https://cloud.githubusercontent.com/assets/5202442/21972463/c2539880-dbdf-11e6-9fe3-03b552e60cc6.png)

When trying to send empty contact form an internal error occur..

[2017-01-16 08:36] bassjacob commented on #3895
Hi @vikramparihar, nice to see some Ubuntu :smile:

it looks like validationErrors is undefined in your view, which likely means that you aren't setting it in your controller to the res.locals object. Can you share the code that renders this view? Is there a public repository that we can take a look at?

[2017-01-16 19:18] vikramparihar commented on #3895
@bassjacob Thanks for quick replay..  But I haved   solved issue on client side.. I Have added some validation ...  thanks  :)

[2017-01-16 22:26] bassjacob commented on #3895
No problem :+1: should we close this issue then?

[2017-01-16 23:43] dani190 opened #3903 "Cannot read property of undefined"
Sorry guys, not quite sure what to include here. I have filled out the requested form below but basically i just upgraded to 4.0.0 beta 4 from the latest 3 version and my contact form no longer functions.

### Steps to reproduce the behavior
Upgrade to latest 4.0.0-beta4

### Expected behavior
Project works as intended and contact form works properly

### Actual behavior
My form (Contact page) is

[2017-01-17 00:02] bassjacob commented on #3903
Hi @dani190, thanks for reporting this.

This looks likes the same issue as https://github.com/keystonejs/keystone/issues/3895. Did you use the keystone generator to start your project?

It's likely that something has changed in the view code between beta3 and beta4. I'll take a look into this and see if I can identify the culprit.

[2017-01-17 01:33] dani190 commented on #3903
Originally I believe I did way back when ya.

Ok thanks. So technically if I try beta3 I may be ok?

[2017-01-17 01:35] bassjacob commented on #3903
oh, sorry, I thought you meant beta3 when you said 3. No, likely not, it's probably a breaking change in between 3 and 4. Can you paste the router code that renders the contact form here?

[2017-01-17 01:37] dani190 commented on #3903
Sorry, ya I meant I had generated on 3.
Which code would that be? Sorry still learning here. Is it within routes/views?

[2017-01-17 01:57] bassjacob commented on #3903
yes, I think it would be something like `routes/views/contact.js`

[2017-01-17 02:09] dani190 commented on #3903
`var keystone = require('keystone');
var Enquiry = keystone.list('Enquiry');
var User = keystone.list('User');
var Group = keystone.list('Group');
var db = require('mongoose');

exports = module.exports = function(req, res) {

	var view = new keystone.View(req, res);
	var locals = res.locals;

	// Set locals
	locals.section = 'contact';
	locals.formData = req.body || {};
	locals.validationErrors =

[2017-01-17 03:28] vikramparihar commented on #3895
Yes.. Thanks

On Tue, Jan 17, 2017 at 3:56 AM, Jacob Bass <notifications@github.com>
wrote:

[2017-01-17 05:50] molomby commented on #3798
Just confirming what you mean by "Amazon ubuntu 16.04"... You're talking about Ubuntu 16.04, from an official Canonical AMI, running on EC2, right? Not Amazon Linux, which is a Red Hat based distro..?

So, for example, this..
https://aws.amazon.com/marketplace/pp/B01JBL2I8U

Not this..?
https://aws.amazon.com/marketplace/pp/B00635Y2IW

[2017-01-17 07:48] simonwidjaja commented on #3838
Is there a solid demo project we can use to start digging into 4.0? @bassjacob you said that you have some 4.0 projects in production already. Are they open? Without proper documentation a demo project would be the perfect starting point. (SydJS did a perfect job for me when I started with keystone...)

[2017-01-17 09:11] bassjacob opened #3908 "Replace inline try/catch with safeRequire"
### Steps to reproduce the behavior
In current state, the following is copied throughout the codebase:

[code]

we can replace this in these places with the new safeRequire function from #3907 for consistency.

[2017-01-17 12:24] #3895 closed

[2017-01-17 13:37] JedWatson commented on #3887
@SachaG That would be really cool. I haven't tried running Keystone with string IDs before, we may have made some assumptions (not deliberately) that they're `ObjectID`s though... I'll take a look.

Any chance you've got a codebase / setup I can play with? Just followed you on Twitter so you can DM me if you want to send private details.

[2017-01-17 13:53] SachaG commented on #3887
Sure, here's the codebase: https://github.com/TelescopeJS/Telescope/tree/devel

Although if you want a simpler reproduction you can probably clone any Meteor app (like https://github.com/meteor/simple-todos-react for example).

[2017-01-18 00:09] gfrancischelli commented on #3877
Inside your route:
[code]

source: http://enable-cors.org/

[2017-01-18 03:10] christroutner commented on #3877
If you're trying to make an AJAX call like $.get(), make sure you use relative paths, not global ones. Here's an example:

**Bad:***
`$.get('http://my.ip.address:3000/api/posts/list', '', function() {...});`
The above code will result in a CORS error.

***Good:***
`$.get('/api/posts/list', '', function() {...});`
Does the same thing, but does now run afoul of the CORS rules.

[2017-01-18 03:15] keyfun commented on #3879
same here. it works fine in beta.3

[2017-01-18 13:02] ghuroo commented on #460
Problem:
Loading the Admin UI for the first time (after the server restarts) takes way too long (1min), and unfortunately slows down my productivity a lot.

Cause:
**fields.js** and **admin.js** take **> 1 min** to be generated

Proof:
![Proof](http://i.imgur.com/0gCJW6B.png)

Details:
Lately, more than ever, this is something I have been struggling with.
I don't want to be picky about it because

[2017-01-18 13:09] ghuroo commented on #2824
Problem:
Loading the Admin UI for the first time (after the server restarts) takes way too long (1min), and unfortunately slows down my productivity a lot.

Cause:
**fields.js** and **admin.js** take **> 1 min** to be generated

Proof:
![Proof](http://i.imgur.com/0gCJW6B.png)

Details:
Lately, more than ever, this is something I have been struggling with.
I don't want to be picky about it because

[2017-01-18 23:51] bassjacob commented on #2824
@ghuroo I have a PoC up at https://github.com/keystonejs/keystone/pull/3842 that handles some of this issues. The very first run will still be slow, but after that it will write the files to disk and serve them from your public folder so it doesn't have to rebuild them on every boot.

It's still a WIP though I'm hoping to get it into good enough shape in the next week or so. Would that solve your

[2017-01-20 08:46] rachelbasse commented on #3522
-- [#222](https://github.com/keystonejs/generator-keystone/issues/222)

[2017-01-20 11:29] kimasendorf opened #3925 "Keystone doesn't start after Node update"
I am running keystone 0.3.19 and I just installed Node 7.4.0 after previously using 6.9.0.
Now I am no longer able to start the server. The terminal output just shows the bson error:

[code]

And stops there..

Any ideas how I could find the bug?

[2017-01-20 12:44] Lurk commented on #3925
Have same issue

[2017-01-20 13:16] Lurk commented on #3798
Keystone not start on node 7.x.

[2017-01-20 13:18] Rmannn opened #3926 "/admin/server/api/s3.js is using old S3File, Underscore is missing (_ is not defined)"
### Steps to reproduce the behavior
Manually add the external plugin uploadimage to tinymce
Update the plugin to use the Keystone.csrf.header['x-csrf-token'] var instead meta
Try to upload to amazon S3.

### Expected behavior
Upload should be working

### Actual behavior
Got an html response from server, _ is not defined as the file /admin/server/api/s3.js is using old S3File prototype to generate

[2017-01-20 13:29] Lurk commented on #3925
@kimasendorf #3798

[2017-01-20 13:34] kimasendorf commented on #3925
so you have manually installed the latest mongoose version via npm?

[2017-01-20 13:44] Lurk commented on #3925
@kimasendorf I update mongoose version in
[code]

to 4.7.7
and then:

[code]

I am not sure yet if it not add some new bugs :)

[2017-01-20 14:07] internetErik commented on #1702
I had this issue with 0.3.22 and then upgraded to 0.4 beta 4 and the issue still persists. (In 0.3.22 it also happened with the datetime field, but this seems fixed now.)

The doesn't present itself in my local development environment (presumably because the timezone is the same on the system and the browser). However, when running in AWS the issue presents itself because of the timezone differenc

[2017-01-22 06:32] KernelDeimos opened #3929 "Errors occur when attempting to run a cloned KeystoneJS project"
### Steps to reproduce the behavior
* Create a KeystoneJS project using the generator
  * Select SASS for stylesheets
* Initialise a git repository and push it somewhere
* Clone the git repository somewhere else
* Run npm install to install dependencies

### Expected behavior
KeystoneJS server can now run by running `node keystone` in the project folder.

### Actual behavior
Two errors prevent the

[2017-01-23 01:27] nodesocket commented on #3838
Does the getting started guide (http://keystonejs.com/getting-started/) still work for 4.0, or is installation different now?

[2017-01-23 02:04] nodesocket commented on #3838
It appears the getting started guide still installs 3.0. How do I install and get started with 4.0?

Thanks.

[2017-01-23 02:54] internetErik commented on #3838
@nodesocket I got started by looking at the keystone demo site: https://github.com/keystonejs/keystone-demo

[2017-01-24 02:05] jhamPac commented on #3925
@Lurk your solution worked for me too

mongoose need to be updated in keystone/package.json

[2017-01-24 17:07] kalmecak opened #3934 "A lot of modules are deprecated"
### Steps to reproduce the behavior

* Use keystone version: v0.3.19
* Execute **npm install**

### Expected behavior

I expect to be installed modules needed without warnings

### Actual behavior

On installing node modules I got lot of deprecation warnings

![captura de pantalla 2017-01-24 a la s 11 58 45](https://cloud.githubusercontent.com/assets/1189660/22257903/7d16ea2a-e22d-11e6-859a-d41de7

[2017-01-24 22:19] bassjacob commented on #3934
Hi @kalmecak, a big part of that is the (hopefully soon) upcoming 4.0 release which has been taking our attention. Is upgrading to 4.0 a possibility for your application? https://github.com/keystonejs/keystone/blob/master/docs/guides/v0.3-to-v4.0-Upgrade-Guide.md

[2017-01-24 22:25] bassjacob commented on #3929
Hi @KernelDeimos, thanks for reporting.

Can you post the version of the generator and of keystone installed? Is the git project available as open-source to look at?

[2017-01-24 22:34] bassjacob commented on #3903
Sorry, can you also please post the full jade file? or even better, if the project is open-source a link to the git repository?

[2017-01-24 22:36] bassjacob commented on #3885
Hi @jcampbell05,

I'm going to close this due to inactivity. Please reopen it if this is still an issue for you.

[2017-01-24 22:36] #3885 closed

[2017-01-24 22:38] bassjacob commented on #3887
@JedWatson only in these 4 places that I can see: https://github.com/keystonejs/keystone/search?utf8=%E2%9C%93&q=objectid&type=Code

Maybe there's a specific mongoose option we need to set to allow string ids?

[2017-01-25 03:32] jephjohnson opened #3936 "All category post are returned even when category does not exist (v4.0)"
When entering a category that does not exist in my url:

http://localhost:3000/blog/categorydoesnotexist

All the post returned, however invalid should be returned like what is currently the case on the demo:

http://demo.keystonejs.com/blog/categorydoesnotexist

I built from the latest yo generator and did an npm install of the latest keystone release and running (v4.0).

Am I missing something?

[2017-01-25 08:29] w01fgang commented on #3887
There is a gist with example of using string ids in mongoose model and but as ObjectId in the mongodb, I think it can be inverted.
https://gist.github.com/bendytree/37b68a158ced3741dc8f
but id is a reserved path
https://github.com/keystonejs/keystone/blob/c4789388ef09d09f39585f68b2a6fc898b7da040/lib/list/isReserved.js#L15

For using keystone with meteor we need to enable setting custom id type and

[2017-01-25 12:07] zewt112 commented on #741
+1 Is this documented?

[2017-01-26 08:47] jstockwin commented on #3786
@VadimShvetsov Can this be closed? I think the display issue you mention was fixed in the above #3846?

[2017-01-26 09:35] VadimShvetsov commented on #3786
@jstockwin Thanks, for sure!

[2017-01-26 09:35] #3786 closed

[2017-01-26 09:55] OskarKlintrot opened #3944 "Pre-hook for signin sends user instead of body as param"
### Steps to reproduce the behavior
[code]

### Expected behavior
Output `req.body`

### Actual behavior
Output `user` from database

____________________________
I don't understand the reason behind this behavior? Wouldn't it make more sense to get the `req.body` to do stuff with, for example to validate against an external service or a JWT to enable SSO?

[2017-01-26 10:16] Juneil commented on #3803
+1
And there is also an issue with the render of the filename :
`<FileChangeMessage href={href} target="_blank">`

It render a span and then the filename is not clickable...

[2017-01-26 10:34] OskarKlintrot opened #3945 "Tests broken out of the box on Windows 10"
### Steps to reproduce the behavior
On Windows 10 PS:
[code]
Add `"linebreak-style": 0` to `.eslintrc`
[code]

### Expected behavior
Tests passing

### Actual behavior
Tests not passing.

___________________
[output from PowerShell](https://github.com/keystonejs/keystone/files/732050/console-log.txt)
[npm-debug.log](https://github.com/keystonejs/keystone/files/732047/npm-debug.log.txt)

[2017-01-26 11:07] bassjacob commented on #3944
what's the error that it throws? is there an error message?

[2017-01-26 11:12] bassjacob commented on #3945
I believe the `npm run test-all` command runs `npm run test-e2e-bg` which is intended for linux. @webteckie what's the correct way to run this on windows? should we be using [cross-env](https://www.npmjs.com/package/cross-env) rather than export here?

[2017-01-26 11:13] bassjacob commented on #3945
@webteckie the error output complain about the export shell command in the test-e2e-bg command from the package.json

[2017-01-26 11:15] jstockwin commented on #3945
@bassjacob If you look at the PowerShell output, the error is to do with the Mocha tests not the e2e tests :)

[2017-01-26 11:18] bassjacob commented on #3945
@jstockwin, I don't think so. All the unit tests pass (the printout during the unit test run is console.error output from a model validator).

Line 53 of the output from powershell shows the actual failure:

[code]

[2017-01-26 11:21] jstockwin commented on #3945
Ah yeah okay my bad. `export` works on my (Windows 10) machine... strange. Maybe it's PowerShell.

Running `npm test-e2e` should work, as it won't export anything. As a fix, cross-env looks good to me.

[2017-01-26 11:22] bassjacob commented on #3944
Sorry, deleted my above comment as it wasn't relevant.

I don't believe this is supported behaviour. keystone.pre uses the [grapplin-hook](https://github.com/keystonejs/grappling-hook) library to create pre hooks on the keystone instance, one of which is the pre:signin hook. this isn't an express middleware, it's a function according to the grapplink-hook spec linked above.

[2017-01-26 11:23] bassjacob commented on #3945
@jstockwin works ok for you running in powershell? or in git-bash or cygwin or another *nix emulator shell?

[2017-01-26 11:25] bassjacob commented on #3944
for the record, you can see the signin hook called here: https://github.com/keystonejs/keystone/blob/c4789388ef09d09f39585f68b2a6fc898b7da040/admin/server/api/session/signin.js#L16

can you elaborate a little on why you want to hijack the keystone signin process?

[2017-01-26 11:29] jstockwin commented on #3945
@bassjacob Huh, no it doesn't work in PowerShell OR git bash. I guess I've always just run `npm run test-e2e`...

[2017-01-26 11:35] bassjacob commented on #3945
huh, weird. definitely worth us taking a look if we want people to run it in order to submit a PR.

[2017-01-26 11:41] OskarKlintrot commented on #3944
Sure, I want to validate the user against Microsoft Active Directory and if the user is valid then I just want to grab the user from the keystone db with the email alone (since the passwords are handled by the AD anyway) if the user exists there. I also want to make it possible to sign in with a JWT to enable SSO. Since I don't mind using Keystone's signin form it feels a bit overkill to implement

[2017-01-26 11:43] jstockwin commented on #3945
@bassjacob cross-env worked nicely for me. See #3947

[2017-01-26 12:21] OskarKlintrot commented on #3945
I still get the `Mongoose model 'error' event fired on 'DependsOn' with error`-error with the fix from your PR. Otherwise it works just fine.

[2017-01-26 12:24] bassjacob commented on #3945
that's ok, it's not an error :smile: there's a couple of tests that assert that mongo will not save an invalid model. since we don't supress output from a console.error call, mongoose prints a "failure" to the terminal, which is exactly what the test expects.

[2017-01-26 12:41] OskarKlintrot commented on #3945
I just couldn't understand how all tests could be passing when I clearly could see an error in the log 💡

[2017-01-26 23:13] sylvery commented on #2916
Go to your heroku dashboard and reveal your app's config variables on the app's settings page. There you'll notice that the mongolab mongodb connection string has the key MONGODB_URI. What I did was copy the value of the key and then deleted the config variable. I then created a new variable MONGO_URI and pasted the value. The app automatically restarted and worked like magic since.

[2017-01-27 01:03] jaehoo commented on #3925
Thanks! I have the same problem and now the webapp run without errors.

[2017-01-27 05:05] KernelDeimos commented on #3929
Hey, sorry for the late reply but here's the information:
Keystone generator: 1.8.5 (as reported by `yo keystone --version`)
Keystone: 0.3.22 (in the package.json file under node_modules/keystone)

The project isn't open source (it's a website for a local business), but I could give you a temporary membership to the repository on GitLab by email.

[2017-01-27 07:26] #3945 closed

[2017-01-27 09:02] HaswinVidanage commented on #535
Any news about integration with  v4.x?
~ 2017

[2017-01-27 09:33] OskarKlintrot commented on #3944
What's the reason behind having the signin hook _after_ fetching the user from the db? If it was _before_ the whole signin function and included a reference to `req.body` it would have been exactly what I needed. Then I could just add the domain to the email, validate the user against our AD or against a JWT for SSO and then update the password to a random password and set that to the password on

[2017-01-27 09:41] OskarKlintrot commented on #3944
Would [this gist](https://gist.github.com/OskarKlintrot/2c95a2587045df1884ebd0a013fb0cae#file-signin-js-L7) make sense?

[2017-01-27 10:05] creynders commented on #3944
@OskarKlintrot the reason why the user is retrieved _before_ the pre:signin hook is because it allows you to deny access based on the user, e.g. if you'd want to implement user blacklisting for instance.

That said, I understand the use case and why you need `req.body`. I'd need to look into it, but if I'm not mistaken we could pass the body as a parameter to the hook handlers. I.e. it would still

[2017-01-27 10:07] creynders commented on #3944
I forgot: the change you propose is a VERY breaking change - I don't see that landing soon. But I'm certain we can work out a solution for you.

[2017-01-27 10:17] OskarKlintrot commented on #3944
You are too fast for me @creynders! I was going to ping you after I updated the issue to describe my actual pain point and not just my misunderstanding about how the hooks are working.

Yes, adding `req.body` along with `user` would suffice even though the user must enter their whole email. Adding `req.body` would make everything so much easier when using a custom validation process! That would ma

[2017-01-27 10:27] OskarKlintrot commented on #3944
Would it make sense to add `req.body` to the `post:signin` hook as well to keep the code consistent? And also, would it make more sense to add a ref to the entire `req` instead?

[2017-01-27 10:42] creynders commented on #3944
Yeah, feel free to create a PR (it'll be faster than waiting for me 😁 ) [Read up here on passing parameters to middleware (i.e. to hook handlers)](https://github.com/keystonejs/grappling-hook#passing-parameters)

Just make sure that it's backwards compatible, i.e. handlers that don't accept parameters (or only `done`) still work. I seem to remember it shouldn't be a problem out-of-the-box.

I'm no

[2017-01-27 11:03] OskarKlintrot commented on #3944
I added `req.body` as a param and it works just fine with functions not taking any arguments. If I understand it correct then `done` is added last of the parameters. Is it possible not to break peoples code when adding a parameter? At least all tests are passing when adding one parameter...

I agree, I try to figure out a use case for it and it could be that someone want to access `req.keystone` b

[2017-01-27 11:24] creynders commented on #3944
Yeah, `done` is an optional parameter which determines the handler as an asynchronous one. Since no parameters were being passed yet, it shouldn't break anyone's code if you add one now.

[2017-01-27 12:18] OskarKlintrot commented on #3944
Sounds good, just did a PR if you would like to check it out ;-)

I realized that for example `req.cookies` would be nice to be able to access in my case when I want to enable SSO so I passed `req` as a param.

[2017-01-27 16:11] lglossman commented on #3752
+1

[2017-01-27 16:41] michaek opened #3951 "Usage with yarn leads to builds failing"
### Steps to reproduce the behavior

[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Conclusion

This wouldn't be a huge deal, necessarily, but it leads to failing builds on heroku (still working on how to get the build to pass without `yarn check` passing). This isn't a direct problem with Keystone, it's a problem with the version resolution of esprima-fb, which is a trans

[2017-01-27 16:54] michaek commented on #3951
This is likely resolved as a "builds failing" issue by https://github.com/heroku/heroku-buildpack-nodejs/issues/367, but the underlying architectural question probably remains valid.

[2017-01-28 21:24] itzaks opened #3953 "Keystone init with wysiwyg-options have no effect."
### Steps to reproduce the behavior
Install keystone from master. Init with (from the docs):
[code]

Tried this with keystone-demo but wouldn't build. "Error: Cannot find module 'jade'". So only tried this with my current project, which is a keystone mounted with custom express app. Not sure if that effects the behaviour, but here are the relevant init options (coffeescript + my custom tinymce opt

[2017-01-28 23:50] mrpatiwi commented on #3565
I'm getting this error:
[code]

on:
[code]

Clean Beta 5 install

[2017-01-28 23:51] mrpatiwi commented on #3565
Fixed, I was missing `auth: true` in the config object

[2017-01-29 00:55] bassjacob commented on #3565
Hi @rturk, I'm going to close this due to inactivity. If this is still an issue feel free to reopen.

[2017-01-29 00:55] #3565 closed

[2017-01-29 17:13] FOLLGAD commented on #3861
having the same problem

[2017-01-29 18:43] jstockwin commented on #3953
@itzaks Since you're trying it on a non-standard configuration, would you mind trying again with the demo project? The error about jade can be solved by doing `npm install jade`. If it works on the demo project then that'll help us work out where the problem is!

[2017-01-29 20:29] Pewpsockemz opened #3957 "node keystone not working"
Iv'e cloned keystone
start a local mongodb database
ran 'npm install'
ran 'node keystone' and I get

module.js:471
    throw err;

Ive used the yeoman generator and the demo site with only limited problems but cloning keystone and going through the same steps doesnt work. Ive looked all over to find a solution and havent found anything. I'm guess I havent install a dependency or something but its

[2017-01-29 20:43] jstockwin commented on #3957
@Pewpsockemz I'm about to head out, so probably won't be able to reply to your response until tomorrow, but there must be some more error logging than this somewhere...

Are you sure that's the only thing logged to your console?

[2017-01-29 20:50] Pewpsockemz commented on #3957
Oh sorry there is its:

module.js:471
    throw err;
    ^

Error: Cannot find module 'C:\keystone-source\keystone\keystone
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.runMain (module.js:604:10)
    at run (bootstrap_node.js:394:7)
    at startup (bootstrap_node.js:149:9)
    at bootstrap_node.js:509:3

[2017-01-29 20:54] jstockwin commented on #3957
Ah, you've cloned keystone, that's your issue.

What you really want to do is install the generator. Look on the website and follow getting started.

Alternatively, with the clone of keystone you should be able to run `node test/e2e/server.js`. that'll run the test instance.

As I said, you really want to be using the generator though.

[2017-01-29 21:01] Pewpsockemz commented on #3957
Will the generator have the beta features? the yo keystone app seems to have only the older version of keystone.

[2017-01-29 21:04] jstockwin commented on #3957
Yes, but once you've ran the generator you can run something like `npm install --save keystone@4.0.0-beta.4`. it should still work.

Or just clone the demo project which is on `beta.1` then run the same npm install command.

[2017-01-29 21:05] Pewpsockemz commented on #3957
Ah thanks! You have been very helpful and much appreciated!

[2017-01-29 21:16] jstockwin commented on #3957
No worries. Please close this if you've got it working!

[2017-01-29 21:23] #3957 closed

[2017-01-29 22:12] bassjacob commented on #3861
Is the project available as a repository somewhere? Or can you post the file where you initialise keystone (likely keystone.js)?

[2017-01-30 00:33] jephjohnson commented on #3936
Bump

[2017-01-30 00:38] bassjacob commented on #3936
hi @jephjohnson, I can't think of a reason from your description. Do you have a codebase I could look at to see what's going on? Can you see what you're doing different from the keystone demo site?

[2017-01-30 00:46] jephjohnson commented on #3936
Hey there @bassjacob - nothing different at all. This is a fresh build using the keystone boilerplate from yeoman then upgrading to the latest keystone.

To reproduce:
npm install -g generator-keystone
yo keystone

I am selecting handlebars for templating and sass as my pre-processor.

I am then upgrading to the latest keystone:
npm install --save keystone@next

I am not editing any model or view.

[2017-01-30 10:18] mahnunchik opened #3961 "[4.0] Question: how to implement support of responsive images"
I'd like to implement some kind of 'responsive image' field.

What I mean: I upload original image while keystone produces images at different sizes to use in the layout, as shown below:
[code]

I will use [`sharp`](https://github.com/lovell/sharp) library to image processing.

Question: how to implement this feature?

1. Custom storage adapter
2. Custom field/type
3. Or maybe some kind of `upload

[2017-01-30 12:41] ghuroo commented on #2824
@bassjacob I appreciate a lot your effort. Can you provide it? Currently I am working heavily on Models / Admin UI and that would save me a lot of time and patience :p

[2017-01-30 12:46] bassjacob commented on #2824
theoretically it should be released in 4.0.0-beta-5, so if you upgrade your keystone 4 app it should just work out of the box (it's enabled by default). The first time you build it will still be slow, but it should cache the build between server restarts after that.

[2017-01-30 14:34] jstockwin commented on #2824
@bassjacob There is/was a `prebuildAdminUI` or similar environment variable that could be set at some point which would build the admin UI at server start rather than at first page view correct?

Does this still exist, and if so does it play nicely with your changes? I.e. does it bundle the admin ui to disk at startup rather than on first page view when enabled?

[2017-01-30 14:51] TitchyDean commented on #220
Here is our working code altered from what @lazamar wrote to use custom styling for the admin UI if this helps anyone!

[code]

[2017-01-30 15:53] itzaks commented on #3953
I'll try, thanks :)

[2017-01-30 16:00] itzaks commented on #3953
Yes, in the demo version at least I see the changes reflected in the admin. Although adding `	'wysiwyg cloudinary images': true` yields ´Failed to load: http://localhost:3000/keystone/js/lib/tinymce/plugins/uploadimage/plugin.min.js` in the console resulting in the TinyMCE-area not being rendered. But at least there is something happening, thus it seems like running keystone on a custom express se

[2017-01-30 21:59] bassjacob commented on #2824
It wasn't a part of the task I undertook, but if it used https://github.com/keystonejs/keystone/blob/5cf3e6a534165f79faf644bbd886615b92b93681/admin/server/middleware/browserify.js to generate the files then it should work as you describe.

[2017-01-30 22:26] crowecawcaw opened #3962 ""Add New" option in Admin UI for relationship fields"
When filling in a relationship field for a list I have, it'd be very convenient to be able to include an "Add new..." option that would pop up the modal window for adding a new item.

For example, I currently have two lists, Donations and Persons, where Donations have a donor field that references Persons. When I add a new Donation, sometimes there is an existing Person I select from the typeahead

[2017-01-30 22:53] jstockwin commented on #3962
This exists, but it's `createInline` not `addNewOption`. It's not yet in the documentation though, which is why you've not come across it.

[2017-01-30 23:01] jacargentina commented on #3228
@wmertens almost 5 months for that "soon"! Any news on this... _please_ ?

[2017-01-31 04:00] robintiwari commented on #3857
Try this: https://github.com/keystonejs/generator-keystone/issues/181

[2017-01-31 16:17] atodorovAddison commented on #3415
When will be the release of v4.0.0?

[2017-01-31 16:42] jstockwin commented on #3962
@crowecawcaw Since you've 👍d my comment, I assume you're happy and am closing this issue. If this is wrong, please re-open and let us know what's still going wrong!

[2017-01-31 16:42] #3962 closed

[2017-01-31 21:03] joshghent commented on #327
Apologies for commenting on a closed issue but what kind of thing should be going in the GA_SITE_PROPERTY and SITE_DOMAIN?

I'm guessing site domain would be "http://example.com" but I'm not sure about property. Could you shed some light on this?

[2017-01-31 22:48] jephjohnson commented on #3936
Bump

[2017-02-01 12:06] cavilaho commented on #3680
Resolved on #3959.

[2017-02-01 12:27] jstockwin commented on #3680
Nice. I'll close this issue then, and everyone should pull down that fix. Feel free to re-open if you're still having issues.

[2017-02-01 12:27] #3680 closed

[2017-02-01 20:00] ghuroo commented on #2824
@bassjacob thank you :) already upgraded to beta 5. to make sure this is the supposed behaviour: it caches and loads the files from disk **IF you didn't change your Models**, right?

Because in this case scenario, it's still building the **fields.js** and **admin.js** (taking **1.6 min**).

[2017-02-02 00:59] IgorKhromov commented on #3861
I had received this error after add track: true option to any already existing schemas.
const Service = new keystone.List('Service', {
  track: true
});
version 4.0.0-beta.5

[2017-02-02 01:03] #3944 closed

[2017-02-02 02:36] jamiecounsell commented on #3264
Confirmed working with 0.3.21 for me as well. Thanks @guillaumew, I will not upgrade to 0.3.22.

[2017-02-02 14:56] chrisschaub opened #3964 "Keystone 4 and templates"
I am in the process of upgrading my 3.9 to 4. The admin is working, but I have a question about the default theme. It seems that Jade is now not the default, I want to use nunjucks. I looked at the demo repo and it is still referencing Jade. Is there a generator yet for 4 so I can see a best default setup for keystone.js and routes/index.js -- or is the demo repo it. Just want to know the best way

[2017-02-02 20:58] chrisschaub commented on #3936
I had to ...

npm install react --save

[2017-02-02 23:37] chrisschaub commented on #3964
Ok, a combo of keystone generator and upgrading did the trick.

[2017-02-02 23:37] #3964 closed

[2017-02-03 01:04] jephjohnson commented on #3936
Thanks @chrisschaub

[2017-02-03 19:07] costa974 commented on #645
http://www.sarahmei.com/blog/2013/11/11/why-you-should-never-use-mongodb/

[2017-02-05 09:09] jstockwin opened #3968 "Missing e2e test coverage"
This issue to it track all missing e2e tests. Currently, our test suite is missing quite a lot, and issues which should be caught are slipping through. Currently, most fields undergo a standard set of tests, where the field is simply filled with some test value. However, we should also check validation and other config options are working as intended.

Since we don't always have the time to add te

[2017-02-05 21:43] langovoi commented on #3316
I have case similar to @dijs.
I use 4.0.0-beta.4.

I have two fields in ``User`` with type ``Relationship`` (many) ref to ``User``.
Both must be mutually exclusive and exclude current item.

![monosnap 2017-02-06 00-38-43](https://cloud.githubusercontent.com/assets/5055595/22630110/b005ceac-ec04-11e6-9848-f46a91d9d310.png)

[2017-02-06 01:12] JedWatson opened #3969 "Consolidate Signin Code"
As mentioned in #3965 we have duplication of the signin logic between the core and the Admin UI endpoint. This needs to be consolidated; may involve a breaking change because the two are subtly different. Assigning this to myself to work out after 4.0 is released.

[2017-02-06 01:19] JedWatson commented on #3861
@gwyneplaine can you please try and reproduce this in the test project? it may be a blocker for 4.0

[2017-02-06 03:11] neddyy commented on #3803
Has anyone got multiple local files working in 4.0.0beta? As far as I can see this is a regression from 0.4.x and 0.3.x?

[2017-02-06 03:16] neddyy commented on #3803
Right, this was being discussed last year in #3228

[2017-02-06 23:32] redt3am opened #3970 "Blog Posts Lost after Update"
### Steps to reproduce the behavior
The server was unexpectedly shutoff. After I restart it, I had issues starting the Keystone server, so I changed the Keystone version (was 0.3x) to the latest git version in package.json. After "updating" it worked, but my blog posts are gone. Other changes are still there.

I looked in the database, and the previous blog posts are still there.
### Expected beha

[2017-02-06 23:42] bassjacob commented on #3970
@redt3am Where is your mongodb running? can you check if the posts are still available inside the database?

I'm not aware of anything in keystone that would cause dataloss, but let's see if we can figure out what happened.

[2017-02-06 23:48] redt3am commented on #3970
I see the posts are still there, but it looks like it is using a new db. I see how there are many versions of my website.

xxxxx-s-website 0.203125GB
xxxxxand39s-website     0.203125GB
xxxxx-site     0.203125GB
xxxxx-website  0.203125GB
local   0.078125GB

[2017-02-07 00:12] redt3am commented on #3970
Ok so it looks like it was using the xxxxx-s-website instead of xxxxx-website. I copied the database and now I can see all of my old posts
db.copyDatabase('xxxxxs-website', 'xxxxxx-s-website', '127.0.0.1')

[2017-02-07 00:18] bassjacob commented on #3970
great :+1: I'll close this issue then, but please reopen it if things aren't working. :tada:

[2017-02-07 00:18] #3970 closed

[2017-02-07 05:43] gwyneplaine commented on #3861
Hey @freew01f @IgorKhromov, trying to replicate this issue.
Would appreciate it greatly if you could let me know the following:
- Which version of node are you using?
- Which version of npm are you using?
- What were the exact steps leading up to the failure case?

Thanks :)!

[2017-02-07 13:02] jjhesk commented on #3642
looks like i have the same issue with this 4.0.0-beta5 deploy @jstockwin @joeinnes @conrad-vanl

[2017-02-07 13:50] jjhesk commented on #1544
@JedWatson thanks!

[2017-02-07 13:58] snyk-community opened #3974 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
  - [Cross-site Scripting (XSS) via Data URIs](https://snyk.io/vuln/npm:marked:20170112?utm_source=gh_issue)
  - Affected package: marked &lt;&#x3D;0.3.6

[Here is the test report for this repo. ](https://snyk.io/test/github/keystonejs/keystone?utm_source=gh_issue)
If you’d like to fix this vulnerability, Snyk lets you generat

[2017-02-07 22:57] sktt commented on #3961
I would like this too! An Image Type would be great! With some nice inline editor, there are some nice image editor component in the admin ui... For storing it could probably use any storage adapter to upload multiple files, e.g. unmodified, edited?, x1, x2, x3 sizes...

For me it would be just as fine to have image processing on the client side. There are a bunch of image editors built in react t

[2017-02-08 04:31] KyleAMathews commented on #3296
Hey folks, would love to hear what you think about the new site I'm working on! Check out the PR over at https://github.com/keystonejs/keystone/pull/3978

[2017-02-08 09:12] jjhesk opened #3979 "blank page login, qs bug from mapped custom domain Uncaught SyntaxError: Unexpected string"
resurrected issue from #3642

### Steps to reproduce the behavior
just login

### Expected behavior
can see the login screen
### Actual behavior

looks like i have the same issue with this 4.0.0-beta5 deploy @jstockwin @joeinnes @conrad-vanl on heroku. the issue doesnt appear on local deploy from testing server Ubuntu-16.4.10 tho. currently is not working.. http://bms.heskeyo.com/admiral/signin

U

[2017-02-08 09:54] Fitmavincent commented on #3176
This problem still exists. No matter which ENV Key I tried. Both MONGOLAB_URI or MONGOLAB_URL fail

[2017-02-08 10:37] bassjacob commented on #3176
@Fitmavincent Can you share your keystone.js init file?

[2017-02-08 10:39] bassjacob commented on #3979
I'm not sure what would be causing qs not to be requireable, it's a direct dependency of keystone. Can you run `npm cache clear; rm -rf node_modules; npm i` and see if that fixes the issue?

[2017-02-08 12:34] Fitmavincent commented on #3176
@bassjacob I was using the Deploy to Heroku button to deploy it.

[2017-02-08 13:18] danurbanowicz commented on #3176
@Fitmavincent As @bassjacob has said, check that a Heroku mLab addon is provisioned and that the config variable in your Heroku app settings matches what is declared in your keystone.js file in your app's root. It should be MONGOLAB_URI

This is what I use in my keystone.js file:-

`'mongo': process.env.MONGOLAB_URI,`

[2017-02-08 17:41] jjhesk commented on #3979
@bassjacob according to the local test project and the project runs fine without any errors. the only issue happens only on heroku deployment. note that the deployment will clear all cache for each compile deploys. I will check with ur notes to do so and see if there are any chance to get things clear out..

[2017-02-08 17:45] jjhesk opened #3981 "mongoose connection collection letter filter"
Its the suggestions to mix and match with other frameworks and it often have filtered out the collection name not just by having a prefix but with the letter uppercase of the first letter. I propose to have additional callbacks to get custom letter cases of the collection name.

The original block [mentioned](https://github.com/keystonejs/keystone/blob/master/index.js#L101-L109)
[code]

solution

[2017-02-08 21:43] ravi100k opened #3982 "node keystone is giving this error in windows"
[code]

[2017-02-08 22:20] bassjacob commented on #3982
I don't have a windows machine, but it looks like the node-sass binaries might be busted on your machine. Can you try running `npm rebuild node-sass` and see what happens?

@jstockwin or @webteckie have you seen this before?

[2017-02-08 22:26] jstockwin commented on #3982
I've not seen this, no

[2017-02-09 04:02] jjhesk commented on #3979
@bassjacob
here is what i get when i ran `npm ls qs`
[code]

[2017-02-09 05:00] jjhesk commented on #3979
@bassjacob this issues finally is discovered by using custom domain with https.
The original route was from https://gallerygoadmin.herokuapp.com/ which is the original but it is failed at the mapped domain. any hints?

[2017-02-09 05:24] bassjacob commented on #3979
honestly, no idea. all I can think of is if there is a corrupted version of the packages.js file, but running `npm cache clear; rm -rf node_modules; npm i` should tell us if that's the case.

[2017-02-09 05:51] ravi100k commented on #3982
The error is still the same, and the binary is fine.

Error: %1 is not a valid Win32 application.

[2017-02-09 06:02] ravi100k commented on #3982
in Linux machine the error is:

Error: /vagrant/ReactLearning/acme/node_modules/bson/build/Release/bson.node: invalid ELF header

[2017-02-09 06:46] bassjacob commented on #3982
I've not seen this error before, but does it seem like this thread is related? https://github.com/mongodb/js-bson/issues/58

[2017-02-09 08:15] jjhesk commented on #3979
@bassjacob i have totally done that and I have removed the one with the older version ` qs@2.3.3 ` and it is not working. I suspected that if there has anything to do with the cert of the security connection made by keystone.

[2017-02-09 15:11] ravi100k commented on #3982
the keystone is working properly with this error.

[2017-02-09 15:31] o2nitin commented on #3982
Hi folks,
The same error was showing to me on my windows machine.
It's actually a warning [click here](https://github.com/Automattic/mongoose/issues/3436) for more information.

[2017-02-10 04:29] jjhesk commented on #3981
The test result found out that there are some issues from using the new Letter case based collection name. It affects to the admin display panel from listing out the collection. Still not able to configure it out by checking on the `admin/client/App/screens/list/index.js`. Is that possible to give a hint @JedWatson

[2017-02-11 05:06] johnlo1992 commented on #474
looks like the new numeral update broke the old functionality, by renaming "language" to "locale"

`if (this.currency) {
		try {
			numeral.locale(this.currency, require('numeral/locales/' + this.currency));
			numeral.locale(this.currency);
		} catch (err) {
			throw new Error('FieldType.Money: options.currency failed to load.');
		}
	}`

[2017-02-11 12:16] lazaridis-com commented on #128
@wmertens, @JedWatson, a 3 year old open issue looks always a bit strange.

[2017-02-11 12:27] lazaridis-com commented on #153
@azproduction , @JedWatson , @wmertens - Is this issue solved in version 4?

[2017-02-11 12:29] simonwidjaja commented on #153
+1 I would be interested in an update as well...

[2017-02-11 12:39] lazaridis-com opened #3993 "void"

[2017-02-12 06:59] jumasheff commented on #3861
@gwyneplaine I think this is related: http://demo.keystonejs.com/blog/post/hello-world (Error 500)

[2017-02-12 22:36] #3936 closed

[2017-02-13 13:31] vincentracine opened #3994 "Heroku Deployment - Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch"
### Steps to reproduce the behavior
Brand new heroku instance.
Deploy to heroku `git push heroku master`.

### Expected behavior
Application starts and binds to process.env.PORT

### Actual behavior
Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch. I am debugging process.env and it does have PORT set:

[code]

[2017-02-13 22:03] bassjacob commented on #3994
Can you show your Procfile please?

[2017-02-13 22:03] bassjacob commented on #3994
And can you confirm how long your application takes to boot in your development environment?

[2017-02-14 09:27] Nefil33 commented on #1857
Was there actually a solution for this? Sorry just looked around and all issues are closed but I still have this issue.

[2017-02-14 10:04] xusai2014 commented on #2400
@geloescht how to solve the questions. I want run keystone in mac os

[2017-02-14 10:31] geloescht commented on #2400
Try if you can download http://unicode.org:80/Public/UNIDATA/UnicodeData.txt manually. If not, somethings wrong with your connection. If yes, unicode.org is down or something else might be wrong with the unicode package's install process on MacOS.

[2017-02-14 15:34] kimasendorf commented on #2127
@riyadhalnur Awesome, could you point me to the file you have edited/modified to add the image editor?

[2017-02-14 15:46] ghuroo commented on #2127
I'm also interested in the solution :)

[2017-02-15 02:20] xusai2014 commented on #2400
@geloescht Yes, I can download the txt file with browser. How to handle the error on MacOs? I failed to try some solutions.

[2017-02-15 04:46] etoxin commented on #3264
0.3.21 worked for me. 50 results still show in the dropdown but this is expected. Need to search for page 2, 3, 4 results.

[2017-02-15 08:22] geloescht commented on #2400
I don't use MacOS, so no idea. I only know it's not a keystone problem, so please ask here: https://github.com/dodo/node-unicodetable/issues

[2017-02-15 09:14] vincentracine commented on #3994
@bassjacob Procfile current looks like this: `web: node keystone.js` but i have also tried `web: node keystone.js -p $PORT`. Locally, it starts within 5 seconds.

[2017-02-15 14:38] ghuroo commented on #2824
@bassjacob I just want to let you know that the merge in beta5 has made development so much faster :) even when some Models change, restarting and loading the admin ui is now a breeze.

Damn it feels good :man_dancing:

[2017-02-15 15:30] suqian1988 opened #4004 "s3 file adapter filename option issue"
### Steps to reproduce the behavior

in S3 file adapter,
add below code to have customized file name.
but the file name is still random created string

[code]

### Expected behavior

we can plugin our own filename

### Actual behavior

the file name is random string.

[2017-02-15 15:42] suqian1988 opened #4005 "S3 file upload"
### Steps to reproduce the behavior
set header as this:
headers: {
			'x-amz-acl': 'public-read',
		},

upload failed with 403 error
### Expected behavior
upload can success.
### Actual behavior
upload failed with 403 code

[2017-02-15 17:25] akopcz2 commented on #3994
Heroku dynamically assigns your app a port, so you can't set the port to a fixed number which it looks like your doing  at PORT: '43760'.

[2017-02-15 18:30] troystarwalt commented on #3925
@jaehoo I was able to fix this error by changing the version of Node to 6.9.5.

[2017-02-15 19:29] vincentracine commented on #3994
@akopcz2 I know this behaviour already. My problem is that Keystone is not binding to the port Heroku is setting. As you can see from my logs in my original post that Heroku is setting a port but Keystone isnt starting.

[2017-02-15 21:53] bassjacob commented on #3994
without seeing more information from the repository, this is going to be hard to debug. Have you raised this with Heroku?

[2017-02-15 21:54] bassjacob commented on #2824
That's great news :smile: There are some more improvements coming down the line, and if you have any ideas on where things can be made better please post them here :+1:

[2017-02-16 04:48] #2824 closed

[2017-02-16 04:51] JedWatson commented on #2824
I think we're safe to close this, now we've hit dancing man status 😄

Seriously, we've done heaps to improve the startup and first response time of Keystone and will continue to do this. It's a core focus. I also think closing issues when we've made major progress is good for the soul.

Thanks to everyone who helped push this forward, including @josephg for bring it front and centre sooner than I

[2017-02-16 19:03] ash-rain commented on #3979
Any new info?
I'm having the same issue, but I'm on dedicated server. When running local it's ok, but for some reason since a few hours ago I get blank page and this same error in the browser console when trying to access Keystone.

[2017-02-17 12:42] vincentracine commented on #3994
Found the issue! I removed this from my Package.json
[code]
When Heroku uses the default node version, it works perfectly!

[2017-02-17 12:42] #3994 closed

[2017-02-17 12:46] bassjacob commented on #3994
ah, that's great to hear :smile: Thanks for reporting back.

[2017-02-18 08:27] duythang opened #4014 "Cannot access Keystone Homepage (localhost:3000)"
I am having problem. I tried to finish installation as guide mentioned in http://keystonejs.com/getting-started/
Software versions i installed:
**node** - v7.5.0 (lastest version)
**mongodb** - v3.4.2 (lastest version)
**OS** - ubuntu 14.4 - 64b
However, i cannot access to Homepage (localhost:3000.)

Please, refer picture:
![untitled](https://cloud.githubusercontent.com/assets/9314819/23091706/7e3

[2017-02-18 12:36] jstockwin commented on #4014
How long are you waiting before killing it with `^C`? That BSON error happens for me and isn't an issue at all. If you wait a bit longer it should say something like "Keystone started successfully", and then you'll be good to go.

[2017-02-18 22:23] fffuture commented on #4014
Have a same problem.
Try to `node keystone` and `npm start`.
[code]
Also I have this error while installing node_modules:
[code]
and
[code]

[2017-02-19 11:26] UnGast opened #4017 "mime type error on file upload (when only specifying path)"
### Steps to reproduce the behavior
1. have a model with a field of type File and the file system adapter
2. try to upload a file by calling <model>._.<yourFileField>.upload({path: <specifiy your path>})

### Expected behavior
the file appears in the directory specified in the file system adapter

### Actual behavior
an error occurs: mime is not a function

it happens because in lib/storage/index.

[2017-02-20 01:09] duythang commented on #4014
Use node 4.4.2; MongoDB 3.0.14.. It can run well. However, still happen error "js-bson: Failed to load c++ bson extension, using pure JS version"

[2017-02-20 01:10] duythang commented on #4014
@jstockwin: it cannot run

[2017-02-20 02:58] sktt commented on #4005
I also had this problem, and I think it was because

That includes eu-central-1 and cn-north-1

But knox does not support it. https://github.com/Automattic/knox/issues/254

I replaced it with the official aws-sdk here: https://github.com/keystonejs/keystone-storage-adapter-s3/pull/15.

[2017-02-20 11:11] OskarKlintrot opened #4020 "Pre-save hook for password field is broken"
### Steps to reproduce the behavior
Use the latest version from Github master branch. Update password according to [this comment](https://github.com/keystonejs/keystone/issues/1254#issuecomment-85999366) and then run
[code]

### Expected behavior
No errors, `isMatch` returns true

### Actual behavior
Err is `Not a valid BCrypt hash.` and `isMatch` is null.
____________

This issue seems to have be

[2017-02-20 20:57] chrisschaub opened #4022 "Connection to replica set, mongodb atlas"
I promise to delete this issue, tried just trying to figure out why keystone 4 does not create my database or collections when using MongoDb Atlas. I guess it's not connecting, I've read all of the posts I can find, but just can't get it to do anything. I get this error:

MongoError: no valid seed servers in list

I've tried setting various mongo options, no dice. Mongo definitely has a primary re

[2017-02-21 03:03] romecode commented on #4020
What he said. Getting the same thing... bumped into this creating users via an update file... the password stored ended up being a non hashed string version leading to the mentioned behavior.

[2017-02-21 06:25] manuel-alcocer commented on #959
Ainsss...

I think is not necessary ninja tricks for solving this problem.

After creating your keystone project, install npm-check-updates for all users:

`user@debian:~/myproject/my-site$ sudo npm install -g npm-check-updates`

Then update your site packages.json:

`user@debian:~/myproject/my-site$ npm-check-updates -u`

And finally update all packages:

`user@debian:~/myproject/my-site$ npm ins

[2017-02-21 07:47] x-dev opened #4023 "4.0 Beta 5 - User Password saved as plain text"
### Steps to reproduce the behavior
**If new installation**
Create new user object following regular installation procedure by creating an Update record to generate default user

**If upgrading from Beta 0.4**
Create new  or update existing user object, enter desired password and select save. Logout of current admin session and attempt to login with user and password created in previous step

###

[2017-02-21 11:03] shivshankar3578 opened #4024 "underscore/lodash not working"
@keystone 0.4-rc5 lodash in include by default
[code]
but not working when i use in post

[code]
show error

__.contain is not a function_

anyone help me plz

[2017-02-21 11:25] shivshankar3578 commented on #4024
oh sorry it's my mistake.

[2017-02-21 11:25] #4024 closed

[2017-02-21 14:03] kadosh1000 commented on #4014
@duythang this is an issue while using any nodeJS version higher than 5.x
it seems that keystone not supports the higher versions of nodeJS.

[2017-02-21 19:09] steevsachs opened #4025 "Create form exceeds screen height, has no scroll when too many fields have initial: true"
### Steps to reproduce the behavior
Create a Keystone List with a high number of fields (~20) with the property `initial` set to `true`.
Access the Keystone admin interface.
Attempt to create a new document of that List type.

### Expected behavior
A lightbox will pop up including a righthand scroll bar allowing access to all initial fields and the Create and Cancel buttons.

### Actual behavior
T

[2017-02-21 19:57] bassjacob commented on #4014
@duythang I'm able to use node@7 without any issues with Keystone. Can you please paste the output of these commands here?

`npm ls keystone`
`npm ls mongoose`
`npm ls mongodb`
`npm ls mongodb-core`

[2017-02-21 20:04] chrisschaub commented on #4022
Ok, upgrading to beta5 has magically fixed this issue. Closing.

[2017-02-21 20:04] #4022 closed

[2017-02-21 22:25] whnunlife commented on #3994
Just has two sites that encountered the same issue after working for months, then having to do a hotfix today. Removing the "engines" from the package.json allowed the app to start without error.

[2017-02-22 04:38] Noviny commented on #4023
Hi @x-dev, just tried to replicate this, and am still getting hashed passwords. Can you give me any other information on how you are creating the user? Is this just through the admin UI?

[2017-02-22 10:22] dlindenkreuz commented on #2201
Any progress on this?

[2017-02-22 10:30] leduykhanh opened #4026 "save() inside getUpdateHandler callback doesn't work"
I have this code on API:
[code]
The thing is that the Bet object wasn't updated, those 2 console.log print the old object.
How can i save the bet in this case? meanwhile the User object was updated. So strange.

[2017-02-22 13:11] x-dev commented on #4023
Hey @Noviny,

This occurred for me in 2 scenarios:

- using the default user seeding method with an update file
- changing an existing user's password which resulted it to be saved as plain text

I'm not sure what's going on but all of the sudden I can't seem to replicate it. Initially I thought it was an issue running the environment in Heroku but I was experiencing the issue locally as well.

I'

[2017-02-22 16:28] shivshankar3578 opened #4027 "Keystone File Type image url"
@keystone 0.3-beta5
 i'm using storage adapter fs. file upload working but show only filename. i'm using

[code]
`image:{ type: Types.File, storage: myStorage },`
Update:
i check database this store wrong url. it should be **uploads/items/re7o6E5ziMJBBWte.jpg**
![image](https://cloud.githubusercontent.com/assets/10707846/23580198/f9cbd814-0122-11e7-85a4-ce108374c971.png)

[2017-02-22 22:34] piermariacosina commented on #3781
no news on this?

[2017-02-23 01:14] Noviny opened #4030 "RelationshipType.updateItem() always uses new data when the relationship is `many`"
### Steps to reproduce the behavior
Have a relationship with many, that has a value. For our example, cats.
Call `List.updateItem(itemToUpdate, { name: 'Bob' }, callback)`

### Expected behavior
As we have not specified cats, Bob's 3 cats are still linked

### Actual behavior
Bob has no cats anymore. The field is reset to `[]`.

Picking this issue up myself. Plan is to change `relationship.prototy

[2017-02-23 01:19] Noviny commented on #4030
Just looked in to this a little more, and this will remove for either single or multiple relationships. This seems intentional, however interacts poorly with the above pattern.

[2017-02-23 13:58] #4020 closed

[2017-02-23 13:59] JedWatson commented on #4020
Thanks for the report @OskarKlintrot

I'm pretty sure this is fixed with that commit - turns out you need to access the property on the object using array notation, not `get` and `set` although the other changes from that commit should be good.

Please let me know if you can still replicate it!

[2017-02-23 18:42] x-dev commented on #4023
@Noviny,

I'm experiencing this issue again -

This is definitely occurring with v4 Beta 5. Essentially it will work as intended, but then start saving passwords as plain text. I removed the node_modules directory and ran npm install again and that seemed cause the admin to work correctly again.

Do you have any suggestions as to where I should look to help track down this bug?

[2017-02-23 23:58] Noviny commented on #4023
@x-dev Can you provide me with information on your user model setup?

We encountered a similar issue on the keystone demo site, which was resolved [here](https://github.com/keystonejs/keystone-demo/commit/880eb37003655e4e095437dd518c3799d4bf27fe) however that was because we were protecting the password field, which blocked the hashing of the password.

[2017-02-24 02:15] x-dev commented on #4023
@Noviny,

It's the standard user model that ships as part of the Generator.

`
var keystone = require('keystone');
var Types = keystone.Field.Types;

/**
 * User Model
 * ==========
 */
var User = new keystone.List('User');

User.add({
	name: { type: Types.Name, required: true, index: true },
	email: { type: Types.Email, initial: true, required: true, index: true },
	password: { type: Types.Passwo

[2017-02-24 02:42] JedWatson commented on #3994
I've pushed a fix that removes engines from the package.json, which will hopefully resolve this for good.

[2017-02-24 04:52] bassjacob commented on #4023
@x-dev can you confirm the commands you're running to hit this issue?

Are you seeing it when using the admin ui? or only programmatically?

[2017-02-24 05:01] x-dev commented on #4023
@bassjacob,

When I reopened the issue it was using the Admin UI. Initially however it was either method that would produce the same result.

If it helps anyone, clearing out the node_modules then running install again seems to resolve it temporarily. Is there something Keystone might be doing on initial boot that would affect the behavior of the password from saving correctly after a period of ti

[2017-02-24 06:56] madhavinath commented on #1271
routing not working after sign in.

[2017-02-24 07:59] OskarKlintrot commented on #4020
I just copy/pasted `PasswordType.js` into `node_modules` instead of reinstalling everything (which takes a crazy amount of time, even with yarn). Without doing any changes in my own code it's working again now! Thank you @JedWatson! 👍

[2017-02-24 09:22] OskarKlintrot commented on #4020
Sorry, I was a bit too quick. It still dosen't work. Using a clean install of the latest `master`-branch with the "old" `PasswordType.js` works just fine but not with the latest 2 commits for that file.

[2017-02-24 10:12] OskarKlintrot commented on #4020
And now it works again... I have been trying to find the issue but it just started to work again without me doing any changes in the code. Strange, I don't really know what to make of it...

[2017-02-24 19:22] newmanw opened #4036 "[4.0] StorageAdapter w/ access to express application"
### Steps to reproduce the behavior
As part of the new Storage API #3052 I am trying to create a mongodb/gridfs StorageAdapter.  The differentiating factor with a mongo adapter is that there is no external service running (like S3) which provides the file via a link.  Given that the adapter already has the config for setting up a connection to mongo/gridfs, I intended that service to live within m

[2017-02-24 20:47] newmanw commented on #3875
I am experiencing the same problem.  Looking into why I found this:

https://github.com/keystonejs/keystone/blob/9d235c2381cf53b07cb965042c8d6ad46f53a173/lib/core/initExpressApp.js#L2

Which returns immediately without adding the rest of the keystone routes.  Wondering if the intent here was to prevent express from being initialized twice, however this also prevents BYO express from being initiali

[2017-02-25 03:41] CAYdenberg commented on #3875
So off the top of my head then:

[code]

I'd work on a PR with you @newmanw but it'd be good to get some feedback from the core team. @JedWatson is supporting an independently created Express app still a goal for keystone?

[2017-02-25 06:34] lanzhiheng commented on #4014
![image](https://cloud.githubusercontent.com/assets/8858472/23328890/61cf812a-fb67-11e6-8b85-47e8c8c53e85.png)

![image](https://cloud.githubusercontent.com/assets/8858472/23328873/ef85cc6e-fb66-11e6-9661-36b828a582a2.png)

![image](https://cloud.githubusercontent.com/assets/8858472/23328892/6fb82684-fb67-11e6-95bf-247536716acb.png)

I have the same problem. It sounds like the mongoose's bug.   li

[2017-02-25 20:21] langovoi commented on #3861
I think problem is `browserify`. When set `DEBUG=*` you can see that on first request `babel` doing much work.

I found poor resolution - `KEYSTONE_PREBUILD_ADMIN=true`
https://github.com/keystonejs/keystone/blob/375c0a5db475bce63ca07c85cf0def10ffdf31c2/admin/server/app/createStaticRouter.js#L63

[2017-02-26 00:43] bassjacob commented on #4014
@duythang can you confirm if you're also using keystone@0.3?

@lanzhiheng very likely we should try release a dependency bump for the 0.3 branch. @JedWatson do we have plans for another 0.3 release at any point?

[2017-02-26 05:23] romecode commented on #2980
this bug is still affecting 0.4beta5, just spent about 2 hours pulling my hair trying to figure out wth was going on

[2017-02-26 13:13] komcal commented on #4014
@duythang I have same problem. It's happen in keystone package not in your project.
I fix this issue by this command
[code]
in package.json change mongoose version to 4.7.7
run
[code]
back to your project and start again

[2017-02-26 22:28] Noviny commented on #4023
Hey x-dev, does what people are experincing in #4020 look related to what you are experiencing?

[2017-02-26 22:39] Noviny commented on #4026
bet.save() is asyncronous, and will likely not finish resolving before the rest of the actions continue. To ensure that it resolves first, you'll need to give it a callback, which holds everything you want to guarantee only runs after the item has been saved.

Closing this as an issue, but feel free to ask questions/reopen if this doesn't address the problem you're experiencing.

[2017-02-26 22:39] #4026 closed

[2017-02-26 23:49] x-dev commented on #4023
@Noviny,
Yes, I would say so. What is described in #4020 is essentially what I had
experienced with the update file process

On Sun, Feb 26, 2017, 5:29 PM Ben Conolly <notifications@github.com> wrote:

[2017-02-26 23:50] x-dev commented on #4023
@Noviny,
Yes, I would say so. What is described in #4020 is essentially what I had experienced with the update file process

[2017-02-28 01:41] Noviny commented on #4023
@x-dev Couple of other questions, where is this being hosted, can you provide your keystone.js file (I am assuming it's the standard), and just wanted to check what version of keystone is specified in the package.json

[2017-02-28 01:56] x-dev commented on #4023
@Noviny as request:
**keystone.js**

require('dotenv').config({silent:true});

//
const fs = require('fs');
const path = require('path');

// Require keystone
var keystone = require('keystone');
var handlebars = require('express-handlebars');
var morgan = require('morgan')

// Initialise Keystone with your project's configuration.
// See http://keystonejs.com/guide/config for available options
//

[2017-02-28 06:03] duythang opened #4040 "How to XMLHttpRequest() sends a JSON object to Keystone and stores it into a field of a model"
Dear Keystone community

I am trying to send a JSON object to Keystone (using  POST request of XMLHttpRequest()) to store it into a field of a model. Although, i send JSON object successfully, JSON object still cannot save into a field of my model.
These are my codes:

=======================Model code======================
[code]

======================Route code======================

[code]

==

[2017-02-28 07:22] creynders commented on #4040
Probably because req.body isn't a string, but an object with fields `name` and `age`, which doesn't match your model declaration. You'll have to turn it into a string first, with `content: JSON.stringify(req.body)`

[2017-02-28 07:28] duythang commented on #4040
@creynders: Great, thank you. i tried and your way is true. But, i am confusing that in ajaxtest.twig, i used JSON.stringify(myObj) before sending. So, why is req.body not string at Keystone server?

[2017-02-28 08:18] creynders commented on #4040
Because express' body parser automatically parses JSON. I'm closing this for now, but if this is still an issue, you can re-open it.

[2017-02-28 08:18] #4040 closed

[2017-02-28 08:23] duythang commented on #4040
Thank you

[2017-02-28 08:37] duythang opened #4041 "How to render a String or Json objest"
Hello keystone community

As i know, Keystone uses _view.render()_ to render Web page under some engines (e.g., jade, twig) to user typically. So, can Keystone render a String or a Json object ?
I am refering user's case that user uses Ajax (i.e., XMLHttpRequest) to load necessary content to web as this code:

[code]
In this case, **this.responseText** is necessary content which need to be load.

[2017-02-28 13:41] kimasendorf commented on #3925
@troystarwalt down grading node is not a fix

[2017-03-01 02:12] Noviny opened #4046 "`auth: false` or left out in `keystone.init` stops admin UI rendering"
### Steps to reproduce the behavior
Start a keystone project with `auth: false`, load /keystone

### Expected behavior
We can access the admin UI, even if we are not logged in

### Actual behavior
Admin UI fails to load with 500 error `Cannot read property 'id' of undefined`, which comes from `keystone/admin/server/routes/index.js:39`

[2017-03-01 02:13] Noviny commented on #4046
Going to look in to this further to see if I can solve it.

[2017-03-01 06:28] duythang commented on #4014
@bassjacob : Yes i am using keystone 0.3

[2017-03-01 07:47] bassjacob commented on #4014
In that case, it's likely the issue is that 0.3 is using a version of mongoose that is incompatible and has a showstopper bug on node@7.

You can either wait for a new version to be released, or try passing your own version of mongoose to keystone before starting it (see http://keystonejs.com/docs/getting-started/#gettingstarted-startinganewproject - the section header is BYO Express and Mongoose)

[2017-03-01 09:02] duythang commented on #4014
@bassjacob : Thank you . When will 4.0 version be released ?

[2017-03-01 09:10] duythang opened #4049 "Can we use multi engine templates at the same time in Keystone"
Hello
I am confusing that keystone can suppost to use multi engine templates (i.e, twig, pug ...) at the same time.
For example, i want to include a **pug** template inside **twig** template.

Thank you so much

[2017-03-01 10:40] bassjacob commented on #4014
no set date, but there aren't many things left to do for it to be done

[2017-03-01 12:44] iTsFILIPOficial commented on #4014
@bassjacob Do you have a issues to track what left of something similar?

[2017-03-01 15:18] suqian1988 commented on #871
how to print the debug messages into a file?

[2017-03-01 19:04] jjmpsp commented on #4014
@bassjacob Is there an official roadmap for these 'many things' / features that you speak of? Would love to contribute to the project in any way that I can if it means a stable release will come sooner!

[2017-03-02 07:42] BillGR17 opened #4053 "show more than 50 items on selection on admin ui"
I have created 56 categories and when i am trying to create a new post when i am going to select the category that i want there are only 50.The other 6 doesn't appear and you cant select them even by typing the name of the category its like they don't exist.

How can i fix that?

Here is the models

[code]

[2017-03-02 13:01] ellipticaldoor opened #4055 "Link preview is a span instead of a link"
I'm using keystone 4.0.0-beta.5

When I add a file everything works just fine, but in the file field inside the admin I get a link that doesn't work because is a span. When I change the tag from **span** to **a** it works.

[code]

Also, how I can preview the image in the admin?

![screenshot](https://cloud.githubusercontent.com/assets/3449006/23508147/4313c306-ff48-11e6-8792-66e179a8843a.jpg)

[2017-03-02 16:18] whnunlife opened #4056 "Keystone Beta 4.0.0-beta.5 - Issue with Pagination"
Found a issue when updating to 4.0.0-beta.5. While using pagination, I get back only the results in the "where" clause, but the total count returned, is not specific to the conditions of the where clause, but shows the total number of documents in the collection.

Example Query:

[code]

Keep in mind, that "site" is a relationship to contact. A contact always has a "site".

In Keystone 0.3.21, the

[2017-03-02 23:48] JacksonGL commented on #4014
Switching back to Node v6.x works for me.

[2017-03-03 02:16] Noviny opened #4060 "Numeral is not unformatted after a format is called"
### Steps to reproduce the behavior
Call `.format()` on a `money` field with a locale set, such as `en-gb`, then call `numeral.format()` without defining a locale anywhere else within keystone.

### Expected behavior
The new call will be agnostic of the first call occurring, and have no locale.

### Actual behavior
The locale is not unset, and all future calls to `numeral.format()` will use the de

[2017-03-03 04:40] FernandoBoza opened #4062 "Server is running But still get an error when starting"
Build Mac OS Sierra 10.12.3
Node -v 6.9.5
mongoose@3.8.40
keystone@0.3.22
Mongo 3.4.2

### Steps to reproduce the behavior
Node Keystone
### Expected behavior
Running Smoothly
### Actual behavior

{ Error: Cannot find module '../build/Release/bson'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)

[2017-03-03 10:13] OskarKlintrot commented on #3565
I get this as well with `auth: false`, shouldn't that open up Keystone to the public?

[2017-03-03 10:53] ellipticaldoor opened #4064 "Keystone Beta 4.0.0-beta.5 - required being ignored for type: Types.File and image preview not working"
The admin is ignoring that a file is required and also it's image preview:

[code]

[2017-03-03 18:21] rishabhrawat11 opened #4066 "How to avoid using Cloudinary? I want to save the images only in mongoDB not on Cloudinary"
### Steps to reproduce the behavior

### Expected behavior

### Actual behavior

[2017-03-04 06:10] juangl commented on #4062
Same problem.

I think it's mongoose-related. When I run `npm install` I get the next warning:
[code]

And mongodb is who use Bson.

[2017-03-04 14:42] #4030 closed

[2017-03-04 14:58] Noviny commented on #4023
Hi @x-dev, I haven't been able to find anything that looks like it would be causing this, nor anything in your code that makes it obvious. Are you experiencing this locally as well as on heroku?

[2017-03-04 15:04] Noviny commented on #4066
There are a couple of ways to approach this. First, you can extend the underlying mongoose schema to have a field that takes in the binary of an image file, similar to what is discussed here:
http://stackoverflow.com/questions/4796914/store-images-in-a-mongo-database

This method will not have any admin UI available.

Alternately, you could use the [fs storage adapter](https://github.com/keystonej

[2017-03-04 15:04] #4066 closed

[2017-03-04 15:32] x-dev commented on #4023
Yes, locally and heroku.

Unfortunately it's not consistent. For the time being I am forcing heroku to not cache dependencies between builds and if it happens locally I just clear out my node modules and run npm install.

So far this seems to prevent the behavior from reoccurring

[2017-03-04 15:53] Noviny commented on #4023
If it's happening locally, would it be possible for you to privately share the codebase so I can try and reproduce it?

[2017-03-04 15:58] Noviny commented on #4062
@JedWatson talked about this on #1752. Unfortunately this isn't solvable for keystone 3.

Closing this. Feel free to ask any more questions about this.

[2017-03-04 15:58] #4062 closed

[2017-03-06 05:33] mx781 commented on #4056
Encountered the same issue. Digging through the source, it seems this can be fixed by passing a `filters` parameter that accounts for all your `where(...)` calls. In your code above, that would translate to:

[code]

That aside, it's certainly unintuitive that .paginate has to be called on a list, rather than chaining onto the query. If possible, this would be a nice change in the v4 (or later). W

[2017-03-06 06:19] whnunlife commented on #4056
Ahhh, very interesting. I'll give this a shot and report back. Thanks.

[2017-03-06 17:13] diramazioni commented on #3857
I don't understand why this issue is closed, that fix was already merged and I see the same exact problem

[2017-03-06 23:56] Noviny commented on #1702
Hi all,

Trying to solve for this, as it's one of the things holding up Keystone4 getting out of beta.

I just wanted to check that this is not an issue for datetime, which I haven't been able to reproduce it with, though I can consistently reproduce it for date.

[2017-03-07 00:30] keith24 commented on #3857
That's my bad.

It looks like it was only [half fixed in the PR](https://github.com/keystonejs/generator-keystone/pull/194#issuecomment-266877585).

[2017-03-07 00:58] christroutner commented on #3170
I have also been experiencing this bug. Updating an element somewhere in the middle of the TextArray does not persist to the database when calling either save() or getUpdateHandler(). Neither calls persist the data to the database.

I can consistently reproduce this bug, but only in a very complex and proprietary piece of software I'm writing. I tried to reproduce it with this test script:

https:

[2017-03-07 06:36] codecoaster commented on #959
@manuel-alcocer : thank you, this was the only solution i found that worked for running Keystone.

Cheers :+1:

[2017-03-07 14:11] ultimagriever commented on #4064
I have the same problem with the image preview. The Admin UI is ignoring the `format` function provided to the model.

[2017-03-07 14:57] Noviny commented on #3857
Hi, this issue is better dealt with over on the [generator repo](https://github.com/keystonejs/generator-keystone) itself, as the issue is with the generator setup.

That being said, we merged a fix in [here](https://github.com/keystonejs/generator-keystone/commit/107dd519f23534c92c422640996f2a18974989d0), and \*should\* be getting a new version published to npm before the end of this week, howeve

[2017-03-07 14:57] #3857 closed

[2017-03-07 14:58] ultimagriever opened #4070 "Can't show S3 file preview and/or URL on Admin UI"
I'm trying to create a model with a S3 file field whose URL I want to show on the Admin UI list. Currently, the list only shows the file name.

I'm using Keystone 4.0.0-beta.5.

Model code:

[code]

Storage config:

[code]

I have tried creating that `imageUrl` field, tried placing a `format` function inside the `image` field, none of those options worked and I couldn't see the console.logs placed

[2017-03-07 15:56] Noviny commented on #3522
Thanks @rachelbasse for your answer! Closing this issue. Please reopen if this does not solve it.

[2017-03-07 15:56] #3522 closed

[2017-03-07 16:31] deniercounter commented on #3759
Same here. Error in commandline and kills keystone:
================
GET /contact 200 115.724 ms
TypeError: this.templateEngine.compile is not a function
    at Email.<anonymous> (/home/pelzla/Documents/acme/node_modules/keystone/lib/email.js:347:35)
    at Email.<anonymous> (/home/pelzla/Documents/acme/node_modules/keystone/lib/email.js:318:11)
    at FSReqWrap.readFileAfterClose [as oncomplete]

[2017-03-07 16:58] aoc commented on #3564
@promethe42 did you find any workaround to this issue?
Any reason not to apply your fix?

[2017-03-07 17:45] CameronSima commented on #1702
I'm having the same issue. Anyone come up with a decent workaround?

[2017-03-07 19:17] diramazioni commented on #3857
yes moving the files worked. I was trying with relative import ../layouts but was not working :+1:

[2017-03-07 20:14] CameronSima opened #4071 "Edit buttons return 404"
After changing my blog's url from /blog to /main/blog, the edit buttons which appear beside posts when signed in link to /blog/keystone/posts/58bdec38a03fa26f2c3c54ef, which returns a 404 error, instead of the expected /keystone/posts/58bdec38a03fa26f2c3c54ef, which is the correct url for the page to edit the post.

[2017-03-07 22:50] x-dev commented on #4023
@Noviny I have been trying to reproduce this and can't seem to do it - I wanted to send you the complete installation for debug purposes

[2017-03-07 22:51] Noviny commented on #1702
@waltonryan Unfortunately the problem occurs in the data the admin UI sends back, so it needs to be resolved around there.

@CameronSima Current workarounds are:
- Set the server is in same timezone as the the end users
- Items with a date field are not saved through the admin UI

[2017-03-07 22:59] Noviny commented on #4023
If you send a link to ben@thinkmill.com.au, I'll have a look.

To be clear, you can't reproduce this locally or at all?

[2017-03-07 23:20] CameronSima commented on #1702
@Noviny Thank you. What's confusing is that my server and end users are in the same timezone

[2017-03-07 23:51] Noviny commented on #4071
This is a bug with [data-ks-editable](https://github.com/keystonejs/keystone/blob/c4789388ef09d09f39585f68b2a6fc898b7da040/admin/public/js/content/editor.js), line 42. It's using a relative path, which will take in the current location.

Made a PR for this on #4072. Not sure what a workaround would be while you wait for that to be merged beyond applying this fix to your own keystone version.

[2017-03-07 23:51] #4071 closed

[2017-03-08 00:03] Noviny commented on #1702
@CameronSima Sorry for not reading your initial message closely enough.

Are you capable of confirming that? Running `new Date()` on the server then locally should give us the information.

I'd also like to see what the data looks like, so if you could grab one of the ISOStrings that would be great.

[2017-03-08 00:21] CameronSima commented on #1702
Output of `new Date()` on server: `Wed Mar 08 2017 00:20:16 GMT+0000 (UTC)`
and on my local machine: `2017-03-08T00:20:27.146Z`

[2017-03-08 00:23] CameronSima commented on #4071
@Noviny Thank you, works like a charm

[2017-03-08 04:58] Noviny commented on #1597
Investigation of this, the `unique: true` works within keystone, however mongo will fail to create the unique index if the field is not already unique, or any index defined before this fails to be created.

Closing this for now. Feel free to reopen or ask for further details about this if you are experiencing this.

[2017-03-08 04:58] #1597 closed

[2017-03-08 07:17] robbin-zhongan opened #4073 "install error!"
### Steps to reproduce the behavior
when i install the project run the shell "yo keystone", i encountered the problem as below.

### Expected behavior
install success.

### Actual behavior
gyp WARN install got an error, rolling back install
gyp ERR! configure error
gyp ERR! stack Error: connect ETIMEDOUT 104.20.23.46:443
gyp ERR! stack     at Object.exports._errnoException (util.js:1036:11)
gyp ER

[2017-03-08 07:21] bassjacob commented on #4073
Looks like you're connecting to the internet through a proxy, is that correct?

[2017-03-08 07:26] robbin-zhongan commented on #4073
No, i don't use a proxy. I can ping the ip as below.
![image](https://cloud.githubusercontent.com/assets/26134899/23694215/84608edc-0413-11e7-9b24-014ee744ef93.png)

When i reinstall it. it's successful.

[2017-03-08 07:26] #4073 closed

[2017-03-08 07:28] bassjacob commented on #4073
how odd. if it becomes reproducible let us know :smile:

[2017-03-08 08:07] tomhardman0 opened #4074 "Keystone 4.0.0-beta.5 - Colour picker type doesn't preview selected colour"
Hi All. Firstly - thank you very much for Keystone, it's excellent. I'm looking to become much more active and contribute to the community so I thought I'd start by raising some issues and seeing if there's anything I can fix myself!

### Steps to reproduce the behavior
Add a field of Types.Color to a model. In the admin UI create a new item in that list. You can see the button for the colour pick

[2017-03-08 09:30] tomhardman0 opened #4075 "Keystone 4.0.0-beta.5 - List with hidden: true is hidden from admin ui navbar but not admin homepage"
I've been trying to add a hidden model to the admin UI but it still appears on the admin homepage once logged in (e.g. /keystone). I don't think this is the correct behaviour, but I'm not entirely sure. (Keystone 4.0.0-beta.5)

Any direction towards where I should look in Keystone to fix this myself would be appreciated, I'm happy to submit a PR.

### Steps to reproduce the behavior
Add a new keys

[2017-03-08 10:02] madhavinath commented on #4056
got same issue..resoleved it by repalcing where with filters.

[2017-03-08 10:33] aaronkendall commented on #4074
+1

[2017-03-08 11:38] ghuroo commented on #153
Any chance of seeing this in a 4.0.6 beta?
Or can we implement sub-collections trusting that this feature will be out someday soon?

[2017-03-08 16:47] whnunlife commented on #4056
So, after looking at my code, I have a change of conditionals based on the users current nav, where I then add on to the q instance. This could get ugly...

[2017-03-09 03:46] Noviny commented on #4075
Hi @tomhardman0, just tried this out using the following schema:

[code]

I couldn't reproduce the bug. The list was hidden in the keystone admin UI, neither part of the home page or the menu. From reviewing the code it looks like it is still working as intended, so I'm going to close this as an issue. happy to work with you to resolve why it's not working in your case. Are there any extra details

[2017-03-09 03:46] #4075 closed

[2017-03-09 05:01] Noviny commented on #4023
I'm closing this as a specific user issue, but will keep following it up.

[2017-03-09 05:01] #4023 closed

[2017-03-09 05:04] Noviny opened #4079 "File field type errors/problems"
Collecting all issues related to the display of File field types in the admin UI in one place, as this likely needs a look thinking about all of them.

This ticket can be consered resolved when the following are resolved:

- [ ] #4070
- [ ] #4064
- [ ] #4055
- [ ] #4027
- [ ] #4017
- [ ] #4005
- [ ] #4004

[2017-03-09 05:08] Noviny commented on #4017
With this, have you tried with the new storage adapter? https://github.com/keystonejs/keystone-storage-adapter-s3

This is how we are going to be dealing with external dependencies moving forward.

[2017-03-09 05:21] Noviny commented on #3802
#4035 should have fixed this.

If you still experience an issue, let me know.

[2017-03-09 05:21] #3802 closed

[2017-03-09 07:34] Noviny commented on #3589
Hi all, this is an issue in the keystone generator, and is better reported there. As it has since been resolved in the latest version which also updates to Keystone 4, I am closing this as resolved.

[2017-03-09 07:34] #3589 closed

[2017-03-09 12:27] duythang commented on #3903
Hello @bassjacob
i have same issue like this.
I am using KeyStone Beta 5

Error from "validationErrors".
I tried on Keystone-Demo source code. The issue still happens when i remove **required** addtribute

For example i modified:
- Original code "contact.pug" in Keystone-Demo
[code]
After removing **required** addtribute
[code]

Can you check it ?

Thank you

[2017-03-09 18:06] christroutner opened #4082 "Datetime field type adds 5 hours to data"
### Expected behavior
When converting a JavaScript Datetime object to an ISOString and then uploading to a KeystoneJS app, I expect the get the same time string back from the server.

### Actual behavior
The Datetime string returned by the server has 5 hours appended to the value.

### Steps to reproduce the behavior
1. I create a model with a Datetime field like so: `reportGenerated: { type: Type

[2017-03-09 19:57] peterpme commented on #3979
:wave: I'm running into this issue too!

[2017-03-10 10:49] tomhardman0 commented on #4082
It looks like it's normalising your original GMT-0800 to UTC, so the ISO string you end up with looks like it's 8 hours ahead when really it's just UTC.

[2017-03-10 21:19] PaulMoor opened #4086 "SearchFields Option"
Dear friends, I'm a new to keystone.

I'm wondering is there and option at SearchFields Options Post model to specify all available fields for the search.

As I understand the SearchFields Options uses the String that specify the fields will be used for the search request. But how to tell Keystone to search all available fields in the model?

Excuse me for maybe such a stupid question.

[2017-03-11 18:38] CameronSima commented on #1702
@Noviny hope that helps, let me know if I can supply any other information

[2017-03-13 07:42] elektrobober opened #4092 "Nodejs 7.7.1 support (7.6.0 as well?)"
Hey were! I'm finding myself in bit confused situation, while I updated my node js version and tried to run my keystone project. My nodejs current version - 7.7.1, and when I type 'node keystone' (actually well 'gulp', because I'm using it for starting keystone and make some other manipulations) - just nothing happens.

As I understand where is some issues with events.onMount function, but my know

[2017-03-13 07:55] bassjacob commented on #4092
Hi @elektrobober,

when you updated your node version, did you rebuild your native modules by running `npm rebuild` inside your repository folder?

[2017-03-13 08:01] elektrobober commented on #4092
Hi @bassjacob, no, I didn't.
But I try to start the new project from scratch  with yeoman, just like in getting started tutorial at http://keystonejs.com/ and face the same issue.

[2017-03-13 08:03] elektrobober commented on #4092
And now I try to do `npm rebuild` with node 7.6.0 -  and where is same issue

[2017-03-13 10:18] marvinworks commented on #3759
Hey guys, it seems like keystone wants to have a valid mandrill api access, when using the precoded keystone contactform.
If no mandrill access is set up, keystone crashes by trying to send an email notification.

If "fixed" that issue by deleting the following lines (the commented lines are the lines I deleted) in the `Enquiry.js` :

[code]

Now i try to figure out an easy way for sending a notif

[2017-03-13 21:10] wosevision opened #4093 "Setting EJS template delimiter affects admin render"
### Steps to reproduce the behavior
Use a custom delimiter (`ejs.delimiter = '$';`) to produce EJS templates (using the `'custom engine'` config option).

### Expected behavior
Delimiter is respected in view templates.

### Actual behavior
Delimiter is overrespected (humbly bowed-down-to) by every EJS template in the realm, including admin UI (such as the signin page).

---------------

It seems l

[2017-03-13 23:43] giusepperj commented on #4055
+1

[2017-03-14 00:34] molomby commented on #1597
From memory, Mongoose would fail when attempting to add the `unique` index if there were duplicate values (which is understandable). The real problems were:

* Mongoose would then fail to create any subsequent indexes on that collection
* Keystone would fail to report the error; it just stops silently in the background

Current versions of Keystone have listeners for the appropriate Mongoose error

[2017-03-14 08:57] gzhappysky commented on #3412
Happy birthday....ha ha

[2017-03-14 13:12] sfqpublic commented on #3953
I have the same issue,using keystonejs 0.4 beta5,adding 'wysiwyg cloudinary images':true yields  Failed to load: http://localhost:3000/keystone/js/lib/tinymce/plugins/uploadimage/plugin.min.js in the console resulting in the TinyMCE-area not being rendered.
The project use yo generator-keystone ,merely unchanged except some pug templates

[2017-03-14 14:37] koenoe opened #4099 "Cloudinary select"
I'm using `4.0.0-beta.5` on `Node 6.10.0`.

### Steps to reproduce the behavior
Create a new Keystone List and add an CloudinaryImage field, with the select option. Set `cloudinary folders` to true and make sure auto-create folders is enabled in Cloudinary upload settings.

Example:
[code]

### Expected behavior
When I upload an image via the Admin UI, I expect the uploaded image to appear in Clou

[2017-03-14 22:47] PaulMoor opened #4103 "Models Relationships & Views"
Dear friends, I'm new to the keystone, so sorry for a question.

I have 2 Models: User & Studies.

**User model (User.js)**

`var keystone = require('keystone');
var Types = keystone.Field.Types;

/**
 * User Model
 * ==========
 */
var User = new keystone.List('User');

User.add({
	name: { type: Types.Name, required: true, index: true },
	email: { type: Types.Email, initial: true, required: true,

[2017-03-15 04:01] jjhesk commented on #3979
@bassjacob @JedWatson @jossmac @webteckie @mxstbr @bladey anyone can take a look of this issue? this seems to be an urgent issue. many thanks.

[2017-03-15 11:57] kadosh1000 opened #4106 "Generic Array Type"
@JedWatson @mxstbr
I think it would be great to have a generic Array type.
So in case I want the user to be able to insert multiple email addresses I would be able to just do something like :

`emails : {type: Types.Array, subType : Types.Email}`

In the db it will be shown the following way:

`email : [
 "email1", "email2"
]`

I think this would be great to have that feature that will allow us to

[2017-03-15 12:46] peterpme commented on #4106
Hey @kadosh1000 open up a PR and make it happen! 😄

[2017-03-15 12:47] DmitryKvant commented on #1870
You can't fix it for two years already ?! And how should I be?

[2017-03-15 13:19] #4106 closed

[2017-03-15 13:20] Noviny commented on #3604
#4102 fixes and incorporates this.

Thanks for your feedback!

[2017-03-15 13:21] #3604 closed

[2017-03-15 13:23] Noviny commented on #3993
Hi @lazaridis-com, we're redoing the documentation on #4102 at the moment. Once this lands, these issues should be resolved, as well as giving us a new keystone website with more complete documentation.

I'm closing this as an issue, but if you want to look at the changes in that PR, we'd love the feedback.

[2017-03-15 13:27] Noviny commented on #3879
Hi @justingosan and @keyfun, I've been unable to replicate this in beta-5, and am closing this as an issue, however as I did not experience it in older versions of 4, if you have information on what version it's failing on I'm happy to dig in to it.

[2017-03-15 13:27] #3879 closed

[2017-03-15 13:31] Noviny commented on #3877
@useralive003 I'm closing this from being a keystone issue, as I suspect as @gfrancischelli and @christroutner suggested this is likely a routing issue, not a keystone issue.

If you are still experiencing problems feel free to reach out to em though.

[2017-03-15 13:31] #3877 closed

[2017-03-15 13:45] Noviny commented on #4103
Hi, thanks for stopping by!

We'd rather questions like this get asked on stack overflow rather than on the repo issues, so we can keep this nice and clean for keystone bugs/enhancements.

While you're here though, `createdBy` should be an object of all properties of the user, provided as a special mongo object. What you are looking for is likely on `study.createdBy.name`.

For debugging something

[2017-03-15 14:11] anujmv commented on #3759
Works like a charm. However, I would like to use email feature.
Please suggest how this can be done. I think keystone should remove mandrill support and use an open source alternative.
Thanks again.

[2017-03-15 14:20] Noviny commented on #3759
If I understand correctly, this is an issue with the [the generator](https://github.com/keystonejs/generator-keystone) rather than keystone itself, so I'm going to close this here.

[2017-03-15 14:20] #3759 closed

[2017-03-15 15:03] Noviny commented on #3567
For S3, we recommend using the [File](https://github.com/keystonejs/keystone/tree/master/fields/types/file) type, along with our [s3-storage-adapter](https://github.com/keystonejs/keystone-storage-adapter-s3).

There isn't currently a way to create a single field that accepts multiple files yet, however I believe #3776 should resolve that concern once it lands.

Until then, a model for holding the

[2017-03-15 15:03] #3567 closed

[2017-03-15 15:05] alexbryukhanova opened #4108 "How to copy/clone existing record in Admin UI?"
Is there a way to copy an existing record in Admin UI? Or do I have to implement this myself somehow? If so, how would I expose this functionality in Admin UI?

[2017-03-15 15:24] Noviny commented on #4108
Hi @alexbryukhanova,

We're trying to keep the issue tracker clean for keystone bugs or intended enhancements, and keep implementation questions out towards stack overflow.

While you're here though, there's currently no way to duplicate an item in the admin UI. This is currently something you'd need to implement yourself.

[2017-03-15 15:24] #4108 closed

[2017-03-15 16:13] fiksani opened #4109 "[hncvxe"

[2017-03-15 16:14] #4109 closed

[2017-03-15 17:54] lazaridis-com commented on #3993
As a general rule, you should not close issues that quick. And of course you should not close issues, until the issue at hand is **solved**.

Far too much change in one chunk (and I'm currently over the Meteor tutorials).

(can you please for now reopen this issue, as I'm loosing track?)

[2017-03-15 17:54] lazaridis-com commented on #3993
@Noviny

[2017-03-15 18:07] lazaridis-com commented on #3993
@Noviny

As a general rule, you should not close issues that quick. And of course you should not close issues, until the issue at hand is **solved**.

Far too much change in one chunk (and I'm currently over the Meteor tutorials, see meteor/meteor/issues/8368).

(can you please for now reopen this issue, as I'm loosing track?)

[2017-03-15 18:42] lazaridis-com commented on #3993
See the Meteor Project for a good `Development.md` example: meteor/meteor/pull/8267

[2017-03-15 19:56] suqian1988 opened #4110 "many relationship unwanted overwritten"
### Steps to reproduce the behavior
I have a many relationship in the model, say categories, after I update it with some value, if I update some other fields, say, title, after update title, the categories field is overwritten to empty.
### Expected behavior
don't update the many relationship field.
### Actual behavior
I have a many relationship in the model, say categories, after I update it with

[2017-03-16 01:32] Noviny commented on #4110
This sounds like a symptom of #4030, which we have merged a fix for, and will be solved in the next keystone version.

Does that sound right, or is there something else I should be considering?

[2017-03-16 04:30] export-mike commented on #2382
I'm now closing this issue.

As it's no longer reproducible and no longer a problem. From having internal communication at thinkmill with some of the guys here its likely this has been fixed with some rework on the redux state, thats been corrected since the issue opened.

[2017-03-16 04:31] #2382 closed

[2017-03-16 05:10] intmainvoid commented on #1702
I’ve done some testing around this and discovered the following issues:

1/ If using a field with type “Date” (ie. Types.Date) in the model without the UTC option turned on AND the keystone users are in different timezone(s) to where the server is running, dates may be recorded inaccurately. Specifically, when the user clicks on the save button for a form that contains a date, the date saved (and

[2017-03-16 05:45] intmainvoid commented on #4082
@christroutner - Was/Is your client in a separate timezone to your server when you tried this?

What happens if you turn the utc option on on your reportGenerated field? (ie. change

[code]
to
[code]

I've been working on a fix to a couple of related problems (See PR: https://github.com/keystonejs/keystone/issues/4112). Maybe it will fix your issue also?

[2017-03-16 06:28] Noviny commented on #3993
Hey,

Sorry, you're right that this shouldn't have been closed yet.

I'm going to come back to this once the new documentation site has landed, as we're revamping the entire documentation landscape. The issue raised her should be addressed by that.

Thanks for the link to how meteor is doing it, always good to have things to compare to.

[2017-03-16 09:45] lazaridis-com commented on #3993
@Noviny , here another reference to Meteor, this time "how to not do things": #8492

I tried to help with fixing some issues/PRs there - but its a hell of effort, due to very bad (or non-existent) processes.

As for you documentation:

You should fix 2 things with priority:

* The new user intro (a quick-start which brings e.g. a blog live in 15 min.)
* The new developer intro (a quick-start of ho

[2017-03-16 09:49] lazaridis-com commented on #3993
@Noviny , here another reference to Meteor, this time "how to not do things": meteor/meteor#8492

I tried to help with fixing some issues/PRs there - but its a hell of effort, due to very bad (or non-existent) processes, and due to a near-abandoned status of the tutorial project.

As for you documentation:

You should fix 2 things with priority:

* The new user intro (a quick-start which brings e.

[2017-03-16 11:39] madhavinath commented on #4041
hi..
i need navigating pages in  post login.any help?

[2017-03-16 14:21] suqian1988 commented on #4110
yes, same issue.

when will the new release out? is the fix in github already? May I take a look the code?

thank you so much.

sq

[2017-03-16 18:31] christroutner commented on #3170
I added a second and third test script to the keystone-textarray-test repo that build on top of the first and add complexity.

I still have not been able to reproduce the bug with the test script, but I did experience it again on a totally separate piece of software from the first. Pretty frustrating!

What I've taken away from my test scripts lack of ability to reproduce the bug is that I need to

[2017-03-16 22:30] marvinworks commented on #3759
@anujmv i build a something myself using the node package "nodemailer".This can send a mail via smtp using any mailbox. I hope I didn't forget anything.

## Enquiry.js
[code]

[2017-03-17 01:09] pettyron commented on #4092
You're running into the vast difference between the 6.9.x LTS (Long Term Support) and the 7.x Stable release. If you look at your console after running npm install you should see warnings about the modules that will not work with 7.x (Things like UUID and Graceful-fs come to mind of the top of my head). If you install with 6.9.x you should see warnings about what is eventually going to get booted

[2017-03-17 01:58] Noviny commented on #4110
It's fixed on the master branch, you can see the fix we implemented [here](https://github.com/keystonejs/keystone/pull/4035/files).

Can't speculate on when the next release will go out, but I'm going to give a tentative soon.

Closing this as an issue.

[2017-03-17 01:58] #4110 closed

[2017-03-17 03:15] Noviny commented on #3875
Hi @CAYdenberg, @newmanw, not a Jed, but wanted to get back to you.

The intended behaviour is that you can provide an express app as documented, and this will then have the keystone parts added after your own routing.

Unfortunately, that seems to have been lost somewhere along the way, and the check to make sure there is not already an app running is stopping the keystone features from being add

[2017-03-17 14:50] turbopope opened #4115 "Study: Islands of Knowledge"
As part of my Master's Thesis on programming expertise distribution in open source software, I analyzed the repositories of some popular NPM packages for so-called Islands of Knowledge.

Islands of Knowledge are a metric for the [Bus Factor](https://en.wikipedia.org/wiki/Bus_factor) of a project (which states how many developers can get hit by a bus before the project is incapacitated). An Island

[2017-03-17 16:28] anujmv commented on #3759
@marvinworks Thank you for your help.
However i found another solution too, using mailgun and keystone-email.

Please find the update Enquiry.js

[code]

[2017-03-17 17:38] jstockwin commented on #4115
@turbopope Sounds like a really cool and interesting project!

`keystone-nightwatch-e2e` (KNE) is currently used to automatically test keystone for continuous integration purposes. It is something myself and webteckie (who is also in your list) have split off from the main keystone repo so that it can also be used by any other apps using keystone to test those apps.

It is therefore correct that K

[2017-03-17 20:32] peterpme opened #4116 "4.0.0-beta5 Randomly Stops Responding to Requests (Node 6.9.2 / Ubuntu 14 / node keystone.js)"
### Steps to reproduce the behavior
Random, still trying to figure it out.

Node version: 6.9.2

### Expected behavior

Requests that responds
[code]

### Actual behavior

[code]

Thanks!

[2017-03-17 20:42] peterpme commented on #4092
:wave:

Node 7.7.2 and Keystone 4.0.0-beta.5 work well together :)

FWIW @pettyron I checked that list against Keystone's source code and didn't see anything crazy :smile:

[2017-03-18 05:23] Noviny commented on #3993
@lazaridis-com We pretty much agreed with you on those two topics. The three things we are focusing on is a quick-start guide using the generator, a setting up guide for not using the generator, and making our method documentation more complete so there are fewer 'hidden' features.

[2017-03-18 06:18] lazaridis-com commented on #3993
very nice, but you should not await until this mega-issue (#4102) is processed. You can shrink the README now (I filed this issue over a month ago). Things must flow... flow... flow...

[2017-03-18 10:45] marvinworks commented on #3759
@anujmv oh thats fine, maybe ill gonna check out mailgun! Seems like mandrill doesn't offer a free plan anymore, but mailgun does - thats cool! :)

[2017-03-18 19:48] CAYdenberg commented on #3875
From a user standpoint, the interface I'd want is to be able to include Keystone routes and use Keystone models anywhere in my code. What I really want then is to include Keystone as Express middleware.

[2017-03-18 22:03] forsetius commented on #1609
Where can I find some documentation on how to use this `keystone.set('admin ui styling')` option? Some example perhaps?

[2017-03-19 10:25] jstockwin commented on #4116
I experienced an issue related to [this](https://github.com/Automattic/mongoose/issues/2603#issuecomment-278280963) when using keystone with a mongo replica set. Whenever the replicaset held an election, something wen't wrong and caused exactly this behaviour to happen.

That said, the issue only affected mongoose 4.6-4.7.2, and beta5 uses 4.7.8, so it should be fixed in beta5 (and  indeed, I've n

[2017-03-19 12:36] ghost opened #4122 "4.0.0-beta5 admin not rendering on Ubuntu server"
Please not: This was not using Yeoman build.
Following the instructions and using the demo version of the keystone beta I got it working fine on my local server but  could not get the React admin panel app to load on an Ubuntu server. The login  showed but once logged in successfully there was no admin panel visible. I inspected the html to see the main React component element wrapper tags were th

[2017-03-20 02:18] JedWatson commented on #1870
Turns out this was a configuration issue in the generator - not sure what happened to the fix that was originally applied but thanks to @biphobe for picking it up and submitting the PR!

[2017-03-20 02:32] JedWatson opened #4126 "Deprecate List.prototype.paginate"
Basically, this is too opinionated and fragile for us to continue supporting.

It used to work well with mongoose 3 and callback patterns but with promises now more popular thanks to async/await, and issues where the `find()` and `count()` queries may get out of sync with `.where()` / etc chaining, I think the best option is to deprecate the whole thing and let users deal with it however is most a

[2017-03-20 04:57] bassjacob commented on #4126
How would you feel about a plugin architecture, to support something like:

[code]

[2017-03-21 06:41] JedWatson commented on #4126
@bassjacob I think that's a good idea - this would be better in userland, even if it's a package we vendor to replace this when we deprecate it. Not sure about `include` as the API but we can bikeshed that separately.

[2017-03-21 09:23] htor commented on #3838
@bassjacob
I don't know know much about developing open source projects like this, but would it be an idea to freeze new feature requests and instead focus on writing docs and stabilising v4 for production? Are there any roadmaps at the moment for what is going into v4 and what is not?

Looks like v4 is sort of done, but there is too much noise around small features.

[2017-03-21 19:07] abale opened #4129 "4.0.0-beta5 - related field only showing objectId in admin"
### Steps to reproduce the behavior

1) install 4.0.0-beta5
2) use two models:

models/OfferCategories.js
[code]
models/Offer.js

[code]

### Expected behavior

Type-ahead multi-select in admin for Offer should show the name of the category

### Actual behavior

Type-ahead multi-select in admin for Offer shows the objectId of the category.

![image](https://cloud.githubusercontent.com/assets/12463

[2017-03-21 19:22] abale commented on #4129
My mistake, needed to map the field on the OfferCategory model, ie:

[code]

[2017-03-22 00:07] export-mike commented on #4115
@turbopope interesting this is against ToS what does it violate?

[2017-03-22 00:25] turbopope commented on #4115
I contacted support because I got flagged for the offense (they have un-fagged me now that I closed the issues). I was told:

I assume this refers to <https://help.github.com/articles/github-terms-of-service/#i-advertising-on-github>, where it says:

So even though I think that whether my survey qualifies as spam is debatable, it's their decision :-/

[2017-03-22 01:55] thejameskyle commented on #4092
@elektrobober what version of keystone are you using?

[2017-03-22 02:07] thejameskyle commented on #4093
- Looks like there are two places where ejs is used in keystone:
  - [admin/server/routes/signin.js](https://github.com/keystonejs/keystone/blob/547dd5fa1b014f5846e9b06e87304066a78aa683/admin/server/routes/signin.js#L22)
  - [admin/server/routes/index.js](https://github.com/keystonejs/keystone/blob/c4789388ef09d09f39585f68b2a6fc898b7da040/admin/server/routes/index.js#L90)
- EJS [allows you to pass

[2017-03-22 02:15] thejameskyle commented on #4129
@abale Can this be closed then?

[2017-03-22 02:19] thejameskyle commented on #4116
@peterpme is there any more information you can add?

[2017-03-22 02:27] thejameskyle commented on #4082
Does #4112 fix this issue?

[2017-03-22 02:31] thejameskyle commented on #4079
Should this be a milestone/project instead?

[2017-03-22 02:42] thejameskyle commented on #4064
For the following code:

[code]

`Type.File` is a constructor [which gets constructed with the options here](https://github.com/keystonejs/keystone/blob/38d769df75ae42bba75b4e46b1b64921b6939d02/lib/list/field.js#L45).

The logic for FileType [exists in this file](https://github.com/keystonejs/keystone/blob/38d769df75ae42bba75b4e46b1b64921b6939d02/fields/types/file/FileType.js), you can see some [l

[2017-03-22 02:42] Noviny commented on #4079
Yes.

[2017-03-22 02:43] thejameskyle commented on #4070
I left a [comment over in the other issue](https://github.com/keystonejs/keystone/issues/4064#issuecomment-288281882) that might be able to help you debug what is happening in keystone.

[2017-03-22 02:51] thejameskyle commented on #4079
Closing in favor of https://github.com/keystonejs/keystone/milestone/8

[2017-03-22 02:51] #4079 closed

[2017-03-22 02:54] thejameskyle commented on #4056
Moving to #4078

[2017-03-22 02:54] #4056 closed

[2017-03-22 02:58] thejameskyle commented on #4053
If it's rendering somewhere that is paginated the [default pagination is 50](https://github.com/keystonejs/keystone/blob/c4789388ef09d09f39585f68b2a6fc898b7da040/lib/list/paginate.js#L30)

[2017-03-22 03:00] Noviny commented on #4056
After talking it through, we've decided to deprecate pagination. Docs have been updated on how to use it without creating this error, closing this in favour of #4126

[2017-03-22 03:05] thejameskyle commented on #4041
@duythang I assume you mean you want to preprocess the json response before it reaches the client. Are you not able to do that on the client in JS?

[2017-03-22 03:51] thejameskyle commented on #3838
v4 has a small number of remaining blockers. We want to make sure we don't make regressions from v3. At the same time documentation remains a focus. We'll be making a push to release as soon as we can.

I'm going to close this because there are specific issues for things that need to get done for v4 (which I'm continuing to organize a bit more).

[2017-03-22 03:51] #3838 closed

[2017-03-22 04:02] thejameskyle commented on #3981
Moving to #3985

[2017-03-22 04:02] #3981 closed

[2017-03-22 04:04] thejameskyle commented on #3979
Can people provide more information about the versions of keystone and npm/yarn they are using to reproduce this?

[2017-03-22 04:11] thejameskyle commented on #3974
Waiting on #844, we can also pin to this commit https://github.com/chjj/marked/commit/cd2f6f5b7091154c5526e79b5f3bfb4d15995a51. I [pinged](https://twitter.com/thejameskyle/status/844400780971036673) the author of marked to see if he could publish a new version

[2017-03-22 04:13] export-mike commented on #2898
This issue no longer seems to be an issue with tests I'm currently adding to keystone with nightmare. Its likely this has been fixed with the significant amount of refactoring on the admin panel since this issue was made. https://github.com/keystonejs/keystone/commit/3847222c7133642eaf47861edd0295d3e99bb18f

[2017-03-22 04:13] #2898 closed

[2017-03-22 04:27] export-mike commented on #2940
Tests updated in the nightmare testing branch: https://github.com/keystonejs/keystone/commit/8bd457b25eae2e85503e793e3ae696e41b587318#diff-4dba9b0fc99b66b3ee6eb30ea2c37f60

[2017-03-22 04:30] thejameskyle commented on #3951
The admin ui is generated with browserify when keystone starts. Can't remove it altogether

[2017-03-22 04:32] thejameskyle commented on #3951
I'm not sure if there's any fix here for keystone. Seems like something that needs to be resolved with esprima-fb.

I guess I'm just gonna close this 🤷‍♀️

[2017-03-22 04:32] #3951 closed

[2017-03-22 04:36] thejameskyle commented on #3934
There isn't much action to take here. v4 should be out soon which will have updated dependencies

[2017-03-22 04:36] #3934 closed

[2017-03-22 04:40] thejameskyle commented on #3925
If all that needs to happen is a mongoose update we should do that. Anyone want to open a PR?

[2017-03-22 06:13] export-mike commented on #2941
This issue is no longer an issue therefore I am closing.
I've been adding tests using nightmare e2e framework and can see its no longer an issue
https://github.com/keystonejs/keystone/commit/73d144ebe825f761e5afdd2e5b91ab95bd01408c

[2017-03-22 06:13] #2941 closed

[2017-03-22 06:14] export-mike commented on #2945
Tests added in the nightmare branch for any regressions. https://github.com/keystonejs/keystone/commit/73d144ebe825f761e5afdd2e5b91ab95bd01408c

[2017-03-22 06:14] export-mike commented on #3028
working as expected with new e2e tests also: https://github.com/keystonejs/keystone/commit/73d144ebe825f761e5afdd2e5b91ab95bd01408c

[2017-03-22 06:32] export-mike commented on #3126
This is no longer an issue in keystone 4.0.0-beta.5, I've added tests to a branch proving this is no longer an issue. https://github.com/keystonejs/keystone/tree/feature/nightmare

Closing, please reopen if the issue reappears

[2017-03-22 06:32] #3126 closed

[2017-03-22 06:47] thejameskyle commented on #4092
@elektrobober Just run this in your repo:

[code]

[2017-03-22 07:03] export-mike commented on #3068
This is no longer an issue on the current master branch, I have tests for it in the current nightmare testing branch,

please reopen this issue if it reappears

[2017-03-22 07:03] #3068 closed

[2017-03-22 08:29] elektrobober commented on #4092
@thejameskyle it's "version": "0.3.22"

[2017-03-22 09:30] BillGR17 commented on #4053
yep thats it! thnx

[2017-03-22 09:30] #4053 closed

[2017-03-22 13:15] akashkuber-tudip opened #4133 "I am not able to upload multiple images"
Hello,
I have implemented the photo gallery but when I tried to upload multiple images it only uploads one image at a time.
Also the same issue  at your end in sample demo http://demo.keystonejs.com/keystone/galleries

[2017-03-22 14:41] zhdan88vadim commented on #4133
Hello, I have same issue

https://github.com/keystonejs/keystone/issues/3803

[2017-03-22 15:07] peterpme commented on #4116
@thejameskyle thanks for your response!

Unfortunately this will happen randomly and I haven't been able to narrow down reproduction steps.

I was going to see if upgrading the mongoose module to the latest version would help

Thanks again

[2017-03-22 18:57] abale commented on #4129
Yeah, can be closed.

A

[2017-03-22 18:57] #4129 closed

[2017-03-22 19:08] thejameskyle commented on #4092
We're pushing ahead with 4.0 right now which _should_ have support for the latest versions of Node (we need to add Node 7 to our testing matrix).

There are any plans right now to continue supporting Keystone 3 for changes like this. So I'm going to close this issue, but if you would like to work on updating v3 to have Node 7 support yourself I'd be happy to speak to you about it.

[2017-03-22 19:08] #4092 closed

[2017-03-22 20:13] thejameskyle commented on #4133
Hmm, I'm able to upload multiple images at a time. Is there more information that could provide. Maybe it has something to do with the file picker in the operating system you're using?

<img width="999" alt="screen shot 2017-03-22 at 12 49 02 pm" src="https://cloud.githubusercontent.com/assets/952783/24217712/02d4b80c-0efe-11e7-9daa-dfb6fc428126.png">

<img width="907" alt="screen shot 2017-03-22

[2017-03-22 20:15] thejameskyle commented on #3889
Which version of Keystone are you running?

[2017-03-22 20:20] thejameskyle commented on #3889
Never mind, confirmed it's still an issue in the latest keystone

[2017-03-22 22:28] thejameskyle commented on #3889
Moving to #4136

[2017-03-22 22:28] #3889 closed

[2017-03-23 07:21] hoanguyen311 commented on #2412
I still can't use underscore methods for cloudinary images
trying

`                 product.images.forEach(function(img) {
                     console.log(img.tag());
                 });`

[2017-03-23 10:43] creynders commented on #4092
I'm running keystone 0.3.22 with Node 7.7.1 (as installed with `n`) without any problems. Have you tried running `node keystone.js` directly, i.e. bypassing gulp @elektrobober ?

[2017-03-24 10:41] ghuroo commented on #3838
If it helps, I am using v4 beta5 in all my production projects, and so far it seems stable enough :)
Ofc there are many features missing, so I have a few workarounds, but it still does the job perfectly 👍

[2017-03-24 14:12] samloomes commented on #3578
Can we please get this changed? It's such a small thing and then the cms works perfectly on mobile Safari

[2017-03-24 14:37] wosevision commented on #2724
Hey @mxstbr, I seem to be having this same issue in 4.0.0-beta.5 – specifically, the thumbnail images that get rendered into list view columns for Cloudinary image previews don't honor the `keystone.set('cloudinary secure', true);` option, which I only noticed after putting a CS policy in place.

Despite having *.cloudinary.com allowed through, the images are being blocked because they're being se

[2017-03-24 19:24] thejameskyle commented on #3578
If you want to fix this you should be able to find all the code you need in https://github.com/keystonejs/keystone/blob/38d769df75ae42bba75b4e46b1b64921b6939d02/admin/client/App/screens/List/components/ListHeaderToolbar.js

[2017-03-24 19:51] thejameskyle commented on #3473
Closing based on @AurelioDeRosa's comment. If anyone runs into it in the future, please let us know

[2017-03-24 19:51] #3473 closed

[2017-03-24 20:09] thejameskyle commented on #3892
If it looks fixed in the repo, it's probably because it's fixed in 4.0.

We're not planning on back-porting changes in v4 to v3, so I'm going to close this

[2017-03-24 20:09] #3892 closed

[2017-03-24 20:17] thejameskyle commented on #3908
Moving to #4140

[2017-03-24 20:17] #3908 closed

[2017-03-24 20:19] thejameskyle commented on #3844
Closing since this has sat for awhile without reproduction.

[2017-03-24 20:19] #3844 closed

[2017-03-24 21:52] whnunlife commented on #4056
@Noviny Dumb question, but where can I find the docs on the latest alpha release, where this has been updated?

And just to confirm, moving forward, there will be no pagination support to use correct?

[2017-03-25 01:04] thejameskyle commented on #3804
Looking at this code briefly, it looks like this should be working (at least now): https://github.com/keystonejs/keystone/blob/master/admin/client/App/elemental/FormInput/index.js#L36

Can someone reproduce this?

[2017-03-26 21:14] r1cebank commented on #3434
Remove without a replacement, kinda like how Trump handles ACA.

Is there a way to bring this function back? its quite crucial.

[2017-03-26 21:23] r1cebank commented on #4055
+1

[2017-03-26 22:30] Noviny commented on #4056
We have a [beta documentation site](http://censor-conventions-37504.netlify.com/methods/paginate) that we are working on alongside our beta release. Subject to change, but that's the paginate documentation.

Keystone 4 will have pagination as documented there.

[2017-03-26 23:43] whnunlife commented on #4056
Perfect, thanks!

On Mar 26, 2017 4:57 PM, "Ben Conolly" <notifications@github.com> wrote:

[2017-03-28 11:07] matthewlynch commented on #4093
I'd like to pick this up as a good first PR tonight if no one else is looking at it already 🙂?

[2017-03-28 16:40] cwbuecheler opened #4152 "Markdown Code causes spacing problems"
### Expected behavior

When entering code in Markdown, the resulting HTML should reflect the spacing provided by the user. eg:

&#96;&#96;&#96;
line
&nbsp;&nbsp;indented line
line
&#96;&#96;&#96;

should produce:

&lt;pre&gt;&lt;code&gt;
line
&nbsp;&nbsp;indented line
line
&lt;/code&gt;&lt;/pre&gt;

### Actual/Current behavior

&#96;&#96;&#96;
line
&nbsp;&nbsp;indented line
line
&#96;&#96;&#96;

P

[2017-03-28 20:57] wosevision commented on #4093
@matthewlynch Fine by me if you want dibs! I haven't had a lick of time the past week.

[2017-03-29 01:51] Noviny commented on #3324
This is fixed in keystone 4. Closing this as an issue as we are not going to be back-porting it to keystone 3.

[2017-03-29 01:51] #3324 closed

[2017-03-29 02:14] Noviny commented on #3296
To keep track #4102 fixes this now. Thanks a lot to @KyleAMathews for setting up gatsby for us and making this possible.

[2017-03-29 02:17] Noviny commented on #3228
As of current master, these fields return an error if you attempt to include them, preventing keystone from starting.

Since these are effectively deprecated (if not yet removed), I am closing this issue.

[2017-03-29 02:17] #3228 closed

[2017-03-29 02:43] #4093 closed

[2017-03-29 03:05] Noviny commented on #3124
On 4.0.0beta5, it displays as a plain input, but click on it, and the datepicker appears.

Not sure if this counts as being solved, or if it should be left open and the implementation made clearer.

[2017-03-29 03:26] Noviny commented on #2949
Closing this issue, as it shouldn't be affecting keystone 4. Still interested in what was causing it if it affecting older version.

[2017-03-29 03:26] #2949 closed

[2017-03-29 03:29] Noviny commented on #2888
Do we know what the status of all these are?

[2017-03-29 03:36] Noviny commented on #1702
Closing this as resolved, as #4112 has been merged. This will be fixed in keystone versions after v4.0.0-beta5

[2017-03-29 03:36] #1702 closed

[2017-03-29 03:37] Noviny commented on #1656
Going to close this as incidentally solved by #4112. If this isn't the case, let me know.

[2017-03-29 03:37] #1656 closed

[2017-03-29 04:04] Noviny commented on #2164
Going to close this as solved by #2197. Happy to reopen if it's not.

[2017-03-29 04:04] #2164 closed

[2017-03-29 04:15] Noviny commented on #3463
I haven't been able to reproduce this. Any more details?

[2017-03-29 04:20] Noviny commented on #3425
Had a question on this. Technically you can continue to modify the object after it has been registered. What are the other consequences of moving the index to after register, beyond creating weird patterns.

[2017-03-29 04:29] Noviny commented on #3199
This looks like an issue with the generator not coming with all the packages, more than keystone itself.

The generator was recently updated, and this should be solved now, but let me know if you encounter this issue.

[2017-03-29 04:29] #3199 closed

[2017-03-29 05:19] Noviny commented on #2561
Just tested this using the example provided by autoboxer, and it is currently working (beta 5). @adrien-k, can you provide any extra information?

[2017-03-29 05:54] Noviny commented on #2980
Just verified this as a bug for items that have a relationship of `required: true` in update scripts. Don't have an immediate solution, but looking in to how we can solve this.

Just want to clarify that the `PostCategory.relationship` won't work as intended int eh above code sample, but that is not the issue. Below is the intended implementation.

[code]

[2017-03-29 06:05] Noviny commented on #2980
The root cause is likely to be non-trivial to solve, so for anyone needing to press forward, a possible workaround is to have two update scripts, the first of which adds items to be depended upon, the second as a function that retrieves the items by their reference, before saving the new items.

[2017-03-29 06:15] Noviny commented on #3696
Hi @xenuric, just looking to reproduce this and wasn't able to, but don't know if I followed the instructions right. Do you have example models so I can run through this in a place you are encountering this error?

[2017-03-29 06:18] Noviny commented on #3695
@xenurec Using the demo site (now on beta 5), I did not encounter this error. I'm going to close this as an issue, but if you are still experiencing this, let me know.

[2017-03-29 06:18] #3695 closed

[2017-03-29 06:29] Noviny commented on #3482
Just checked this on the demo site for a user with an image, and this appears to have been incidentally fixed along the line. Closing this as an issue.

Link to demo user I looked at:

[2017-03-29 06:43] jjhesk commented on #3979
@thejameskyle ok, here is the info of the versions
[code]

[2017-03-29 06:43] Noviny commented on #1139
Just checked this and it appears to be solved. Feel free to reopen if you experience this.

[2017-03-29 06:43] #1139 closed

[2017-03-29 08:36] adrien-k commented on #2561
@Noviny I'll try again with beta 5 and provide an example if I isolate the error.

[2017-03-29 09:17] adrien-k commented on #2561
@Noviny I'm still having the issue with keystone@4.0.0-beta.5, here is an isolated test case :
[code]

[2017-03-29 12:39] mhoffmeyerDC commented on #4004
I had the same issue with keystone-storage-adapter-s3.

@GwonHyeok had a [bugfix](https://github.com/GwonHyeok/keystone-storage-adapter-s3/commit/9db761ae0d138d02b7b7c59fa7e59f761f5b95e8).

I forked and updated the [README](https://github.com/mhoffmeyerDC/keystone-storage-adapter-s3) with the new option.

[2017-03-29 15:50] xenurec commented on #3695
Yes, it seems to be fixed somehow. Thanks for looking into it.

[2017-03-29 16:03] xenurec commented on #3696
It's very strange, sorry for my complicated instructions. But I think this bug still exists. Now a little bit different instuction to reproduce:

1. Open Comments list (http://demo.keystonejs.com/keystone/post-comments)
2. Click on one of the referenced Authors (so you get to the User detail page)
3. Use back button of your browser, so you're now back at Comments list
4. Repeat 2. and 3.!
5. Repea

[2017-03-30 04:42] soleverlee opened #4158 "Strange behavior in creating page where there is a TextArray field"
### Expected behavior

### Actual/Current behavior

### Steps to reproduce the actual/current behavior

1. create a model like this:
[code]
2.visit admin ui and open create page(ie. [http://localhost:3000/keystone/tests]), click 'Create Test'
3.Then click 'Cancel' button but the popup window does not close.And all other fields seems to be disabled until you add some tags.
4.If some tags are added

[2017-03-30 05:17] Jugalkish opened #4159 "Keystone Js: How to remove Manage button from Model page."
I want to remove Manage button from one of my model.As i do not want to allow multiple delete option for user.Please suggest the solution

[2017-03-30 07:03] creynders opened #4160 "Exporting mongoose schemas"
### description

I really need some way to export the mongoose schemas as generated by the fields in Keystone.
This is useful for a few reasons:

1. my specific use case: I've got some complex data migrations going on (i.e. schema changes for existing documents) and there's a lot of options to do this, _if_ you have the mongoose schemas.
1. export implies import: as a future path it might be inter

[2017-03-30 07:22] creynders commented on #4160
Another solutions, probably even easier:
4. use the `schema.paths` property to export a schema in memory

[2017-03-30 10:47] simonwidjaja opened #4161 "Type.File with local file storage not working (4.0.0-beta.5)"
A basic file upload to local file system w/ Type.File should work with 4.x-beta.5 or is that assumption wrong?

I need this field type but it is throwing an error in the browser's console when opening the backoffice (/keystone/affectedModelType).

The model type "Type.File" seems not be available at all (see following debug output).

<img width="682" alt="screen shot 2017-03-30 at 12 18 29" src="h

[2017-03-30 13:50] peterpme commented on #3752
I've been getting this error in console: (4.0.0-beta.5)
[code]

[2017-03-30 14:10] creynders commented on #4082
@thejameskyle I don't think so, since it only fixes the Date field, not DateTime fields. TBH I think these kinds of bugs keep on popping up until the fields are re-written properly from scratch.

[2017-03-31 05:02] gwl002 opened #4163 "CloudinaryImages field type too many problems,"
when I choose two or more images in the page and click the save button!
when delete the images!

### Expected behavior

All images save!
Delete the images in cloudinary server and data for the images in the database.

### Actual/Current behavior

It just upload and save the last image.
It just delete the data in database.

### Steps to reproduce the actual/current behavior

### Environment

| Soft

[2017-03-31 05:15] Jugalkish commented on #4159
I am able to remove Manage button from all module by making code changes in ListManagement.js but i don't able to find solution to remove for one and kept for others.I don't want to use nodelete function.I just want remove multiple delete and multiple edit from one module.

[2017-03-31 05:17] Jugalkish opened #4165 "I am not able to upload file with space.Is there any solution for this in keystone?"

[2017-03-31 15:21] cwbuecheler commented on #4152
Pretty sure the issue is here:

https://github.com/keystonejs/keystone/blob/v0.3.x/admin/public/js/lib/marked/marked.js#L767

But it doesn't seem like v0.4 uses marked, so it may be fixed in newer versions.

[2017-03-31 15:31] ghuroo commented on #3752
check, happens to me too quite often.
I always need to reload the page.

[2017-03-31 19:01] erdivartanovich commented on #2225
I want to handle this please

[2017-04-01 02:08] #3993 closed

[2017-04-02 15:38] sktt commented on #4165
I am not able to repro this in keystone-test-project. Can you?

[2017-04-03 00:38] Noviny commented on #2561
@adrien-k thanks a lot for the really clear code example. Confirmed that this was not working on beta-5, however as soon as I jumped to the master branch, this passed. It looks like this has been incidentally solved somewhere. I'd recommend pinning a project to the current commit until we cut a new branch if this is blocking you.

[2017-04-03 00:38] #2561 closed

[2017-04-03 01:07] sktt commented on #4004
@mhoffmeyerDC this should already work.

see the response in the pr https://github.com/keystonejs/keystone-storage-adapter-s3/pull/5
there's also an example in there.

the generateFilename can look in two different ways
- Synchronous: `function (file, attempt) { return 'filename' }`
- Asynchronous `function (file, attempt, callback) { callback('filename')}`

[2017-04-03 05:30] callumflack commented on #3696
I'm having this same problem. Will report back with specifics later this week, when I have time.

[2017-04-03 05:58] Noviny commented on #3696
Just an update on where we are at. We've verified the issue (thanks @xenurec for the help with the steps), but haven't figured out why this occurs yet, or how to prevent it. @callumflack if you end up finding more details, that would be great.

[2017-04-03 06:29] #3482 closed

[2017-04-03 06:52] Noviny commented on #3953
Closing this in favour of #3529, as that appears to be the continuing part of this issue. Looking in to it now.

[2017-04-03 06:52] #3953 closed

[2017-04-03 11:25] Jugalkish commented on #4165
Hi Sktt, if you use default keystone setting than file will be uploaded with random file name with no space but when you code for original file name than you will see this issue. Please check and let me know if you have solution

[2017-04-03 11:48] sktt commented on #4165
Is your actual issue that `originalname` does not work ? If you want a different filename then try to pass a custom `generateFilename` to your storage adapter. For example

[code]

[2017-04-03 13:39] creynders commented on #4082
I've been struggling with this bug in v0.3.x for a day now, and can't seem to get it fixed. The problem occurs when the server's in a different time zone than the client. What it boils down to is that the code does not take into account that the time coming from the client might be a different TZ than that one on the server and only deals with the server TZ. In other words the time coming from the

[2017-04-03 16:00] Jugalkish commented on #4165
Hi Sktt, Thanks for your suggestion but I have already done that the issue i am facing when i have space in the name of file.It is showing error i think it is because of Java code which i have written for validation of that module.As java do not accept space.I am working on that to correct it.

[2017-04-04 02:45] Noviny commented on #3529
I just looked in to resolving this for master, and it looks like tinyMCE have deprecated the imageUpload plugin, and replaced it with a couple of new options. To move forward, we can't just bring back the old file, as it breaks the code. Likely going to have to reimplement this with the new plugin.

[2017-04-04 03:07] Noviny commented on #4161
Hi @simonwidjaja I just copied the model definition from your stack overflow post into a newly generated keystone project (using the keystone generator), and did not see these warnings or this error.

Is there any other config that could be messing with this?

[2017-04-04 03:19] Noviny commented on #3752
@peterpme I think the problem you are experiencing is actually the one over on #3529.

@Infonautica @ghuroo, From what I understand this problem occurs sometimes but not all the time. Can you get a case that reproduces it 100% of the time?

[Linking](https://github.com/tinymce/tinymce/issues/2319) to an issue on tinyMCE that seems relevant.

[2017-04-04 03:34] johnnyluu opened #4176 "sass files don't compile when switching from less"
### Expected behavior

I set the project up using the yo generator with less chosen as the default css preprocessor, but now we've decided to use sass instead. I replaced 'less' with 'sass' in keystone.js, and installed node-sass and node-sass-middleware, but the sass files are just not getting compiled.

### Steps to reproduce the actual/current behavior

I tried starting a new project with sass

[2017-04-04 04:01] Noviny commented on #2225
@erdivartanovich Is that volunteering to make a pull request? :D

[2017-04-04 04:40] Noviny commented on #4176
Answered on the [generator](https://github.com/keystonejs/generator-keystone/issues/250) as this was mostly a generator-related concern.

[2017-04-04 04:40] #4176 closed

[2017-04-04 04:43] Noviny commented on #3474
Closing this as the issue is resolved. Thanks again @johanjordaan for the PR.

[2017-04-04 04:43] #3474 closed

[2017-04-04 04:50] Noviny commented on #4152
Have confirmed this is working correctly in keystone4, closing this as an issue.

[2017-04-04 04:50] #4152 closed

[2017-04-04 06:44] Noviny commented on #4158
@soleverlee thanks for the report with easy replication! I tracked down what was causing this and have made a PR

[2017-04-04 14:11] PhillyOne commented on #638
@JedWatson is there another way to do this yet? Embedly is kind of a deal breaker as my reason for choosing keystone was that I could host it myself and not have to link to any external saas providers. Embedly is now also pretty costly.

[2017-04-04 15:53] srl295 commented on #2400
cause:  https://github.com/dodo/node-unicodetable/issues/16#issuecomment-288306521

[2017-04-04 18:11] cwbuecheler commented on #4152
Thanks. I'll make it a priority to upgrade.

[2017-04-05 02:28] callumflack commented on #3696
@Noviny @xenurec we were on keystone 4.0.0-beta.1 and in admin, user records were not loading and also not updating when they did load. Same error as @xenurec : `fields.js:9421 Uncaught TypeError: values.split is not a function`.

This morning I updated to keystone 4.0.0-beta.5 and tried replicating steps that 10mins prior would fail with `values.split is not a function` error and all worked…

Tha

[2017-04-05 04:56] Jugalkish commented on #4165
Hi Sktt, Do you know if we can trim space or put special characters at the time of upload the file in file name.

[2017-04-05 08:37] Jugalkish commented on #4165
It is done after using replace command with originalname..... thanks .... I am closing this

[2017-04-05 08:37] #4165 closed

[2017-04-05 13:37] olegdemkovych commented on #2358
Any changes?

[2017-04-06 01:37] Noviny opened #4181 "Keystone 4 documentation"
We recently made a big push to update our documentation, as well as streamline the process of updating it in the future. To that end, we've redone the documentation site using gatsby, and have put it up on netlify.

What would be great is feedback on the documentation we've got. If you've got some time, a bit of a review would be amazing.

The most important pages to look at are:
-  [the getting s

[2017-04-06 04:25] jimmygeorgethomas commented on #4046
Any progress on this issue? I still have this issue on commit <a href=https://github.com/keystonejs/keystone/commit/fe4be86ea512ccefe92d282dfefe44a312de0ffb>fe4be86ea512ccefe92d282dfefe44a312de0ffb </a>

[2017-04-06 15:12] christroutner commented on #4181
There are a lot of common pitfalls that aren't captured in the *yo
generator guide*. Pitfalls such as specific versions of node to use or
avoid, or having to install yo as sudo (I think, it's been a while). Add to
this that the master branch of Keystone is often broken. That leads to a
lot of frustration and a lack of adoption.

On Wed, Apr 5, 2017 at 6:37 PM, Ben Conolly <notifications@github.com

[2017-04-07 01:41] Noviny commented on #4181
@christroutner Just checking, are you flagging this as three separate issues?

1. Node version specification not provided
2. No information about sudo installing if you cannot globally install
3. Master branch of keystone is often broken

The third does not seem to be a generator or documentation issue, as the generator pulls a set version from npm, and doesn't interact with master.

[2017-04-07 07:35] Jugalkish opened #4182 "Keystone.js: Pop need to refresh when open it next time after closing once."
Hi, I am facing one issue.When i am closing my pop up and opening it again it is not get refreshed.I do not want to refresh my parent window as it has other form also.So please help me with that.

[2017-04-07 11:30] DmitryKvant commented on #3713
Это возможно, просто нужно поработать!

[2017-04-07 15:23] mrth2 opened #4183 "Keystone is not running but display no error"
Hi, I am new to KeystoneJS. I have tried the getting started and successfully started new keystone project on http://localhost:3000 using MacOSX.

But when I deploy a new existing project on local, install the node modules then run: "node keystone" but nothing happens, the console stop just after running the command. On the console of mongod has 5 new open connections. Also the site at "http://loc

[2017-04-07 16:27] sktt commented on #4183
After a fresh install, keystone will compile its whole frontend js bundle when you start it. It might take a minute depending on your machine. Could that be the case?

also see https://github.com/keystonejs/keystone/issues/2824

[2017-04-08 01:18] mrth2 commented on #4183
Hi, thanks for your comment.
I tried and this is my result:

After console the time, node seems to hang up, no response and no web service was running, even the mongodb connection still alive until I break the node process. Is there any way for me to catch the log and see wherever it crashed?

[2017-04-08 03:20] sktt commented on #4183
Maybe.

Try

DEBUG=keystone:* node keystone

On Sat, 8 Apr 2017 at 03:18, Kyle <notifications@github.com> wrote:

Hi, thanks for your comment.
I tried and this is my result:

keystone: 1279.019ms

After console the time, node seems to hang up, no response and no web
service was running, even the mongodb connection still alive until I break
the node process. Is there any way for me to catch the log

[2017-04-08 03:44] mrth2 commented on #4183
Here is the debug log:

So may be the node process hanged up after connection to mongodb

[2017-04-09 02:16] sktt commented on #4183
okay so then see if mongoose have any clues

and maybe check that you dont override logger option for the keystone instance

`keystone.mongoose.set('debug', true)`

[2017-04-09 02:30] mrth2 commented on #4183
Okay thank you for the information. I found out the problem, the project can run only with nodejs 4.0 :)

[2017-04-09 02:30] #4183 closed

[2017-04-09 16:37] jsalazar24712 commented on #4070
Any updates on this one?

[2017-04-09 23:17] export-mike commented on #2980
I've been looking into this, we need to capture more information of the data structure being imported ahead of 'saving' in createItems. To do this will require a significant refactoring and testing to be sure we do not break existing behaviour. I'm going to keep this in mind and figure out a clear path.

For now, as @Noviny suggested you can structure your input into keystone ahead of import. I su

[2017-04-10 02:04] Noviny commented on #4163
Partial fix covering the image removal bugs in #4205

[2017-04-10 05:13] Noviny commented on #3264
This is fixed for Keystone 4. We are no longer working to solve issues with keystone 0.3

[2017-04-10 05:13] #3264 closed

[2017-04-10 12:45] hmlamad opened #4206 "Filters option of Relationship field does not work as expected"
### Expected behavior

The filters option of relationship field doesn't work as expected.
In the keystone CMS, I try to create a document of MessageModel, and in the create form, if I choose push type to be "Topic" and application selected as let's say "Application-A". Then all the topics in the create form are supposed to be filtered.
[code]

### Actual/Current behavior

However, the device or to

[2017-04-10 23:00] yao23 commented on #2724
It should be the issue in keystone/fields/types/cloudinaryimage/CloudinaryImageType.js, as the doc in http://cloudinary.com/documentation/image_transformations, cloudinary.url("sample.jpg", {width: 300, height: 100, crop: "scale", secure: true}) should work if passed cloudinary secure setting is correct. My keystone lib version 0.3.16.

[2017-04-11 12:28] DavyBello opened #4208 "Create page in admin UI doesn't scroll"
### Actual/Current behavior
this page doesn't scroll

![keystone issue](https://cloud.githubusercontent.com/assets/16988644/24909040/4b90033c-1eba-11e7-9735-e3a16d5f3a12.png)

### Steps to reproduce the actual/current behavior
Create a model with several fields

this behavior can be seen in part on the keystone demo site here https://demo.keystonejs.com/keystone/things?create

### Environment
| So

[2017-04-11 14:11] jbeuckm commented on #3969
Any chance of adding Passport at this step?

[2017-04-12 16:14] alexkolson opened #4212 "CodeMirror undefined when trying to use Types.Code"
When using a field of type code, this error gets thrown:

[code]

Looks like [CodeMirror is undefined somehow](https://github.com/keystonejs/keystone/blob/master/fields/types/code/CodeField.js#L38). Is there some sort of configuration that needs to be done so that CodeMirror gets loaded properly?

Thanks!

[2017-04-13 18:50] VadimShvetsov commented on #3808
It's not fixed everywhere, how to deal with it on Alpine with Docker?

[2017-04-13 21:57] jbeuckm commented on #4159
Suggested new feature: Nested overridable templates. There should be templates for an admin page and for each part of the page. If you wanted to change the top section of the admin page for users, you would copy the template from core called "admin_list_all_top.hbs" to your own file "admin_list_users_top.hbs" and remove the manage button. Keystone would look in your "templates" folder and pick up

[2017-04-14 00:44] bassjacob commented on #3808
@VadimShvetsov https://github.com/christkv/kerberos/issues/21#issuecomment-236183686 might be what you're after

[2017-04-14 08:01] VadimShvetsov commented on #3808
@bassjacob Thanks a lot, now it's ok. I leave the comment there with complete command for Alpine, but anyway it's not so convenient to install package with each deployment. Are there some changes with this dependency in future?

[2017-04-14 08:59] bassjacob commented on #3808
unfortunately not that I'm aware of. it's an issue with the operating system, not with this library.

[2017-04-14 09:46] mahnunchik opened #4217 "npm @next points to 4.0.0-beta.1 (latest is 4.0.0-beta.5)"
### Expected behavior

[code]
to be latest 4.0.0-beta.5

### Actual/Current behavior

[code]
install 4.0.0-beta.1

### Steps to reproduce the actual/current behavior

[code]

[code]

[2017-04-14 15:32] nojvek opened #4219 "Please publish typescript typings to aid in type checking and code completion"
Its very cumbersome to switch between documentation and code to figure out what params are accepted by what object. Using typings with docstrings can give help where you need it and make development a lot faster.

[2017-04-15 17:55] peterpme commented on #3875
See #4220

I wanted to get this working without making any drastic changes and I did.

[2017-04-16 06:58] bpavot commented on #534
Hi! Are you still inviting people ? I'd love to join benoit dot pavot at gmail
Thxs!

[2017-04-17 09:48] Fogetti commented on #1898
Is there any news on this? The admin interface refactoring has been out for a year now and I still can't find the new admin UI plugin architecture. All I see is a not very specific reference in the wiki which says: "Subsequent releases (...) Create a Plug-in architecture"

[2017-04-17 18:54] jdr0dn3y commented on #3969
I might want to take this on if we can integrate Passport for this.

[2017-04-17 19:37] matthewlynch commented on #4122
Hi Ghost,

Are you getting any 404/500 errors on the Network Tab inside of the browser DevTools?

Could you provide some more information on how the node app is being run on the server?

[2017-04-17 19:50] matthewlynch commented on #4208
Hey @JedWatson,

Happy to create a PR to change the modal styling slightly so that `overflow-y: scroll;` works on the `.dialog` element if you'd like?

[2017-04-17 21:03] christroutner commented on #4082
Sorry for taking so long to respond. Just saw the activity in this thread.

In the example I showed above, my understanding is that the server is in the same timezone as myself. I'm based in Seattle and the server is in San Francisco. It's a Digital Ocean Droplet. Everything should be running the same time zone.

[2017-04-17 22:23] abourge commented on #1289
+1 It would be so nice to be able to rearrange the tiles in a field. Ordering from the CMS is much more user friendly than ordering on the front end with a manually entered "sortOrder" field.

[2017-04-18 03:14] peterpme commented on #3529
Why can't we use an older version of TinyMCE if its so engrained into the Keystone ecosystem? I'd argue for bringing back the older version if it means it plays nicely with everything else 😄!

[2017-04-18 03:41] Jugalkish opened #4223 "How to use Radio Button for different file upload in keystone."
I need to upload two different template of file in one model.i want to use radio button.How it can be done?

[2017-04-18 07:27] creynders commented on #4082
@christroutner in the v0.3.x branch there is a bug with how the datetimes are translated from front to back, even when using `utc: true`. I don't know if it's the same bug in v4

[2017-04-18 16:27] vseprav commented on #2199
Is it make sense fix this issue in https://github.com/keystonejs/generator-keystone repo? Just add `initial: true`  in https://github.com/keystonejs/generator-keystone/tree/master/app/templates/models

[2017-04-18 21:46] dani190 commented on #3903
@bassjacob Any word on a possible fix? I am still having the issue but have now ran into the relationship issue in version 0.3.22 so I now need to upgrade to 4

[2017-04-19 05:46] mahnunchik commented on #3961
@JedWatson @wmertens any news?

[2017-04-19 05:54] mahnunchik commented on #3961
Naive solution is:

[code]

[2017-04-19 10:18] wmertens commented on #3961
I'd do this by putting an endpoint on your server that creates the manipulations on-the-fly, using query strings. It should also cache the results of course.

e.g. you request `/image/foo.jpg?w=400` and it automatically gives you the image resized to fit within 400px width, or something close enough that it has in cache.

[2017-04-19 14:10] robksawyer commented on #1943
Starting a new project with Keystone and want to have React as the face. Are the above projects still applicable or is there something else I should be paying attention to? IMHO: At first glance https://github.com/laurenskling/keystone-with-react-engine is the most straightforward and seems to play well with existing keystone projects (with minimal setup).

[2017-04-19 14:59] peterpme commented on #1943
Why don't you make keystone an api that is consumed by `next`?

[2017-04-19 15:00] JEGardner commented on #1943
I created this to help me with this issue: https://github.com/JEGardner/ssr-keystonejs-create-react-app

Basically added Keystone and SSR to CRA. Not got round to testing it properly though!

[2017-04-19 15:33] anosikeosifo commented on #3979
I'm still trying to find my way in this tunnel! Please, any light yet?

[2017-04-19 17:28] UnGast commented on #4017
I used the FileSystem adapter.

[2017-04-20 03:18] dani190 opened #4225 "4.0.0-beta5 MongoError: Pool Destroyed - Mongo replica set"
I seem to be having an issue only on 4.0.0-beta5. So far this issue does not appear to happen on 4.0.0-beta4.

My app seems to work fine but when switching between the admin UI and my other pages, eventually I will get the following error in my console:

[code]

I have attempted to upgrade MongoDB and Node to the latest versions as well as all packages without any luck.

MongoDB - 3.4.3
Node -7.9.

[2017-04-20 05:19] anosikeosifo commented on #3979
I've been able to get around it, here are my observations & solution:

There seems to be a mismatch between the asset requests path(src value) and the actual paths of those assets on disc, namely: signin.js, fields.js, admin.js.
It turns out that neither of these filenames exists.

The public folder in keystone/admin/public has only one bundled file(package.js), which loads normally, however when

[2017-04-20 08:04] mahnunchik commented on #3961
@wmertens it is suitable when we need many manipulations on one image.

But when we need only one manipulation then I prefer approach to make manipulation on upload and save result to serve it as is.

[2017-04-20 09:15] wmertens commented on #3961
Even if you only do one manipulation, doing it on-the-fly with a clearable
cache means that you don't have to worry about management of the
manipulated items, and you never have to store results that you never use.
The manipulation is so fast that it doesn't really matter for the first
user.

You can even store the results as the entire GET query (e.g.
"image.jpg?thumbnail") in a cache dir that yo

[2017-04-20 14:43] tavax commented on #791
2 years after, again same problem...
even if I give it a min_height, it have the parent height. So the cursor don't working -_-

[2017-04-20 18:18] bplmp opened #4228 "4.0.0-beta5: WYSIWYG cloudinary images config breaks text editor"
### Expected behavior
Upon adding `'wysiwyg cloudinary images': true` to `keystone.js` configs, it should load a plugin for uploading Cloudinary Images on the WYSIWYG editor.

### Actual/Current behavior
The WYSIWYG editor doesn't load, and the server throws this error: `GET /keystone/js/lib/tinymce/plugins/uploadimage/plugin.min.js 404 18.162 ms`

[2017-04-20 18:51] bradwbradw commented on #1541
i wanted the original filename.  Luckily it's documented in this issue, but the doc here needs updating: http://keystonejs.com/docs/database/#fieldtypes-s3file

i ran into this running version `0.3.19`

[2017-04-20 19:19] bplmp commented on #4228
Maybe this commit was what caused it: https://github.com/keystonejs/keystone/commit/940b77fdae26a2f70d8c30f1b4ca638be4bad839

It removed the `uploadimage` plugin from the `/js/lib/tinymce/plugins/` folder.

[2017-04-20 19:58] dani190 commented on #4116
I have this issue also. This happens on beta4. Beta 5 works but i start getting Mongo Pool destroyed messages https://github.com/keystonejs/keystone/issues/4225

[2017-04-20 23:31] ytzvan commented on #741
Is this feature documented?

[2017-04-21 00:32] sktt opened #4229 "4.0.0-beta5: Export json/csv is broken"
### Expected behavior
Exception is thrown:
[code]

### Steps to reproduce the actual/current behavior
1. Go to a list in admin ui
2. chose export
3. select a few fields

The admin UI sends the query param `select` with the fields to export as a comma separated string, while `/lib/list/getData.js` expects `fields` to be an array. This leaves to options to fix the issue:

1. Patch admin UI, modify `

[2017-04-21 13:08] rguillet commented on #4228
Duplicate with https://github.com/keystonejs/keystone/issues/3529

(They provide a temporary fix)

[2017-04-21 14:10] dani190 commented on #4225
So far the only way I seem to be able to resolve this is to run beta 3 with my replica set. In development beta 5 works fine but dev doesn't have a replica set configured.

Any help is appreciated. Looks like I will need to stick with beta 3 for now as even beta 4 has an issue where pages refuse to load (Also reported in the issue tracker).

[2017-04-21 18:01] soupaJ commented on #4027
@shivshankar3578 add a slash to the end of your publicPath in the `fs` options.
Like:
[code]

[2017-04-21 22:27] r3wt commented on #916
@JedWatson is there any work around for this? Anything i can edit in Keystone js internals to make this work?

[2017-04-23 13:15] jakow commented on #4219
@nojvek I am in the process of writing types for keystone 4.0.0. Will submit a pull request when done!

[2017-04-23 13:16] nojvek commented on #4219
That is awesome!

On Sun, Apr 23, 2017 at 6:15 AM Jakub Kowalczyk <notifications@github.com>
wrote:

[2017-04-23 14:51] larskarbo commented on #4133
I think this happens when images are selected individually in the file chooser

To reproduce, try selecting multiple images one by one, and not selecting all at once

[2017-04-24 07:36] harshalyeole-tudip commented on #131
How is it closed without a solution??

[2017-04-24 08:02] VadimShvetsov commented on #3808
@bassjacob well, you're right, i've tried to change node version and can wrap it now:

- `node.7.4.0-alpine` image as base can go without kerberos dev package.
- `node.7.8.0-alpine` can't

If you need to use higher node version than 7.4 (haven't tested 7.5-7.7 with it) you can add kerberos dev package with command:

`RUN apk add --no-cache --update krb5-dev`.

[2017-04-24 10:04] svpe commented on #1140
I added the uploadimage plugin to my fork of keystone. I've sent a pull request. Depending on if the plugin was deliberately left out in this version or not @JedWatson will pull it. However in my use case everything seems to work just fine now.

[2017-04-24 20:16] thewolff commented on #2703
dependsOn no longer appears to be working on such a way where this is a valid solve. Any ideas on how to get this to work?

[2017-04-24 20:28] agreen757 commented on #959
`Error: Cannot find module '../build/Release/bson'] code: 'MODULE_NOT_FOUND'`

Had an issue where it was working locally but giving above error on Heroku.
I have so far added a postInstall script:

`"postinstall": "npm i keystonejs/keystone"`

This works but slows down deployments.
What is the version of keystone to which I have to upgrade to avoid this?

[2017-04-25 02:55] goldcome commented on #3781
I want to know , are there any examples

[2017-04-25 04:22] GreenGeorge opened #4234 "4.0.0-beta.5 Trying to bundle keystone with webpack, consistently hangs at 64%"
### Expected behavior
Webpack should be able to run keystone app through loaders and bundle up a server.js package.

### Actual/Current behavior
On `webpack --progress` the building process keeps stalling at 64%. When I remove keystone it bundles fine.
[code]

### Steps to reproduce the actual/current behavior
[code]
[code]

### Environment

| Software         | Version
| ---------------- | ------

[2017-04-25 08:21] export-mike commented on #4234
What's the reason for wanting keystone to run in a bundle? I assume the
browser too? Why do you need a server.js package?

Keystone only runs in a node environment.

On Tue, 25 Apr 2017 at 2:22 pm, George Ananda <notifications@github.com>
wrote:

[2017-04-25 14:31] emagnier commented on #3320
+1 to move all the fields in a separate repo(s) / module(s)

I don't use Keystone on my project but I need a few fields that are all in the Keystone project.
Instead of reinventing the wheel (or do an ugly integration), have them as plugins would also help to integrate them on any React projects.

And this would help contributions (even if we don't use the Keystone framework).

[2017-04-25 17:13] webteckie commented on #4219
I also had an effort going as part of my app to create a keystone Typescript declaration file.  But I haven't done anything with it for a while due to other life priorities.  But it was almost there, if I remember correctly.

[2017-04-26 16:59] L422Y commented on #1021
bump :(

[2017-04-26 21:50] export-mike commented on #1021
There's been progress on new docs which is currently being worked on, you have a look at it on the staging URL we have http://keystonejs.netlify.com/api/field/textarray/

[2017-04-27 07:08] jjmpsp commented on #3974
Bumping this. Seems like a severe security issue.

[2017-04-27 12:45] jakow commented on #4219
@webteckie Would you be able to share it? I too seem to have most of the core functionality declared (testing it on a project in development, works brilliant so far), but it would be helpful to have a look whether I missed something. Cheers.

[2017-04-27 12:52] jakow commented on #4234
@GreenGeorge You need to use keystone (and any project dependency for that matter) as an external dependency, by using webpack's 'externals':
[code]

I use [webpack-node-externals](https://github.com/liady/webpack-node-externals) to generate a list of node modules to not be included in the bundle.

[2017-04-27 16:09] webteckie commented on #4219
@jakow I will try to put it out there my tonite.  Will update with link after I do.  But note, I'll just take whatever and in whatever shape it is on as I can't remember what I was doing with it last :=)

[2017-04-27 18:20] jac1013 opened #4241 "Problem trying to sign in after following the steps of Get Started page."
### Expected behavior
* I should be able to enter to http://localhost:3000/keystone/signin and see the signin view.

### Actual/Current behavior
* I get an error in the console that's related to ``signin.js`` file in keystone core library.
[code]

### Steps to reproduce the actual/current behavior
* I followed the Tutorial in the Getting Started page.
* I used all the defaults values in the yeoman

[2017-04-27 23:54] webteckie commented on #4219
@jakow have at it:  https://github.com/webteckie/keystonejs-ts

Again, that is what I have as the latest in my system.  I have not played with this in a few months thus not sure if things have changed or otherwise the state I left this on.  I should be back on it soon.  But please let me know what you come up with :-)  Thanks!

[2017-04-28 03:24] l3wi commented on #1585
Again any update on status?

[2017-04-28 12:06] mahnunchik opened #4244 "Default render function does not handle upstream error"
### Steps to reproduce the actual/current behavior

[code]

Error: https://github.com/keystonejs/keystone/blob/v0.3.21/lib/view.js#L372
Handler: https://github.com/keystonejs/keystone/blob/v0.3.21/lib/view.js#L333

### Environment

| Software         | Version
| ---------------- | -------
| Keystone         |  from 0.3 to 4

[2017-04-28 22:11] blingerson commented on #534
ryan.p.mcginty at gmail. Thanks!

[2017-04-29 12:17] Allmektiger opened #4245 "4.0.0-beta.5: Storage.Adapters.FS and deleting/overwritting files"
Hello.
I want to make avatar loading for users in local filesystem, but have a little headache with it...

`var myStorage = new keystone.Storage({
    adapter: keystone.Storage.Adapters.FS,
    fs: {
        path: 'public/images/users',
        publicPath: '/images/users',
        whenExists: 'overwrite'
    },
});`
...
`avatar: { type: Types.File, storage: myStorage },`

Firstly, loading in admin

[2017-04-30 09:54] koloboid commented on #741
@mxstbr any suggestion?

[2017-05-01 12:46] steevsachs opened #4251 "Sort by relationship always sorts by _id of related field even though name is rendered in admin UI"
### Expected behavior

When sorting by a relationship field, the sort should be alphabetical by the string that is actually rendered in the admin UI.

### Actual/Current behavior

Currently the support appears to be alphabetical by the ObjectId.toString() value of the related document's _id property.

### Steps to reproduce the actual/current behavior

1. Create two Lists and include a String name

[2017-05-01 17:42] GreenGeorge commented on #4234
@jakow I see, this works great! I guess It wasn't clear to me that bundling for server has an entirely different approach than for browsers.

[2017-05-01 17:42] #4234 closed

[2017-05-01 21:21] Allmektiger opened #4253 "4.0.0-beta.5: paginate ignores where"
[code]

When i try to filtering results and paginate them, **exec** always returns **total** and **totalPages** for all objects and ignore where.
For example, when objects totals amount is 18, and with filtering returns only 6 of them, paginate anyway tells that total=18 and totalPages=2.
Why this happens?

### Environment
Keystone: 4.0.0-beta.5
Node: 6.10.2

[2017-05-01 22:29] yao23 commented on #1570
It complains aggregate not found

[2017-05-02 13:50] VadimShvetsov commented on #3722
I have the same issue.

[code]

I have field with type.Name as required in model, but it's able to add item without name in DB.

[2017-05-03 08:44] export-mike commented on #4234
Still don't see the need for bundling the server code. be good to understand what it is your trying to achieve as I might be missing something.

I typically have the following workflow:

In development:
webpack-dev-server and babel-node

In production:
webpack build files hosted either by node or on s3.
node server transpilled with babel cli tools on post install. that way when the server starts i

[2017-05-03 18:16] jac1013 commented on #4241
The problem was related to the version of node being used.

I think we need to specify somewhere in the documentation the Node version that we need to use in order for Keystone to work properly (for example I had problems with Node 7.4, and it worked in Node 4.3).

Just in case anyone get in the way of this issue.

[2017-05-03 18:16] #4241 closed

[2017-05-04 12:52] GreenGeorge commented on #4234
@export-mike Yes, I've been toying with a bundled keystone server since @jakow pointed out that solution. I do see how this is actually making it more unwieldy (apparently the updates folder needs to be copied as is right next to the bundled file to start the server).

I'll definitely try out your workflow as it seems reasonable. What I'm trying to achieve with bundling is basically just a streaml

[2017-05-04 15:50] yao23 commented on #1570
correct syntax:

    keystone.list('Reading').model.aggregate([ ]).exec(function(err,data){console.log(data);})

[2017-05-05 03:22] export-mike commented on #4234
@GreenGeorge I understand.

You should be using just a babel transpile to get the code ready for running in a node environment, meanwhile you need to bundle your app for the browser. webpack is for 'bundling' for a browser.

To keep your syntax inline you can use the same .babelrc file. This does have its drawbacks though as node 7 is the most es6 compliant version to date. so it makes sense to on

[2017-05-05 10:26] GreenGeorge commented on #4234
@export-mike I see, I misunderstood and thought you were using babel-node on dev and webpack on production for the **server**. Didnt think its the client.

Thanks very much your repo cleared things up for me

[2017-05-05 17:28] ghuroo commented on #534
ghuroo at gmail dot com

thanks!

[2017-05-05 17:36] DianeLooney commented on #4253
This seems not intended. Here's a workaround:

[code]

The filters option passed into paginate needs to be recognized by mongoose's model.find( ... ).

[Link to the relevant line of code](https://github.com/keystonejs/keystone/blob/v4.0.0-beta.5/lib/list/paginate.js#L22)

[2017-05-05 17:49] Allmektiger commented on #4253
Thank you very much!

[2017-05-05 17:49] #4253 closed

[2017-05-06 12:45] ellipticaldoor opened #4264 "Webpackify-build branch has fixed admin path"
When the "admin path" option is changed the admin stops loading data on the admin.

I had to fork the branch and made the change manually

https://github.com/ellipticaldoor/keystone/commit/aab8575a47bcb3870f38964655b2b559ad4da6b2

How I can rebuild keystone with my custom admin path?

[2017-05-07 08:10] VadimShvetsov commented on #4160
I'm trying to find another solution instead keystone now because it's force me to rewrite 2 models (keystone and mongoose) in migrations. It's difficult to test keystone models at now, but if @creynders will add possibility to import existing model in app it would more flexible and would be the best admin UI framework for sure.

[2017-05-07 08:51] creynders commented on #4160
@VadimShvetsov importing existing models won't be for the near future. The problem is that Keystone expands the functionality and data types. E.g. an e-mail field will be a simple String in mongoose, but will be of type Email in Keystone, so you need some way to tell keystone that the simple string declaration in the mongoose model should be treated as Email in keystone. I.e it will require some k

[2017-05-07 11:25] VadimShvetsov commented on #4160
@creynders Yeah, I understand, but for me it's more convenient to not expand my model with Keystone types, I need to tweak paths like 'email' with validators and my own methods, it's quite difficult with defined types. Adding existing models can add more flexibility to the framework but it's too much refactoring needed for it and I understand it's not necessary now.

[2017-05-07 18:03] SundownDEV opened #4268 "4.0.0: Twig cache still set to true in developpment"
When passing env in developpment, twig cache isn't set to false, I have to set it manually in node_modules/twig/twig.js. In fact whatever the setting of env and cache view, the twig cache is always set to true.

| Software         | Version
| ---------------- | -------
| Keystone         |  4.0.0
| Node             |  v7.3.0

[2017-05-07 20:58] jonnyasmar commented on #4268
Even when setting `Twig.cache = false` in `node_modules/twig/twig.js`, changes made to Twig templates do not appear unless I restart keystone (`node keystone.js`).

Do we need to apply any particular configurations to enable hot reloading in KeystoneJS? I thought that was default behavior if in development mode.

[2017-05-07 22:36] jenklu opened #4270 "Node version requirements are not listed strictly enough"
### Expected behavior

In the "Getting Started - Prerequisites" page, Node is listed as requiring simply 0.10+, which implies any version > 0.10 would work correctly with keystone.

### Actual/Current behavior

However, as described in this question: https://groups.google.com/forum/#!searchin/keystonejs/localhost|sort:relevance/keystonejs/sOouK1Cdd7Y/wUZCiQzcBQAJ on the keystone google groups, whe

[2017-05-09 14:24] ChrisWphoto commented on #3564
Jest doesn't seem to play nice with Keystone even after fixing this. I am having trouble loading models via keystone.list() when I run the test using Jest.

[2017-05-09 16:47] yao23 opened #4273 "Is there any plugin for related posts recommendation in blog post page, like Disqus for comments?"
Is there any plugin for related posts recommendation in blog post page, like Disqus for comments?

I have already post in KeystoneJS feature community but didn't get any response.
https://keystonejs.canny.io/feature-requests/p/related-posts-plugin

[2017-05-10 08:10] TheLordHighExecutioner opened #4279 "Updating React Router 4"
Hey, I would love to help update your project to React Router 4. Would you be interested in that?

[2017-05-10 10:55] webhacking commented on #1566
Just do it

`chmod g+rwx /root /root/.config /root/.config/configstore/*
`

[2017-05-10 20:10] ttsirkia opened #4281 "Current status of the project"
I've been eagerly waiting next beta releases or even the production ready Keystone 4.0. However, it seems that the repository has been inactive over a month. I'm just wondering what is the current status of the project. Is there still something happening behind the scene or is the project abandoned as it very unfortunately looks like?

[2017-05-11 04:55] SiriMhM opened #4282 "Error R10 - (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch"
Hey,

I am trying to get keystonejs git project run as a new App in my heroku free account.

I have used the keystonejs deploy button on github and keystonejs has been deployed.
It did not start so I found out that I had to change a config variable in Heroku.
So I went to "Settings" -> Config Variables and deleted the old "MONGO_URI" variable and replaced it with "MONGOLAB_URL" with the copied val

[2017-05-11 05:07] export-mike commented on #4282
hi what does your keystone.js file look like?

[2017-05-11 06:27] SiriMhM commented on #4282
@export-mike
[code]

It is this one:

https://github.com/keystonejs/keystone-starter/blob/master/keystone.js

[2017-05-11 10:18] wangshijun commented on #4281
same question @JedWatson

[2017-05-11 13:23] webdesign7 commented on #1249
How to customise 404 error page ?  ( for eg. to add some links to homepage or something like that ) ?

[2017-05-11 13:39] webdesign7 commented on #4281
I just started using keystone ( awesome cms )  .. and really would like to see status .. Thanks

[2017-05-11 13:45] ghuroo commented on #4281
I use it as my framework for most of the work I do.
So I would love to see it alive, even if with small improvements each time.

Also plan to help development as soon as I finish learning react.

[2017-05-11 23:01] lucasvall commented on #4281
Yes, any idea what is going on? No commit in 2 months? Anybody knows @JedWatson? No activity in his Twitter either (https://twitter.com/jedwatson?lang=en).
May be @Noviny has updates (I have seen him committing and also part of KeystoneJS organization)?
@bladey , @grabbou , @jstockwin , @LennyBoyatzis ? They all are part of the Keystone JS too.

[2017-05-12 02:15] export-mike commented on #4282
set your port on init:

[code]

[2017-05-12 02:15] #4282 closed

[2017-05-13 18:20] VinayaSathyanarayana commented on #3228
Where can one get the latest documentation on the "File" Field Type?
What is the status of AWS S3?
Any plans for Google Storage?

[2017-05-13 18:48] mx781 commented on #3228
@VinayaSathyanarayana [this](https://github.com/keystonejs/keystone/wiki/File-Fields-Upgrade-Guide) was most helpful to me, and I believe is the bulk of documentation available. There's some more in the actual source folder, but it seems less complete.

[2017-05-14 12:01] JedWatson commented on #4281
Hey everyone, sorry for the delay between updates. We're doing a huge amount of work behind the scenes at the moment, and I'll update in full when we've got more information. I've also been taking some time off for personal reasons lately which hasn't helped us stay on top of comms 🙂

First up, 4.0 is in production for every project we've got, but there are a couple fixes left (including a change

[2017-05-14 12:01] #4281 closed

[2017-05-14 12:05] ttsirkia commented on #4281
Great news! Thanks @JedWatson for letting us know this.

[2017-05-14 16:11] lucasvall commented on #4281
Thanks for the update!

[2017-05-14 16:44] christroutner commented on #4281
Hey @JedWatson I'm not sure what the proper channel would be for this, so I'll put this here. I've implemented my own plugin extension code into KeystoneJS. I'm using it for ConnextCMS, but it's not specific to that project. It works more generally for KeystoneJS. I've been using it for the last few months and it's been working great. It allows me to update my local KeystoneJS repository without b

[2017-05-14 22:08] webdesign7 commented on #4281
Thanks @JedWatson , but what you mean by this ?

about what project you were talking about ? keystone or other one ?

[2017-05-15 07:32] jstockwin commented on #4281
@webdesign7 "the project" will mean KeystoneJS

[2017-05-15 12:29] mahnunchik opened #4291 "TypeError: mime is not a function"
[code]

It seems something wrong with this module: https://github.com/keystonejs/keystone/blob/master/lib/storage/index.js#L4

### Environment

| Software         | Version
| ---------------- | -------
| Keystone         |  4.0.0-beta.5
| Node             |  v6.10.2

[2017-05-15 12:32] mahnunchik commented on #4291
https://github.com/keystonejs/keystone/blob/master/lib/storage/index.js#L120 should be `mime.lookup`

[2017-05-15 17:23] sarkistlt opened #4293 "using webpack for server side code, doesn't work"
I'm trying to bundle server side code for 2 reason, I want to be able freely use es6 + type checking with TypeScript or Flow. In both cases I need to compile code to vanila js.

I'm using keystone.js as entrance to app, so bundle creates with no error, but when I'm trying to run it, it shows errors like

[code]

Error comes from `dispatchImporter` function in keystone module, I guess because keyst

[2017-05-16 00:45] export-mike commented on #4293
Duplicate of closed issue: https://github.com/keystonejs/keystone/issues/4234

[2017-05-16 00:45] #4293 closed

[2017-05-16 00:45] export-mike commented on #4293
Feel free to discuss your use case in https://github.com/keystonejs/keystone/issues/4234